body {
   background-image: url("../Images/Homepage/start.png");
   background-size: cover;
}

.play {
   margin: 25% auto;
   height: 80px;
   width: 120px;
   border: none;
   border-right: solid 2px #606060;
   border-bottom: solid 2px #606060;
   border-radius: 5%;
   background-image: url("../Images/Homepage/tilled.png");
   background-size: cover;
   color: #fff;
   text-shadow: 2px 2px 2px #606060;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

a {
   text-decoration: none;
}

#bird {
   position: absolute;
   top: -50px;
   right: -100px;
   height: 100px;
   width: auto;
}
