<link rel="stylesheet" href="Styles/Vegetable Dash/genes.css">
<div class="genelabShadow">
   <span onclick="hideObj('.genelabShadow'); gameData.genelabOpen = false;" class="closeModal">X</span>
   <h1>Welecome to the GENE LAB</h1>
</div>



<div class="tab-window-backdrop window-genelab">
   <div class="tab-window">
      <div class="tab-bar">
         <div class="tab tab-genelab tab-genelab-peas active-tab" onclick="scrollToSection('genelab', 'peas')">Peas</div>
         <div class="tab tab-genelab tab-genelab-corn" onclick="scrollToSection('genelab', 'corn')">Corn</div>
         <span class="window-close" onclick="toggleWindow('genelab'); gameData.genelabOpen = false;">x</span>
      </div>
      <div class="tab-pages">
         <div class="page" id="page-genelab-peas">
            <h1 class="big-title">Peas</h1>
            <ul class="tree">
               <li>
                  <div class="trait">
                     <div class="trait-img-parent">
                        <img src="">
                     </div>
                     <div class="trait-about">
                        <p class="trait-name">Head</p>
                        <p class="trait-info">holds links and title</p>   
                     </div>
            </div>
                  <ul>
                     <li>
                        <div class="trait">
                           <div class="trait-img-parent">
                              <img class="trait-img" src="Images/New/dna.png">
                           </div>
                           <div class="trait-about">
                              <p class="trait-name">Head</p>
                              <p class="trait-info">holds links and title</p>   
                           </div>
                        </div>                        
                        <ul>
                           <li>
                              <div class="trait">
                                 <div class="trait-img-parent">
                                    <img src="">
                                 </div>
                                 <div class="trait-about">
                                    <p class="trait-name">Head</p>
                                    <p class="trait-info">holds links and title</p>   
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </li>
                     <li><code>body</code>
                        <ul>
                           <li>
                              <div class="trait">
                                 <div class="trait-img-parent">
                                    <img src="">
                                 </div>
                                 <div class="trait-about">
                                    <p class="trait-name">Head</p>
                                    <p class="trait-info">holds links and title</p>   
                                 </div>
                              </div>
                              <ul>
                                 <li>
                                    <div class="trait">
                                       <div class="trait-img-parent">
                                          <img src="">
                                       </div>
                                       <div class="trait-about">
                                          <p class="trait-name">Head</p>
                                          <p class="trait-info">holds links and title</p>   
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="trait">
                                       <div class="trait-img-parent">
                                          <img src="">
                                       </div>
                                       <div class="trait-about">
                                          <p class="trait-name">Head</p>
                                          <p class="trait-info">holds links and title</p>   
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </li>
                           <li><code>nav</code>
                              <ul>
                                 <li><code>a</code></li>
                                 <li><code>a</code></li>
                                 <li><code>a</code></li>
                                 <li><code>a</code></li>
                              </ul>
                           </li>
                           <li><code>main</code>
                              <ul>
                                       <li><code>h1</code></li>
                                       <li><code>article</code>
                                           <ul>
                                               <li><code>h2</code></li>
                                               <li><code>p</code></li>
                                               <li><code>p</code></li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li>
                               <li><code>aside</code>
                                   <ul>
                                       <li><code>h2</code></li>
                                       <li><code>p</code></li>
                                       <li><code>p</code>
                                           <ul>
                                               <li><code>a</code></li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li>
                               <li><code>footer</code>
                                   <ul>
                                       <li><code>nav</code>
                                           <ul>
                                               <li><code>a</code></li>
                                               <li><code>a</code></li>
                                               <li><code>a</code></li>
                                               <li><code>a</code></li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li>
                           </ul>
                       </li>
                   </ul>
               </li>
           </ul>
         </div>
         <div class="page" id="page-genelab-corn">
            <h1 class="big-title">Corn</h1>
         </div>
      </div>
   </div>
</div>



<!-- 
Here's some things to do:
- fix tree design
- only show tab if plant is unlocked
- lina tasks
- lina chat system
- integrate trait benifits
- upgrade traits (takes time)
- images

When all this is complete, make a new update!
 -->