<div class="shadow help-shadow">
   <div class="help">
      <button onclick="hideObj('.help-shadow'); gameData.helpOpen = false;" class="close closeModalHelp">x</button>
      <div class="help-subjects">
         <div class="help-subjects-item" onclick="hlpScrl('center')">Center</div>
         <div class="help-subjects-item" onclick="hlpScrl('planting')">Planting</div>
         <div class="help-subjects-item" onclick="hlpScrl('harvesting')">Harvesting</div>
         <div class="help-subjects-item" onclick="hlpScrl('plots')">Plots</div>
         <div class="help-subjects-item" onclick="hlpScrl('seeds')">Seeds</div>
         <div class="help-subjects-item" onclick="hlpScrl('market')">Market</div>
         <div class="help-subjects-item" onclick="hlpScrl('market-exchanges')">Market Exchanges</div>
         <div class="help-subjects-item" onclick="hlpScrl('black-market')">Black Market</div>
         <div class="help-subjects-item" onclick="hlpScrl('market-resets')">Market Resets</div>
         <div class="help-subjects-item" onclick="hlpScrl('fertilizer')">Fertilizer</div>
         <div class="help-subjects-item" onclick="hlpScrl('tasks')">Tasks</div>
         <div class="help-subjects-item" onclick="hlpScrl('weather')">Weather</div>
         <div class="help-subjects-item" onclick="hlpScrl('disasters')">Disasters</div>
         <div class="help-subjects-item" onclick="hlpScrl('weeds')">Weeds</div>
         <div class="help-subjects-item" onclick="hlpScrl('farmer-jebediah')">Farmer Jebediah</div>
         <div class="help-subjects-item" onclick="hlpScrl('grandpa-jenkins')">Grandpa Jenkins</div>
         <div class="help-subjects-item" onclick="hlpScrl('grandma-josephine')">Grandma Josephine</div>
         <div class="help-subjects-item" onclick="hlpScrl('plant-times')">Plant Times</div>
         <div class="help-subjects-item" onclick="hlpScrl('shortcuts')">Shortcuts</div>
         <div class="help-subjects-item" onclick="hlpScrl('about-copyright')">About & Copyright</div>
      </div>
      <div class="help-information">
         <div id="help-center">
            <h1>Help Center</h1>
            <p>This is an incomplete guide of Vegetable Dash. If any old or experienced players want to make changes or add new pages, email me here: thehillsidetownship@gmail.com</p>
            <p>hello?</p>
         </div>
         <div id="help-planting">
            <h1>Planting</h1>
            <p>Just press the button that says grow, then use a rare and powerful skill called <em>patience</em>, and wait until it says <span onclick="hlpScrl('harvesting')">Harvest</span>.</p>
            <img src="Images/Help/plant-harvest.gif" style="height: 50vh">
         </div>
         <div id="help-harvesting">
            <h1>Harvesting</h1>
            <p>A button shall appear out of thin air, and written on it shall be that wonderful word: Harvest [Vegetable Name]. You want to press that button. By doing this, you shall gain 1 vegetable of that type and 1 seed. By harvesting there is a 5% chance of collecting a <span onclick="hlpScrl('market-resets')">Market Reset</span>, a 10% chance of collection 2 extra vegetables, and a 20% chance of collecting 5 extra <span onclick="hlpScrl('seeds')">Seeds</span>.</p>
            <img src="Images/Help/plant-harvest.gif" style="height: 50vh">
         </div>
         <div id="help-plots">
            <h1>Plots</h1>
            <p>Plots are where vegetables are grown. Each plot grows a certain type of vegetable. To unlock the next plot, hover over the large yellow lock and click 'purchase plot'. This shall cost <span onclick="hlpScrl('seeds')">Seeds</span></p>
            <img src="Images/Help/plots.png" style="height: 50vh">
         </div>
         <div id="help-seeds">
            <h1>Seeds</h1>
            <p>In this wonderful utopia, seeds are the only currency, most carrots are purple, and the sky is always blue except the times when it is not. Most thing require seeds such as unlocking plots and exchanging in the <span onclick="hlpScrl('market')">Market</span>. You can collect them by selling produce in the market or <span onclick="hlpScrl('harvesting')">Harvesting</span> vegetables.</p>
         </div>
         <div id="help-market">
            <h1>Market</h1>
            <p>The market is a wonderful and bustling place filled with plenty of vegetables. It can be accessed by hovering over the bar in the bottom left corner then clicking the button with a shop icon. It show how much <span onclick="hlpScrl('seeds')">Seeds</span> you have in the first box. The next box has a the amount of a certain type of vegetable you have, and you can sell 5 of them for an amount of <span onclick="hlpScrl('seeds')">Seeds</span> or buy 5 for some <span onclick="hlpScrl('seeds')">Seeds</span>. You can reset the price values with <span onclick="hlpScrl('market-resets')">Market Resets</span>. Holding Shift multiplies you order by 5, while holding Ctrl multiplies it tenfold.</p>
            <img src="Images/Help/market.png" style="height: 45vh">
         </div>
         <div id="help-market-exchanges">
            <h1>Market Exchanges</h1>
            <p>To be found in the market is a place where many traders come to show their goods, the market exchanges corner. For an amount of one vegetable, you can get a set amount of another, no seeds required.</p>
            <img src="Images/Help/market-exchanges.png" style="height: 26vh">
         </div>
         <div id="help-black-market">
            <h1>Black Market</h1>
            <p>The black market is a wonderful and bustling place filled with plenty of illegal items. It located at an undisclosed location. For an amount of <span onclick="hlpScrl('help-seeds')">seeds</span> you can purchase illegal items such as <span onclick="hlpScrl('help-market-resets')">Market Resets</span>. But watch out! There is a 2% chance that the police will catch you and make you pay a terrible fine! To make matter worse, when you make a trade, the chance goes up by 1%.</p>
         </div>
         <div id="help-market-resets">
            <h1>Market Resets</h1>
            <p>Market resets can be found as the last item in the <span onclick="hlpScrl('market')">Market</span>. By using one all of the values in the market are reset to what they began as, not the outrageous price they have become. There is a 1% chance of collecting one after each trade, and a 5% chance after each harvest. One is gained every time you unlock a plot.</p>
            <img src="Images/Help/market-resets.png" style="height: 50vh">
         </div>
         <div id="help-fertilizer">
            <h1>Fertilizer</h1>
            <p>Fertilizer is a useful item, that when used on a plant will make the plant instantly conclude growing and yield one extra of that vegetable. Fertilizer can be bought in the <span onclick="hlpScrl('black-market')">Black Market</span>, or earned from <span onclick="hlpScrl('tasks')">Tasks</span>.</p>
            <img src="Images/Help/fertilizer.gif" style="height: 50vh">
         </div>
         <div id="help-tasks">
            <h1>Tasks</h1>
            <p>Tasks are small chores that <span onclick="hlpScrl('jebediah')">Farmer Jebediah</span>, <span onclick="hlpScrl('jenkins')">Grandpa Jenkins</span>, <span onclick="hlpScrl('josephine')">Grandma Josephine</span>, or special guests request that require you to do a task for them or pay some items. They give helpful rewards like <span onclick="hlpScrl('fertilizer')">Fertilizer</span> and <span onclick="hlpScrl('market-resests')">Market Resests</span>.</p>
            <img src="Images/Help/tasks.png" style="height: 50vh">
         </div>
         <div id="help-weather">
            <h1>Weather</h1>
            <p>Weather is a natural phenomenon that sometimes occurs, usually in the sky. It will effect your plants, sometimes positively and sometimes negatively. Keep a close eye on the weather in the bottom right corner! Next weather can be seen on the bottom right and last weather on the bottom left.</p>
            <img src="Images/Help/weather.png" style="height: 50vh">
         </div>
         <div id="help-disasters">
            <h1>Disasters</h1>
            <p>Disasters occur every once in a while, a chance of them occurring happening every eight minutes. This could result in losing crops, seeds spoiling, and other undesirable happenings.</p>
            <img src="Images/Help/disasters.png" style="height: 50vh">
         </div>
         <div id="help-weeds">
            <h1>Weeds</h1>
            <p>Weeds are small little plants that grow places you don't want them to. However, you do want these weeds, because of you gather enough and compost them you get fertilizer! Weeds will appear in random plots, and if you harvest five you will receive one fertilizer.</p>
         </div>
         <div id="help-farmer-jebediah">
            <h1>Farmer Jebediah</h1>
            <p>Previous owner of the farm, you closest adviser. He gives many important <span onclick="hlpScrl('tasks')">Tasks</span>.</p>
            <img src="Images/Tasks/farmer.svg" style="height: 50vh">
         </div>
         <div id="help-grandpa-jenkins">
            <h1>Grandpa Jenkins</h1>
            <p>Guide on everything farming, bearer of the Bunny Slippers, and giver of <span onclick="hlpScrl('tasks')">Tasks</span>.</p>
            <img src="Images/Tasks/jenkins.png" style="height: 50vh">
         </div>
         <div id="help-grandma-josephine">
            <h1>Grandma Josephine</h1>
            <p>Your personal economic adviser, and giver of <span onclick="hlpScrl('tasks')">Tasks</span>.</p>
            <img src="Images/Tasks/granny.png" style="height: 50vh">
         </div>
         <div id="help-plant-times">
            <h1>Plant Times</h1>
            A nice table that shows the growing times for all the plants.
            <br><br><br>
            <table>
               <tr><th>Vegetable</th><th>Growing Time</th></tr>
               <tr><td>Peas</td><td>10 Seconds</td></tr>
               <tr class="tm-tb tm-tb-co"><td>Corn</td><td>30 Seconds</td></tr>
               <tr class="tm-tb tm-tb-st"><td>Strawberries</td><td>1.5 Minutes</td></tr>
               <tr class="tm-tb tm-tb-eg"><td>Eggplant</td><td>5 Minutes</td></tr>
               <tr class="tm-tb tm-tb-pu"><td>Pumpkin</td><td>15 Minutes</td></tr>
               <tr class="tm-tb tm-tb-ca"><td>Cabbage</td><td>45 Minutes</td></tr>
               <tr class="tm-tb tm-tb-da"><td>Dandelion</td><td>2 Hours</td></tr>
               <tr class="tm-tb tm-tb-rh"><td>Rhubarb</td><td>6 Hours</td></tr>
           </table>
         </div>
         <div id="help-shortcuts">
            <h1>Shortcuts</h1>
            <p style="font-size: 4vh; font-family: 'Nunito'">
               <strong>Shift + T</strong> to toggle <i>Tasks</i> <br>
               <strong>Shift + S</strong> to toggle <i>Settings</i> <br>
               <strong>Shift + P</strong> to toggle <i>Plant Cursor</i> <br>
               <strong>Shift + H</strong> to toggle <i>Harvest Cursor</i> <br>
               <strong>Shift + F</strong> to toggle <i>Fertilizer Cursor</i> <br>
               <strong>Shift + M</strong> to toggle <i>Market</i> <br>
               <strong>Shift + A</strong> to <i>Grow/Harvest All</i> <br>
               <strong>Shiftx2</strong> to toggle <i>Quick Vegetable Information</i> <br>
               <strong>Shift + Click</strong> to buy <i>x5 in Market</i> <br>
               <strong>Ctrl + Click</strong> to buy <i>x10 in Market</i> <br>
            </p>
         </div>
         <div id="help-about-copyright">
               <h1>About & Copyright</h1>
               This game is &copy copyrighted by Editor Rust. If you want to help, email me at <a href="mailto:thehillsidetownship@gmail.com">thehillsidetownship@gmail.com</a>, or send a suggestion. <br>
               Strawberry, Eggplant, Plot, Pea and other images are courtesy of <a href="https://www.youtube.com/channel/UCW4Ba6Mu-nRZII6kg2eEGzA">Urdons</a>. <br>
               <span>Barrel and help icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span><br>
               <span>Seed packet icon made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span><br>
               <span>Settings icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span><br>
               <span>Command bar market icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
               <span>Plant clock icon made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
               <span>Settings cursor icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
               <br><br>
               <table>
                  <tr>
                     <th>Version Number</th>
                     <th>Version Name</th>
                     <th>Release Date</th>
                     <th>Possible Features</th>
                  </tr>
                  <tr>
                     <td>0.1.2 (Current)</td>
                     <td>The Backlog Update</td>
                     <td>November 1 2021</td>
                     <td>Catching up on all the stuff I've been avoiding</td>
                  </tr>
                  <tr>
                     <td>0.1.3</td>
                     <td>The Festival & Events Update</td>
                     <td>In a long time</td>
                     <td> - Music <br> - Sound Effects <br> - All the noise you could ever want</td>
                  </tr>
                  <tr>
                     <td>0.1.4</td>
                     <td>The Investments Update (Sponsored by Grandma Josephine)</td>
                     <td>Much later</td>
                     <td>I don't know yet</td>
                  </tr>
                  <tr>
                     <td>0.2.0</td>
                     <td>Vegetable World!</td>
                     <td>Next millennia</td>
                     <td>Keep you in suspense!</td>
                  </tr>
              </table>
              <br><br>
              <a href="https://hnasheralneam.github.io">About Editor Rust</a> <br>
              <a href="https://hnasheralneam.github.io/gold-rush/">Gold Rush</a> <br>
              <a href="https://github.com/editorurst/vegetable-dash">Vegetable Dash on GitHub</a> <br>
              <a href="https://github.com/hnasheralneam">Me on GitHub</a> <br>
         </div>
      </div>
   </div>
</div>

<script>
function hlpScrl(id) {
   document.querySelector(`#help-${id}`).scrollIntoView();
   $('.help-subjects-item-active').removeClass('help-subjects-item-active');
   $(`.help-subjects-item-${id}`).addClass('help-subjects-item-active');
}
</script>