body {
   background-image: url("../Images/Homepage/tilled.png");
   background-size: contain;
   overflow-x: hidden;
   display: grid;
   grid-template-areas:
   "auto auto"
   "auto auto"
   "auto auto";
}

#information {
   background: #606060;
   margin: 0 -5px;
   height: 110%;
   padding: 12px;
   border-radius: 12px;
   position: fixed;
   right: 0;
   top: 0;
   width: 25%;
   color: #fff;
   text-shadow: .5px .5px .5px gold;
   font-family: Helvetica, san-serif;
}

#land {
   width: 500px;
   height: 500px;
   margin: 5px auto;
   border: solid 5px #000;
   border-radius: 5px;
   display: grid;
   grid-template-areas:
   "auto auto auto"
   "auto auto auto"
   "auto auto auto";
}

.plot {
   background-image: url("../Images/Plots/plot.png");
   background-size: cover;
   width: 150px;
   height: 150px;
   margin: 5px;
   border: solid 2px black;
   border-radius: 2px;
   /* Grid for locked plots */
   display: flex;
   justify-content: center;
   align-items: center;
   /* For smooth background transition */
   transition: 2s;
   position: relative;
}

#grow1, #grow2 {
   transition: .5s;
   border-radius: 1px;
   position: absolute;
   z-index: 1;
}

.locked {
   height: 130px;
}

.remaining-crop-time {
   border: solid 2px #fff;
   border-radius: 5px;
   padding: 5px;
   position: absolute;
   bottom: 5px;
   right: 5px;
}

#openPlot2 {
   display: none;
}

#harvest1, #harvest2 {
   transition: .5s;
   border-radius: 1px;
   opacity: 0;
   z-index: -1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~*/

.lock-tooltip {
   position: relative;
   display: inline-block;
}

.lock-tooltip .tooltiptext::after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent #606060 transparent transparent;
}

.lock-tooltip .tooltiptext {
   background-color: #606060;
   color: #fff;
   border-radius: 6px;
   padding: 5px 0;
   opacity: 0;
   transition: opacity .5s;
   position: absolute;
   height: 130px;
   width: 125px;
   text-align: center;
   z-index: -1;
}

.lock-tooltip:hover .tooltiptext {
   opacity: 1;
   z-index: 1;
}

/* Left Tooltip */
.lock-tooltip {
   position: relative;
   display: inline-block;
}

.lock-tooltip .tooltiptext-left::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent transparent #606060;
}

.lock-tooltip .tooltiptext-left {
   width: 120px;
   background-color: #606060;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   height: 130px;
   width: 125px;
   z-index: 1;
   top: -5px;
   right: 110%;
   transition: opacity .5s;
   opacity: 0;
   z-index: -1;
}

.lock-tooltip:hover .tooltiptext-left {
   opacity: 1;
   z-index: 1;
}

.purchase-plot {
   background-color: #272727;
   border: solid 2px #808080;
   border-radius: 5px;
   color: #fff;
}

.removing-lock {
   animation: open-lock 2.5s forwards;
}

/* Opening lock animation */
@keyframes open-lock {
   0% {
      content: url("../Images/lock.png");
   }
   20% {
      content: url("../Images/open-lock.png");
   }
   100% {
      content: url("../Images/open-lock.png");
   }
}

@media only screen and (max-width: 600px) {
   body {
      padding-top: 80px;
      grid-template-areas:
      "a"
      "b";
   }
   #land {
      width: 85%;
      height: auto;
      grid-template-areas:
      "auto auto"
      "auto auto"
      "auto auto"
      "auto auto"
      "auto auto";
   }
   #information {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      z-index: 2;
      overflow-y: scroll;
   }
   #information div {
      display: flex;
   }
   #information p {
      margin: 5px;
   }
   #information h1 {
      margin: 5px;
   }
   .plot {
      width: auto;
      height: auto;
   }
}

/* Nice gray #8D918D
I'll organize the CSS later*/
