/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright Janurary 1st 2021 by Squirrel
~~~~~~~~~~~~~~~~~
TABLE OF CONTENTS
~~~~~~~~~~~~~~~~~
Side Bar           | The bar on the side
Farmland           | The plot parent
Plots              | Where plants are grown
Buttons            | Mostly harvest and grow button
Locks              | I spent too much time on this
Other              | Gulp
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
   background-image: url("../Images/Homepage/tilled.png");
   background-size: contain;
   overflow-x: hidden;
   display: grid;
   grid-template-areas:
   "auto auto"
   "auto auto"
   "auto auto";
}

::selection {
   background-color: transparent;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Side Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#information {
   background: #606060;
   margin: 0 -5px;
   height: 110%;
   padding: 12px;
   border-radius: 12px;
   position: fixed;
   right: 0;
   top: 0;
   width: 25%;
   color: #fff;
   text-shadow: .5px .5px .5px gold;
   font-family: Helvetica, san-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Farmland
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#land {
   width: 500px;
   height: 500px;
   margin: 5px auto;
   border: solid 5px #000;
   border-radius: 5px;
   display: grid;
   grid-template-areas:
   "auto auto auto"
   "auto auto auto"
   "auto auto auto";
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Plots
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.plot {
   background-image: url("../Images/Plots/plot.png");
   background-size: cover;
   width: 150px;
   height: 150px;
   margin: 5px;
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* For smooth background transition */
   transition: 2s;
   position: relative;
}

.ahh-perspective {
   perspective: 100px;
   width: 150px;
   height: 150px;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.grow-button {
   position: absolute;
   z-index: 1;
   opacity: 1;
}

.harvest-button {
   opacity: 0;
   z-index: -1;
}

#land button {
   transition: .2s;
   border-radius: 2px;
   border: solid 2px rgb(0, 0, 0, .2);
   background-color: #FFD700;
   padding: 5px;
   color: #800080;
   text-shadow: 0 0 1.2px #800080,
                0 6px 8px #fff;
}

#land button:hover {
   transform: rotateX(25deg) scale(1.05);
   box-shadow: 0 2px .5px rgb(0, 0, 0, .6);
   text-shadow: 0 0 #800080,
                0 1px .2px rgb(0, 0, 0, .6);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Locks
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.locked {
   height: 130px;
}

.lock-tooltip {
   position: relative;
   display: block;
   letter-spacing: -.5px;
   font-family: "Nunito", sans-serif;
}

.lock-tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent #606060 transparent transparent;
}

.lock-tooltip .tooltiptext {
   background-color: #606060;
   color: #fff;
   border-radius: 6px;
   padding: 5px 0;
   opacity: 0;
   transition: opacity .5s;
   position: absolute;
   height: auto;
   width: 125px;
   text-align: center;
   z-index: -1;
}

.lock-tooltip:hover .tooltiptext {
   opacity: 1;
   z-index: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~*/

.purchase-plot {
   background-color: #272727;
   border: solid 2px #808080;
   border-radius: 5px;
   color: #fff;
}

.removing-lock {
   animation: open-lock 2.5s forwards;
}

/* Opening lock animation */
@keyframes open-lock {
   0% {
      content: url("../Images/Lock/lock.png");
   }
   20% {
      content: url("../Images/Lock/open-lock.png");
   }
   100% {
      content: url("../Images/Lock/open-lock.png");
   }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Other
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.veg-icon {
   height: 35px;
   position: absolute;
   top: 2px;
   left: 2px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~*/

.produce p {
   visibility: hidden;
}

.remaining-crop-time {
   border: solid 2px #fff;
   border-radius: 5px;
   padding: 5px;
   position: absolute;
   bottom: 5px;
   right: 5px;
}

#openPlot2, #openPlot3, #openPlot4 {
   display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~*/

.sickle, .seed-packet {
   height: 15px;
   margin: 0 -3.5px -3.5px 2px;
}

/* Nice gray #8D918D */
