<link rel="stylesheet" href="Styles/game-news.css">
<div class="content">
   <div class="content-div game-news">
      <div class="head">
         <p class="title">The Cleanup & Fixes Update!</p>
         <p class="date">Janurary 2nd 2022</p>
      </div>
      <p class="information">&nbsp &nbsp v0.1.4 should come with lots of UI cleanup, and it'll fix all the major bugs currently in the game, as well as a lot of backend polish. It'll include some new chat features, as well as an improved account, with more customization and better things. Y'know, things. Check it out at the GitHub repository! <a href="https://github.com/editorrust/vegetable-dash/releases/tag/v0.1.4">link to version</a></p>
   </div>
   <div class="content-div upcoming">
      <div class="title">Upcoming</div>
      <div class="upcoming-div">
         <p class="date">Summer</p>
         <p class="event">All the features</p>
         <p class="event">That's right, this summer will have ALL the features. Trading with other players, pets, events, compost bin, beehive, potions, EVERYTHING. Well, I just spoiled all of that for you. But it's coming this summer! Yay!</p>
      </div>
      <div class="upcoming-div">
         <p class="date">June</p>
         <p class="event">The Cleanup and Fixes update (v0.1.4) (which is this beta)</p>
      </div>
      <div class="title">Past</div>
      <div class="upcoming-div">
         <p class="date">January 19th 2022</p>
         <p class="event">New homepage design!</p>
      </div>
   </div>
   <div class="content-div game-news">
      <div class="head">
         <p class="title">The Accounts and Save Update!</p>
         <p class="date">Janurary 2nd 2022</p>
      </div>
      <p class="information">&nbsp &nbsp Hey there! This latest update for Vegetable Dash includes some pretty nice stuff. Sorry, but the main version of the game is fixed with bugs, so you should use the beta. Now, you can SAVE YOUR PROGRESS with an account! Unbelivable, right! PLUS, on the beta branch, you can SIGN IN WITH GITHUB! Mind-blowing! Also, the actual game has some amazing improvements, many back behind the scenes. Check it out at the GitHub repository! <a href="https://github.com/editorrust/vegetable-dash/releases/tag/v0.1.3">link to version</a></p>
   </div>
   <div class="content-div veg-world-news">
      <div class="head">
         <p class="title">Account Improvments!</p>
         <p class="date">June 14th 2022</p>
      </div>
      <p class="information">&nbsp &nbsp (update this) OMG! It's so beautiful. I mean, look at that clean, modern, scroll-less design. Why, it's heart-breaking. Tear-jerking. Downright AWESOME! Behold the true glory of CSS in it's natural habit. AND it's all open source! Yay!!!</p>
   </div>
   <div class="content-div version">
      <div class="head">
         <p class="title">v0.1.4</p>
         <p class="date">Whenever this release becomes offical (written June 14th 2022)</p>
      </div>
      <p class="information">&nbsp &nbsp So, as usual, as soon as I finish up the update and breath a deep sigh of relif, I go to check it out. But then, OF COURSE, somthing important has to break. Ok, take another deep breath, make that small change, then repeat the process of putting the site up. So yeah, I fixed those problems (this time around) and a whole bunch of others, and cleaned up the user interface a bit, as well as other small tweaks. Hopefully I'll have time to fix the friend system and other settings.</p>
      <p class="information">&nbsp &nbsp On the beta branch, there are many amazing features, the most prominent being GITHUB OAUTH!</p>
   </div>
   <div class="content-div">
      <p class="information">Hey! Thanks for coming. This website, along with Vegetable Dash, were made by <a href="https://github.com/editorrust">Editor Rust</a>. I'm glad you came, and I hope you are too.</p>
   </div>
</div>