<link rel="stylesheet" href="Styles/game-news.css">
<div class="content">
   <div class="content-div game-news">
      <div class="head">
         <p class="title">The Accounts and Save Update!</p>
         <p class="date">Janurary 2nd 2022</p>
      </div>
      <p class="information">&nbsp &nbsp Hey there! This latest update for Vegetable Dash includes some pretty nice stuff. Sorry, but the main version of the game is fixed with bugs, so you should use the beta. Now, you can SAVE YOUR PROGRESS with an account! Unbelivable, right! PLUS, on the beta branch, you can SIGN IN WITH GITHUB! Mind-blowing! Also, the actual game has some amazing improvements, many back behind the scenes. Check it out at the GitHub repository! <a href="https://github.com/Squirrel-314/vegetable-dash/releases/tag/v0.1.3">link to version</a></p>
   </div>
   <div class="content-div upcoming">
      <div class="title">Upcoming <br> Events</div>
      <div class="upcoming-div">
         <p class="date">Sometime in March</p>
         <p class="event">Cumulative update:  Issues, fixed. Design, betterfied. User accounts and pages, awesomer. Friend system, working.</p>
      </div>
      <div class="upcoming-div">
         <p class="date">January 19th 2022</p>
         <p class="event">New homepage design!</p>
      </div>
   </div>
   <div class="content-div veg-world-news">
      <div class="head">
         <p class="title">New Homepage!</p>
         <p class="date">Janurary 19th 2022</p>
      </div>
      <p class="information">&nbsp &nbsp OMG! It's so beautiful. I mean, look at that clean, modern, scroll-less design. Why, it's heart-breaking. Tear-jerking. Downright AWESOME! Behold the true glory of CSS in it's natural habit. AND it's all open source! Yay!!!</p>
   </div>
   <div class="content-div version">
      <div class="head">
         <p class="title">v0.1.3</p>
         <p class="date">Janurary 2nd 2022</p>
      </div>
      <p class="information">&nbsp &nbsp Some really nice features this time around, go check it out on the Vegetable Dash GitHub repository!</p>
      <p class="information">&nbsp &nbsp On the beta branch, there are many amazing features, the most prominent being GITHUB OAUTH!</p>
   </div>
   <div class="content-div">
      <p class="information">Hey! Thanks for coming. This website, along with Vegetable Dash, were made by <a href="https://github.com/Squirrel-314">Squirrel</a>. I'm glad you came, and I hope you are too.</p>
   </div>
</div>