/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright January 1st 2021 by Squirrel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* { margin: 0; padding: 0; }
body {
   background-image: url("Images/Homepage/tilled.png");
   background-size: cover;
   overflow: scroll;
}

::selection { display: none;}
::-webkit-scrollbar { display: none; }

/* Remove default button styles */
button {
   padding: 4vh;
   margin: 1vh;
   font-family: sans-serif;
   cursor: pointer;
   transition: transform 150ms ease;
}

button:focus { outline: none; }
button:active { transform: scale(0.99); }
summary:focus { outline: none; }

.depth-button {
  outline: none;
  margin: 2vh;
  padding: 8vh;
  border: none;
  border-radius: 5vh;
  color: #fff;
  font-size: 5vh;
  transition: .15s;
}

.depth-button:active {
  outline: none;
  transform: translateY(1vh);
}

.red { background-color: #f74040; box-shadow: 0 2vh #d61818; }
.orange { background-color: #F9A748; box-shadow: 0 2vh #DA7D12; }
.yellow { background-color: #F8F948; box-shadow: 0 2vh #EAEB12; }
.green { background-color: #3FE863; box-shadow: 0 2vh #03B428; }
.blue { background-color: #63E1FF; box-shadow: 0 2vh #16CCF8; }
.purple { background-color: #6B3FE8; box-shadow: 0 2vh #4B20C8; }

.red:active { box-shadow: 0 1vh #d61818; }
.orange:active { box-shadow: 0 1vh #DA7D12; }
.yellow:active { box-shadow: 0 1vh #EAEB12; }
.green:active { box-shadow: 0 1vh #03B428; }
.blue:active { box-shadow: 0 1vh #16CCF8; }
.purple:active { box-shadow: 0 1vh #4B20C8; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Welcome!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.welcome {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   overflow: scroll;
   transition: 2s;
}

.welcome-content {
   border-radius: 2vh;
   margin: 2vh;
   padding: 1vh;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 8vh;
   font-family: "Roboto Condensed";
   transition: 0.8s;
   position: relative;
   text-align: center;
}

.welcome-content h1 { font-size: 6vh; }

.welcome-content h2 {
   font-size: 4vh;
   font-weight: 200;
   margin: 2vh;
}

.welcome-content button {
   width: 90%;
   font-size: 3vh;
   text-transform: uppercase;
   padding: 2vh;
   transition: .5s;
}

.welcome-content button:hover {
   box-shadow: 0 0 2vh #262626;
   border-radius: 2vh;
   border: none;
}

.welcome-content p { font-size: 3vh }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Farmland
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.land {
   position: relative;
   height: 51vh;
   width: 51vh;
   margin: 2vh auto;
   border: solid 1vh #000;
   border-radius: 1vh;
   transition: 0.5s;
   display: grid;
   grid-template-columns: auto auto auto;
   overflow: scroll;
}

/* Plots */
.plot {
   background-image: url("Images/Plots/plot.png");
   background-size: cover;
   margin: .2vh;
   border: solid .3vh #000;
   border-radius: .3vh;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
   position: relative;
   height: 50vh;
   width: 50vh;
}

.open-plot {
   display: none;
   width: 100%;
   height: 100%;
}

/* Locks */
.locked { height: 18vh; }

.lock-tooltip{
   font-family: "Nunito", sans-serif;
   padding: 20vh 5vh;
   color: #fff;
   position: absolute;
   padding: 2vh 2vh;
   width: 25vh;
   font-size: 3vh;
   text-align: center;
   transition: .5s;
   transition-delay: 0.4s;
}

.purchase-plot {
   width: 50vw;
   padding: 2vh;
   margin: 0;
   background-color: #272727;
   border: solid .4vh #808080;
   border-radius: 4vh;
   font-size: 3vh;
   color: #fff;
   transition: 0.5s;
}

.purchase-plot:hover { box-shadow: 0 0 2vh #f5f5f5; }

.removing-lock { animation: open-lock 2.5s forwards; }
@keyframes open-lock {
   0% { content: url("Images/Lock/lock.png"); }
   20% { content: url("Images/Lock/open-lock.png"); }
   100% { content: url("Images/Lock/open-lock.png"); }
}

/* Buttons */
.plant-toolbar {
   perspective: 100vh;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.grow-button, .harvest-button, .small-plant-button {
   border-radius: 100vh;
   margin: 2vh .5vh;
   transition: .2s;
   border: solid .4vh rgb(0, 0, 0, .2);
   background-color: #ffd700;
   display: flex;
   justify-content: center;
   align-items: center;

}

.grow-button, .harvest-button {
   height: 12vh;
   width: 12vh;
}

.small-plant-button {
   height: 6vh;
   width: 6vh;
}

.grow-button:disabled, .harvest-button:disabled, .small-plant-button:disabled { filter: grayscale(100%); }

.grow-button img, .harvest-button img { height: 8vh; }

.grow-button:focus, .harvest-button:focus, .small-plant-button:focus {
   transform: translateY(-1vh) scale(1.05);
   box-shadow: 0 1.5vh 2vh #262626;
   animation: bob 1.8s infinite;
   animation-delay: .5s;
}

@keyframes bob {
   0% { transform: translateY(-1vh) scale(1.05); box-shadow: 0 1.5vh 2vh #262626; }
   50% { transform: translateY(.4px) scale(1.05); box-shadow: 0 .8vh 2vh #262626; }
   100% { transform: translateY(-5px) scale(1.05); box-shadow: 0 1.5vh 2vh #262626; }
}

.veg-icon { height: 6vh; }

/* Time */
.time-left-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.time-left-container span {
   opacity: 0;
   pointer-events: none;
   width: 180%;
   background-color: #f5f5f5;
   text-align: center;
   border-radius: 1vh;
   padding: 1vh 0;
   font-size: 2.5vh;
   position: absolute;
   z-index: 1;
   bottom: 130%;
   left: -40%;
   transition: .5s;
}

.time-left-container span::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -1vh;
   border-width: 1vh;
   border-style: solid;
   border-color: #f5f5f5 transparent transparent transparent;
}

.time-left-container:hover span {
   opacity: 1;
   pointer-events: auto;
}

.time-left-container img { height: 6vh; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Settings
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.settings h1 {
   font-size: 10vh;
   font-weight: 200;
}

.sidebar-button {
   border-radius: .5vh;
   padding: 1vh;
   margin: .5vh auto;
   width: 75vw;
   box-shadow: 0 0 1vh #222;
   background-color: #808080;
   border: none;
   font-size: 3.5vh;
   color: lightblue;
   display: inline;
   text-shadow: 0 0 4vh #000;
   font-family: inherit;
}

.theme-color { background-color: #aaaaaa; }

.sidebar button:active {
   transform: scale(1.03);
   padding: 1.5vh;
   margin: .5vh auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Vegetable Info Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.veg-info {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.7);
   transition: .6s;
}

.modal-content h4 {
   font-size: 12vh;
   margin: 1vh;
}

.info-icon {
   height: 12vh;
   margin: 0 0 -2vh 0;
}

.modal-content {
   width: 80%;
   height: 80%;
   margin: 1vh auto;
   padding: 4vh;
   font-size: 6vh;
   border-radius: .8vh;
   background-color: #fefefe;
   text-align: center;
   font-family: "Roboto Condensed";
   overflow: scroll;
}

.close {
   float: right;
   height: 8vh;
   width: 8vh;
   padding: .2vh;
   border-radius: 2vh;
   transition: 0.2s;
}

.fertilize {
   float: right;
   height: 8vh;
   width: 8vh;
   padding: .2vh;
   border-radius: 2vh;
   transition: 0.2s;
}

.fertilize img { height: 6vh; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Right Click Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 52vh;
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 3vh;
   background: #fff;
   color: #555;
   border-radius: 1vh;
   box-shadow: 0 0 1vh #f5f5f5;
}

#menu li {
   list-style-type: none;
   padding: 2vh 5vh;
   transition: .2s;
}

#menu li:hover {
   text-shadow: 0 .04vh .04vh #262626;
   background-color: #fafafa;
   border-radius: .5vh;
}

#menu hr {
   border: .25vh solid #ebebeb;
   border-bottom: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Introduction
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.introDarkShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(25, 0, 0, 0.8);
   transition: 2.5s;
}

.intro-container {
   position: fixed;
   top: 2vh;
   left: 2.5vh;
   right: 2.5vh;
   height: 30vh;
   background-color: #f5f5f5;
   border-radius: 1vh;
   font-family: "Nunito";
   display: grid;
   grid-template-columns: auto auto;
   transition: 2.5s;
}

.intro-img {
   height: 12vh;
   margin: 1.5vh 2vh;
   transition: .5s;
}

.intro-text {
   text-align: center;
   font-size: 5vw;
   margin: 1.5vh;
   transition: .5s;
}

.intro-nxt-btn {
   position: absolute;
   right: 0;
   bottom: 0;
   margin: 2vh;
   background-color: #7962b6;
   height: 12vh;
   width: 12vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 8vh;
   border-radius: 2vh;
   transition: .5s;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Market
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.marketShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(.5vh);
   transition: 0.8s;
}

.market {
   position: absolute;
   top: 2.5vh;
   right: 2.5vh;
   bottom: 2.5vh;
   left: 2.5vh;
   border-radius: 5vh;
   background-image: url("Images/Market/bustling.png");
   background-size: cover;
   background-color: #262626;
   text-align: center;
   font-family: "Roboto Condensed";
   display: grid;
   grid-template-columns: 100%;
   cursor: url("Images/Global Assets/big-money.png"), auto;
   overflow: scroll;
   transition: 0.8s;
}

.market-item {
   display: none;
   height: 45vh;
   width: 95%;
   margin: 1vh auto;
   border-radius: 5vh;
   transition: 0.5s;
   font-size: 5vh;
   background-color: #13baf0;
   position: relative;
   opacity: 0.95;
   position: relative;
   overflow: hidden;
}

.market-item-content {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: pre-line;
   transition: 0.2s;
}

.buy-sell {
   position: absolute;
   left: 35%;
   bottom: 3vh;
   height: 10vh;
   width: 30%;
   border-radius: 2vh;
   overflow: hidden;
   transition: 0.2s;
}
.accept-deny {
   position: absolute;
   left: 25%;
   bottom: 3vh;
   height: 10vh;
   width: 50%;
   border-radius: 5vh;
   overflow: hidden;
   transition: 0.2s;
}

.buy-sell:hover { box-shadow: 0 0 .5vh #262626; }

.market-item-buy {
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: #ff94ec;
   height: 5vh;
   width: 100%;
   transition: 0.2s;
   font-size: 4vh;
}

.market-item-sell {
   float: bottom;
   position: absolute;
   left: 0;
   background-color: #77aeff;
   height: 5vh;
   width: 100%;
   transition: 0.2s;
   font-size: 4vh;
}

.market-item-buy:hover { background-color: #f96bdf; }
.market-item-sell:hover { background-color: #4f94fa; }

.market-item:hover {
   opacity: 0.98;
   box-shadow: 0 0 5vh #262626,
               inset 0 0 1vh #262626;
}

.market-item:nth-child(1) { background-color: #ddddb9; }
.market-item:nth-child(2) { background-color: #ffcc00; }
.market-item:nth-child(3) { background-color: #1f7880; }
.market-item:nth-child(4) { background-color: #f0e0e0; }
.market-item:nth-child(5) { background-color: #84f09e; }
.market-item:nth-child(6) { background-color: #b388c6; }
.market-item:nth-child(7) { background-color: #613f2a; }
.market-item:nth-child(8) { background-color: #d96072; }
.market-item:nth-child(9) { background-color: #b1078e; }

/* Hover */
.market-hover {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   transition: all 0.5s;
   transform: translateY(100%);
}

.market-hover h1 {
   text-transform: uppercase;
   font-size: 8vh;
}

.market-hover p {
   font-size: 4vh;
   padding: 0 6vh;
   display: inline;
}

.market-item:hover .market-hover {
   background-color: rgba(0, 0, 0, 0.6);
   transform: translateY(0);
}

.use-market-reset-button {
   padding: 2vh;
   font-size: 3vh;
   border-radius: 1vh;
   border: solid .4vh rgb(0, 0, 0, .2);
   background-color: #ffd700;
   font-family: "Roboto Condensed";
   color: #343cb9;
   font-weight: 600;
   position: absolute;
   bottom: 4vh;
   right: 4vh;
}

.market-veg-img {
   height: 10vh;
   position: absolute;
   top: 4vh;
   left: 4vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Basic Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.shadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   overflow: scroll;
   transition: 0.8s;
}

.modalContent {
   min-height: 78%;
   border-radius: 2vh;
   margin: 3vh;
   padding: 8vh 0;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 8vh;
   font-family: "Nunito";
   transition: 0.8s;
   position: relative;
}

.closeModal {
   position: absolute;
   top: 3vh;
   right: 5vh;
   transition: .5s;
   cursor: pointer;
}
.closeModal:hover { text-shadow: 0 0 .5vh #444; }

/* Clean from here */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Command Panel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.command-panel {
   position: fixed;
   right: 1.5vh;
   bottom: 1.5vh;
   left: 1.5vh;
   border-radius: 5vh;
   height: 15vh;
   padding: 2vh 1vh;
   text-align: center;
   background-color: #f5f5f5;
}

.command-panel img {
   height: 100%;
   width: 15vh;
   margin: 0 .5vh;
}

.produce-tooltip {
   display: inline;
   position: relative;
   margin: .5vh 0;
   font-family: "Nunito";
}

.tooltip-text-detailed {
   display: none;
   font-size: 3vh;
   color: #262626;
}

.produce {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   left: 0;
   bottom: 315%;
   height: auto;
   width: 80vw;
   background-color: #eee;
   border-radius: 2vh;
   padding: .5vh 0;
   box-shadow: 0 0 2vh #ddd;
   font-size: 4vh;
   color: #262626;
   left: -180%;
   bottom: 18vh;
   transition: .8s;
}

.produce-tooltip .produce::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 77%;
   margin-top: -.2vh;
   border-width: 2vh;
   border-style: solid;
   border-color: #eee transparent transparent transparent;
}

.produce-tooltip:hover .produce {
   opacity: 1;
   pointer-events: auto;
}

.weather-tooltip {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   left: 0;
   bottom: 315%;
   height: auto;
   width: 80vw;
   background-color: rgb(59, 74, 167, .9);
   border: solid .5vh rgb(42, 50, 102, .9);
   border-radius: 2vh;
   padding: 2vh;
   box-sizing: border-box;
   box-shadow: 0 0 2vh #ddd;
   font-size: 4vh;
   color: #262626;
   left: -90%;
   bottom: 18vh;
   transition: .8s;
}

.weather-tooltip::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -2vh;
   border-width: 2vh;
   border-style: solid;
   border-color: rgb(42, 50, 102, .9) transparent transparent transparent;
}

.produce-tooltip:hover .weather-tooltip {
   opacity: 1;
   pointer-events: auto;
}

.weather-name {
   font-size: 4.5vh;
   font-family: "Nunito";
   font-weight: 700;
   color: #f5f5f5;
}

.weather-description {
   font-size: 4vh;
   font-family: "Nunito";
   color: #f5f5f5;
}

#market-reset-more-info { filter: invert(); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
More Information Hover
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.more-info-tooltip {
   position: absolute;
   right: 15vh;
   bottom: 2.5vh;
}
.more-info-tooltip img { height: 11vh; }

.more-info-tooltip .tooltip-text {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   min-height: 10vh;
   width: 300%;
   background-color: #eee;
   text-align: center;
   border-radius: 2vh;
   box-sizing: border-box;
   padding: 1vh;
   box-shadow: 0 0 2vh #ddd;
   font-size: 3vh;
   color: #262626;
   left: -100%;
   bottom: 110%;
   transition: .8s;
   transition-delay: .2s;
}

.more-info-tooltip .tooltip-text::after {
   content: "";
   position: absolute;
   left: 44%;
   top: 105%;
   margin-top: -2vh;
   border-width: 2vh;
   border-style: solid;
   border-color: #eee transparent transparent transparent;
}

.more-info-tooltip:hover .tooltip-text {
   opacity: 1;
   pointer-events: auto;
}

.hide-market {
   top: 0;
   right: 0;
   height: 10vh;
   width: 10vh;
   font-size: 3vh;
   padding: 1vh;
   transition: .05s;
}

.help-shadow {
   position: fixed;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(.5vh);
   background-color: rgb(0, 0, 0, .5)
}

.help {
   height: 95vh;
   width: 95vw;
   background-color: #f5f5f5;
   border-radius: 5vh;
   display: grid;
   grid-template-rows: 20% 80%;
   overflow: hidden;
}

.help-information {
   padding: 2vh;
   overflow: hidden;
   scroll-behavior: smooth;
}

.help-information h1 {
   font-family: "Nunito";
   text-align: center;
   font-size: 8vh;
}

.help-information p {
   font-size: 3.5vh;
   margin-bottom: 100vh;
}

.help-information span {
   color: #ccc;
   font-family: "Nunito";
   text-decoration: underline;
}

.help-center-img {
   height: 9vh;
   position: fixed;
   top: 2vh;
   right: 2vh;
   filter: invert();
}

.closeModalHelp {
   position: absolute;
   top: 6vh;
   right: 10vh;
   transition: .5s;
   cursor: pointer;
}

.help .close {
   top: 2vh;
   right: 2vh;
}

/* Help Dropdown */
.dropbtn {
   width: 80vw;
   margin: 2vh 8vw;
   border: solid 1vh #eee;
   border-radius: 2vh;
   font-size: 4vh;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   height: 60vh;
   width: 80vw;
   overflow: scroll;
   background-color: #f9f9f9;
   margin: auto;
   margin-top: -2vh;
   border-radius: 1vh;
   box-shadow: 0px 2vh 6vh 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content div {
   text-align: center;
   font-size: 4vh;
   padding: 3vh;
}

.dropdown-content div:hover { background-color: #f1f1f1; }
.dropdown:hover .dropdown-content { display: block; }

/* Help links */
.help a {
   color: lightblue;
   text-decoration: none;
   position: relative;
}

.help .no-link:after { display: none; }

.help a:after {
   content: "";
   display: block;
   height: .2vh;
   left: 50%;
   position: absolute;
   background: lightblue;
   transition: all .2s;
   width: 0;
}

.help a:hover:after {
   width: 100%;
   left: 0;
}

/* Plot 5 */
.almanac {
   height: 8vh;
   position: absolute;
   bottom: .5vh;
   left: .5vh;
}

.shop-window {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   height: 0;
   width: 8vh;
   text-align: center;
   background-color: rgb(0, 0, 0, .8);
   list-style-type: none;
   overflow-y: scroll;
   transition: all 1.2s ease;
}

.shop-window li { margin: 1.2vh }

.store-icon {
   height: 5vh;
   transition: .5s;
}

.store-icon:hover { transform: scale(1.2); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Tasks
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.quest-ribbon {
   position: relative;
   top: 6vh;
   right: -100%;
   height: 16vh;
}

.quests {
   position: fixed;
   top: 8vh;
   left: -80vh;
   height: 85vh;
   width: 80vh;
   background-color: #f9f9f9;
   border-top-right-radius: 2vh;
   border-bottom-right-radius: 2vh;
   z-index: .9;
   transition: .8s;
}

.questShadow {
   display: none;
   z-index: .9;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.questContent {
   margin-top: -15vh;
   overflow: scroll;
   display: grid;
   position: relative;
   grid-template-columns: 50% 50%;
   font-family: "Nunito";
}

.task-block {
   width: 92%;
   height: 37vh;
   margin: 2vh auto;
   text-align: center;
   box-sizing: border-box;
   position: relative;
   padding: 6vh 2vh;
   font-size: 2.2vh;
   background-image: url("Images/Tasks/sticky-note.png");
   background-size: cover;
   overflow: scroll;
   transition: 0.5s;
}

.task-info-a { grid-area: a; }
.task-info-a { grid-area: b; }
.task-info-a { grid-area: c; }

.task-info {
   display: grid;
   grid-template-areas:
               "a b"
               "c c";
}

.task-info-img {
   height: 10vh;
   margin: auto;
}

.task-submit-depth-button {
   position: absolute;
   bottom: 4vh;
   left: 2vh;
   margin: .2vh;
   padding: 1vh 2vh;
   border-radius: 1vh;
   font-size: 2vh;
}

/*  Fade text */
.fade-text {
   max-width: 40vh;
   position: fixed;
   top: -100%;
   right: -100%;
   z-index: 9999;
   pointer-events: none;
   font-family: "Nunito";
   text-align: center;
   white-space: pre-wrap;
   font-size: 3vh;
   color: #fff;
   border-radius: 1vh;
   text-shadow: 0 0 1vh #f5f5f5;
   opacity: 0;
   transform: translateY(10vh) scale(.85);
   animation: fade-text 6s forwards;
}

.vegLuck:nth-last-child(2) { margin-top: 10vh; }
.vegLuck:nth-last-child(1) { margin-top: 20vh; }

@keyframes fade-text {
   0% {
      opacity: 0;
      transform: translateY(10vh) scale(.85);
   }
   30%, 40% {
      opacity: 1;
      transform: translateY(0) scale(1.05);
   }
   90%, 100% {
      opacity: 0;
      transform: translateY(-10vh) scale(1);
   }
}

.hidden { display: none; }

#help-about-copyright {
   font-size: 3vh;
   font-weight: 300;
   overflow-y:scroll;
}

table {
   border-collapse: collapse;
   width: 100%;
   font-size: 2.5vh;
   table-layout: fixed;
}

td, th {
   border: .2vh solid #eee;
   border-radius: .2vh;
   padding: .5vh;
   width: 25%;
   color: #666;
}

td { font-weight: 100; }
th { color: #aaa; }
tr:nth-child(even) { background-color: #eee; }

.setting-open {
   border-radius: 1vh;
   padding: .2vh;
   height: 7vh;
   position: fixed;
   top: 11vh;
   right: 2.8vh;
}
