/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright January 1st 2021 by Squirrel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* { margin: 0; padding: 0; transition: max-height 0; }
body {
   background-image: url("Images/Global Assets/tilled.png");
   background-size: cover;
   overflow: scroll;
}

::selection { display: none;}
::-webkit-scrollbar { display: none; }

/* Remove default button styles */
button {
   padding: 8vw;
   margin: 2vw;
   font-family: sans-serif;
   cursor: pointer;
   transition: transform 150ms ease;
}

button:focus { outline: none; }
button:active { transform: scale(0.99); }
summary:focus { outline: none; }

.depth-button {
  outline: none;
  margin: 1vw;
  padding: 12vw;
  border: none;
  border-radius: 7.5vw;
  color: #fff;
  font-size: 10vw;
  transition: .15s;
}

.depth-button:active {
  outline: none;
  transform: translateY(2vw);
}

.red { background-color: #f74040; box-shadow: 0 4vw #d61818; }
.orange { background-color: #F9A748; box-shadow: 0 4vw #DA7D12; }
.yellow { background-color: #F8F948; box-shadow: 0 4vw #EAEB12; }
.green { background-color: #3FE863; box-shadow: 0 4vw #03B428; }
.blue { background-color: #63E1FF; box-shadow: 0 4vw #16CCF8; }
.purple { background-color: #6B3FE8; box-shadow: 0 4vw #4B20C8; }

.red:active { box-shadow: 0 2vw #d61818; }
.orange:active { box-shadow: 0 2vw #DA7D12; }
.yellow:active { box-shadow: 0 2vw #EAEB12; }
.green:active { box-shadow: 0 2vw #03B428; }
.blue:active { box-shadow: 0 2vw #16CCF8; }
.purple:active { box-shadow: 0 2vw #4B20C8; }

.alertDiv {
   position: fixed;
   top: 1.5vh;
   left: 2.5vw;
   right: 2.5vw;
   height: 20vh;
   z-index: 1000;
   background-color: #c8fea5;
   border-radius: 2vh;
   text-align: center;
   font-size: 4.5vh;
   font-family: "Nunito";
   animation: alert 4s forwards;
}

@keyframes alert {
   0% { top: -25vh; }
   10% { top: -25vh; }
   20% { top: 1.5vh; }
   50% { top: 1.5vh; }
   80% { top: 1.5vh; }
   90% { top: -25vh; }
   100% { top: -25vh; }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Welcome!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.welcome {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   overflow: scroll;
   transition: 2s;
}

.welcome-content {
   border-radius: 4vw;
   margin: 4vw;
   padding: 2vw;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 16vw;
   font-family: "Roboto Condensed";
   transition: 0.8s;
   position: relative;
   text-align: center;
}

.welcome-content h1 { font-size: 12vw; }

.welcome-content h2 {
   font-size: 8vw;
   font-weight: 200;
   margin: 4vw;
}

.welcome-content button {
   width: 90%;
   font-size: 5vw;
   text-transform: uppercase;
   padding: 4vw;
   transition: .5s;
}

.welcome-content button:hover { border: none; }
.welcome-content p { margin-top: 5vw; font-size: 6vw; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Farmland
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.land {
   scroll-snap-type: x mandatory;
   position: relative;
   height: 90vw;
   width: 90vw;
   margin: 4vw auto;
   border: solid 1.8vw #000;
   border-radius: 1.8vw;
   transition: 0.5s;
   display: grid;
   grid-template-columns: auto auto auto;
   overflow: scroll;
}

/* Plots */
.plot {
   scroll-snap-align: start;
   background-image: url("Images/Plots/plot.png");
   background-size: cover;
   margin: .4vw;
   border: solid .6vw #000;
   border-radius: .6vw;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
   position: relative;
   height: 88vw;
   width: 88vw;
}

.open-plot {
   display: none;
   width: 100%;
   height: 100%;
}

/* Locks */
.locked { height: 36vw; }

.lock-tooltip{
   font-family: "Nunito", sans-serif;
   padding: 40vw 10vw;
   color: #fff;
   position: absolute;
   padding: 4vw;
   width: 50vw;
   font-size: 6vw;
   text-align: center;
   transition: .5s;
   transition-delay: 0.4s;
}

.purchase-plot {
   width: 50vw;
   padding: 4vw;
   margin: 0;
   background-color: #272727;
   border: solid .8vw #808080;
   border-radius: 8vw;
   font-size: 6vw;
   color: #fff;
   transition: 0.5s;
}

.purchase-plot:hover { box-shadow: 0 0 4vw #f5f5f5; }

.removing-lock { animation: open-lock 2.5s forwards; }
@keyframes open-lock {
   0% { content: url("Images/Lock/lock.svg"); }
   20% { content: url("Images/Lock/open-lock.svg"); }
   100% { content: url("Images/Lock/open-lock.svg"); }
}

/* Buttons */
.plant-toolbar {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.grow-button, .harvest-button, .small-plant-button {
   border-radius: 50%;
   margin: 4vw 1vw;
   transition: .2s;
   border: solid .8vw rgb(0, 0, 0, .2);
   background-color: #ffd700;
   display: flex;
   justify-content: center;
   align-items: center;

}

.grow-button, .harvest-button {
   height: 20vw;
   width: 20vw;
}

.small-plant-button {
   height: 10vw;
   width: 10vw;
}

.grow-button:disabled, .harvest-button:disabled, .small-plant-button:disabled { filter: grayscale(100%); }

.grow-button img, .harvest-button img { height: 15vw; }

.grow-button:focus, .harvest-button:focus, .small-plant-button:focus {
   transform: translateY(-1.8vw) scale(1.05);
   box-shadow: 0 2.8vw 4vw #262626;
   animation: bob 1.8s infinite;
   animation-delay: .5s;
}

@keyframes bob {
   0% { transform: translateY(-2vw) scale(1.05); box-shadow: 0 3vwh 4vw #262626; }
   50% { transform: translateY(.4px) scale(1.05); box-shadow: 0 1.6vw 4vw #262626; }
   100% { transform: translateY(-5px) scale(1.05); box-shadow: 0 3vw 4vw #262626; }
}

.veg-icon { height: 12vw; }

/* Time */
.time-left-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.time-left-container span {
   opacity: 0;
   pointer-events: none;
   width: 180%;
   background-color: #f5f5f5;
   text-align: center;
   border-radius: 2vw;
   padding: 2vw 0;
   font-size: 5vw;
   position: absolute;
   z-index: 1;
   bottom: 130%;
   left: -40%;
   transition: .5s;
}

.time-left-container span::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -2vw;
   border-width: 2vw;
   border-style: solid;
   border-color: #f5f5f5 transparent transparent transparent;
}

.time-left-container:hover span {
   opacity: 1;
   pointer-events: auto;
}

.time-left-container img { height: 12vw; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Settings
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.settings h1 {
   font-size: 20vw;
   font-weight: 200;
}

.sidebar-button {
   border-radius: 1vw;
   padding: 2vw;
   margin: 1vw auto;
   width: 75vw;
   box-shadow: 0 0 2vw #222;
   background-color: #808080;
   border: none;
   font-size: 7vw;
   color: lightblue;
   display: inline;
   text-shadow: 0 0 8vw #000;
   font-family: inherit;
}

.theme-color { background-color: #aaaaaa; }

.sidebar button:active {
   transform: scale(1.03);
   padding: 3vw;
   margin: 1vw auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Vegetable Info Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.veg-info {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   z-index: .8;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.7);
   transition: .6s;
}

.modal-content h4 {
   font-size: 16vw;
   margin-top: 10vw;
}

.info-icon {
   height: 16vw;
   margin: 0 0 -4vw 0;
}

.modal-content {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 2vw;
   font-size: 12vw;
   background-color: #fefefe;
   text-align: center;
   font-family: "Roboto Condensed";
   overflow: scroll;
   box-sizing: border-box;
}

.close {
   float: right;
   height: 14vw;
   width: 14vw;
   padding: .2vw;
   border-radius: 4vw;
   transition: 0.2s;
}

.fertilize {
   float: right;
   height: 14vw;
   width: 14vw;
   padding: .2vw;
   border-radius: 4vw;
   transition: 0.2s;
}

.fertilize img { height: 11vw; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Right Click Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 100vw;
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 6vw;
   background: #fff;
   color: #555;
   border-radius: 1.8vw;
   box-shadow: 0 0 2vw #f5f5f5;
}

#menu li {
   list-style-type: none;
   padding: 4vw 10vw;
   transition: .2s;
}

#menu li:hover {
   text-shadow: 0 .08vw .08vw #262626;
   background-color: #fafafa;
   border-radius: 1vw;
}

#menu hr {
   border: .5vw solid #ebebeb;
   border-bottom: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Introduction
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.introDarkShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(25, 0, 0, 0.8);
   transition: 2.5s;
}

.intro-container {
   position: fixed;
   top: 4vw;
   left: 5vw;
   right: 5vw;
   height: 60vw;
   background-color: #f5f5f5;
   border-radius: 2vw;
   font-family: "Nunito";
   display: grid;
   grid-template-columns: auto auto;
   transition: 2.5s;
}

.intro-img {
   height: 20vw;
   margin: 3vw 4vw;
   transition: .5s;
}

.intro-text {
   text-align: center;
   font-size: 5vw;
   margin: 3vw;
   transition: .5s;
}

.intro-nxt-btn {
   position: absolute;
   right: 0;
   bottom: 0;
   margin: 4vw;
   background-color: #7962b6;
   height: 20vw;
   width: 24vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 16vw;
   border-radius: 4vw;
   transition: .5s;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Market
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.marketShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(1vw);
   transition: 0.8s;
}

.market {
   position: absolute;
   top: 5vw;
   right: 5vw;
   bottom: 5vw;
   left: 5vw;
   border-radius: 10vw;
   background-image: url("Images/Market/bustling.png");
   background-size: cover;
   background-color: #262626;
   text-align: center;
   font-family: "Roboto Condensed";
   display: grid;
   grid-template-columns: 100%;
   cursor: url("Images/Global Assets/big-money.png"), auto;
   overflow: scroll;
   transition: 0.8s;
}

.market-item {
   display: none;
   height: 85vw;
   width: 95%;
   margin: 2vw auto;
   border-radius: 10vw;
   transition: 0.5s;
   font-size: 10vw;
   background-color: #13baf0;
   position: relative;
   opacity: 0.95;
   position: relative;
   overflow: hidden;
}

.market-item-content {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: pre-line;
   transition: 0.2s;
}

.buy-sell {
   position: absolute;
   left: 35%;
   bottom: 6vw;
   height: 18vw;
   width: 30%;
   border-radius: 4vw;
   overflow: hidden;
   transition: 0.2s;
}
.accept-deny {
   position: absolute;
   left: 25%;
   bottom: 6vw;
   height: 18vw;
   width: 50%;
   border-radius: 10vw;
   overflow: hidden;
   transition: 0.2s;
}

.buy-sell:hover { box-shadow: 0 0 1vw #262626; }

.market-item-buy {
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: #ff94ec;
   height: 9vw;
   width: 100%;
   transition: 0.2s;
   font-size: 8vw;
}

.market-item-sell {
   float: bottom;
   position: absolute;
   left: 0;
   background-color: #77aeff;
   height: 9vw;
   width: 100%;
   transition: 0.2s;
   font-size: 8vw;
}

.market-item-buy:hover { background-color: #f96bdf; }
.market-item-sell:hover { background-color: #4f94fa; }

.market-item:hover {
   opacity: 0.98;
   box-shadow: 0 0 10vw #262626,
               inset 0 0 2vw #262626;
}

.market-item:nth-child(1) { background-color: #ddddb9; }
.market-item:nth-child(2) { background-color: #ffcc00; }
.market-item:nth-child(3) { background-color: #1f7880; }
.market-item:nth-child(4) { background-color: #f0e0e0; }
.market-item:nth-child(5) { background-color: #84f09e; }
.market-item:nth-child(6) { background-color: #b388c6; }
.market-item:nth-child(7) { background-color: #613f2a; }
.market-item:nth-child(8) { background-color: #d96072; }
.market-item:nth-child(9) { background-color: #b1078e; }

/* Hover */
.market-hover {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   transition: 0.5s;
   transform: translateY(100%);
}

.market-hover h1 {
   text-transform: uppercase;
   font-size: 16vw;
}

.market-hover p {
   font-size: 8vw;
   padding: 0 12vw;
   display: inline;
}

.market-item-norm:hover .market-hover {
   background-color: rgba(0, 0, 0, 0.6);
   transform: translateY(0);
}

.use-market-reset-button {
   padding: 4vw;
   font-size: 6vw;
   border-radius: 2vw;
   border: solid .8vw rgb(0, 0, 0, .2);
   background-color: #ffd700;
   font-family: "Roboto Condensed";
   color: #343cb9;
   font-weight: 600;
   position: absolute;
   bottom: 8vw;
   right: 8vw;
}

.market-veg-img {
   height: 20vw;
   position: absolute;
   top: 2vw;
   left: 2vw;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Basic Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.shadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   overflow: scroll;
   transition: 0.8s;
}

.modalContent {
   min-height: 78%;
   border-radius: 4vw;
   margin: 6vw;
   padding: 16vw 0;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 16vw;
   font-family: "Nunito";
   transition: 0.8s;
   position: relative;
}

.closeModal {
   position: absolute;
   top: 6vw;
   right: 10vw;
   transition: .5s;
   cursor: pointer;
}
.closeModal:hover { text-shadow: 0 0 1vw #444; }

/* Clean from here */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Command Panel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.command-panel {
   position: fixed;
   right: 3vw;
   bottom: 3vw;
   left: 3vw;
   border-radius: 6vw;
   padding: 2vw 1vw;
   text-align: center;
   background-color: #f0f0f0;
   z-index: 1;
}

.command-panel img {
   height: 25vw;
   width: 25vw;
   margin: 0 1.5vw;
}

.produce-tooltip {
   display: inline;
   position: relative;
   margin: 1vw 0;
   font-family: "Nunito";
}

.tooltip-text-detailed {
   display: none;
   font-size: 6vw;
   color: #262626;
}

.produce {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   left: 0;
   height: auto;
   width: 80vw;
   background-color: #eee;
   border-radius: 4vw;
   padding: 1vw 0;
   box-shadow: 0 0 4vw #ddd;
   font-size: 8vw;
   color: #262626;
   left: -180%;
   bottom: 32vw;
   transition: .8s;
}

.produce-tooltip .produce::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 72%;
   margin-top: -.4vw;
   border-width: 4vw;
   border-style: solid;
   border-color: #eee transparent transparent transparent;
}

.produce-tooltip:hover .produce {
   opacity: 1;
   pointer-events: auto;
}

.weather-tooltip {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   height: auto;
   width: 80vw;
   background-color: rgb(59, 74, 167, .9);
   border: solid 1vw rgb(42, 50, 102, .9);
   border-radius: 4vw;
   padding: 4vw;
   box-sizing: border-box;
   box-shadow: 0 0 4vw #ddd;
   font-size: 8vw;
   color: #262626;
   left: -100%;
   bottom: 32vw;
   transition: .8s;
}

.weather-tooltip::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -4vw;
   border-width: 4vw;
   border-style: solid;
   border-color: rgb(42, 50, 102, .9) transparent transparent transparent;
}

.produce-tooltip:hover .weather-tooltip {
   opacity: 1;
   pointer-events: auto;
}

.weather-name {
   font-size: 9vw;
   font-family: "Nunito";
   font-weight: 700;
   color: #f5f5f5;
}

.weather-description {
   font-size: 8vw;
   font-family: "Nunito";
   color: #f5f5f5;
}

#market-reset-more-info { filter: invert(); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
More Information Hover
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.more-info-tooltip {
   position: absolute;
   right: 30vw;
   bottom: 5vw;
}
.more-info-tooltip img { height: 20vw; }

.more-info-tooltip .tooltip-text {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   min-height: 20vw;
   width: 300%;
   background-color: #eee;
   text-align: center;
   border-radius: 4vw;
   box-sizing: border-box;
   padding: 2vw;
   box-shadow: 0 0 4vw #ddd;
   font-size: 6vw;
   color: #262626;
   left: -100%;
   bottom: 110%;
   transition: .8s;
   transition-delay: .2s;
}

.more-info-tooltip .tooltip-text::after {
   content: "";
   position: absolute;
   left: 44%;
   top: 105%;
   margin-top: -4vw;
   border-width: 4vw;
   border-style: solid;
   border-color: #eee transparent transparent transparent;
}

.more-info-tooltip:hover .tooltip-text {
   opacity: 1;
   pointer-events: auto;
}

.hide-market {
   position: fixed;
   top: 5vw;
   right: 5vw;
   height: 18vw;
   width: 18vw;
   font-size: 6vw;
   padding: 2vw;
   transition: .05s;
}

.help-shadow {
   position: fixed;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(1vw);
   background-color: rgb(0, 0, 0, .5)
}

.help {
   height: 170vw;
   width: 95vw;
   background-color: #f5f5f5;
   border-radius: 10vw;
   display: grid;
   grid-template-rows: 20% 80%;
   overflow: hidden;
}

.help-information {
   padding: 4vw;
   overflow: hidden;
   scroll-behavior: smooth;
}

.help-information h1 {
   font-family: "Nunito";
   text-align: center;
   font-size: 16vw;
}

.help-information p {
   font-size: 7vw;
   margin-bottom: 200vw;
}

.help-information span {
   color: #ccc;
   font-family: "Nunito";
   text-decoration: underline;
}

.closeModalHelp {
   position: absolute;
   top: 12vw;
   right: 20vw;
   transition: .5s;
   cursor: pointer;
}

.help .close {
   top: 4vw;
   right: 4vw;
}

/* Help Dropdown */
.dropbtn {
   width: 80vw;
   margin: 4vw 8vw;
   border: solid 2vw #eee;
   border-radius: 4vw;
   font-size: 8vw;
}

.dropbtn:focus { border-radius: 4vw 4vw 0 0; }

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   height: 120vw;
   width: 80vw;
   overflow: scroll;
   background-color: #f9f9f9;
   margin: auto;
   margin-top: -4vw;
   border-radius: 0 0 4vw 4vw;
   box-shadow: 0px 4vw 12vw 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content div {
   text-align: center;
   font-size: 8vw;
   padding: 6vw;
}

.dropdown-content div:hover { background-color: #f1f1f1; }
.dropdown:hover .dropdown-content { display: block; }

/* Help links */
.help a {
   color: lightblue;
   text-decoration: none;
   position: relative;
}

.help .no-link:after { display: none; }

.help a:after {
   content: "";
   display: block;
   height: .4vw;
   left: 50%;
   position: absolute;
   background: lightblue;
   transition: .2s;
   width: 0;
}

.help a:hover:after {
   width: 100%;
   left: 0;
}

/* Plot 5 */
.almanac {
   height: 16vw;
   position: absolute;
   bottom: 1vw;
   left: 1vw;
}

.shop-window {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   height: 0;
   width: 16vw;
   text-align: center;
   background-color: rgb(0, 0, 0, .8);
   list-style-type: none;
   overflow-y: scroll;
   transition: 1.2s ease;
}

.shop-window li { margin: 2.4vw }

.store-icon {
   height: 10vw;
   transition: .5s;
}

.store-icon:hover { transform: scale(1.2); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Tasks
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tasks {
   position: fixed;
   left: 0;
   right: 0;
   top: -100vh;
   height: 100vh;
   background-color: #f9f9f9;
   z-index: 100;
   transition: .8s;
}

.mobile-tasks-bubble {
   position: fixed;
   top: 42vw;
   right: 10vw;
   background-color: #fff;
   height: 5vw;
   width: 5vw;
   border-radius: 100%;
   transition: .5s;
}
.mobile-tasks:hover .mobile-tasks-bubble {
   top: 0;
   right: 0;
   height: 100vh;
   width: 100vw;
   border-radius: 0;
}

.taskShadow {
   display: none;
   z-index: .9;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.taskContent {
   overflow: scroll;
   height: 100%;
   display: none;
   position: relative;
   font-family: "Nunito";
}

.taskContent .close {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5vw;
}

.task-block {
   width: 90vw;
   height: 90vw;
   margin: 4vw auto;
   text-align: center;
   box-sizing: border-box;
   position: relative;
   padding: 12vw 4vw;
   font-size: 4.4vw;
   background-image: url("Images/Tasks/sticky-note.png");
   background-size: cover;
   overflow: scroll;
   transition: 0.5s;
}

.task-info-a { grid-area: a; }
.task-info-a { grid-area: b; }
.task-info-a { grid-area: c; }

.task-info {
   display: grid;
   grid-template-areas:
               "a b"
               "c c";
}

.task-info-img {
   height: 20vw;
   margin: auto;
}

.task-submit-depth-button {
   position: absolute;
   bottom: 8vw;
   left: 4vw;
   margin: .4vw;
   padding: 2vw 4vw;
   border-radius: 2vw;
   font-size: 4vw;
}

/*  Fade text */
.fade-text {
   width: 100%;
   position: fixed;
   top: 10vw;
   z-index: 9999;
   pointer-events: none;
   font-family: "Nunito";
   text-align: center;
   white-space: pre-wrap;
   font-size: 6vw;
   color: #fff;
   border-radius: 2vw;
   text-shadow: 0 0 2vw #f5f5f5;
   opacity: 0;
   transform: translateY(20vw) scale(.85);
   animation: fade-text 6s forwards;
}

.vegLuck:nth-last-child(2) { margin-top: 20vw; }
.vegLuck:nth-last-child(1) { margin-top: 40vw; }

@keyframes fade-text {
   0% {
      opacity: 0;
      transform: translateY(20vw) scale(.85);
   }
   30%, 40% {
      opacity: 1;
      transform: translateY(0) scale(1.05);
   }
   90%, 100% {
      opacity: 0;
      transform: translateY(-20vw) scale(1);
   }
}

.hidden { display: none; }

#help-about-copyright {
   font-size: 6vw;
   font-weight: 300;
   overflow-y:scroll;
}

table {
   border-collapse: collapse;
   width: 100%;
   font-size: 5vw;
   table-layout: fixed;
}

td, th {
   border: .4vw solid #eee;
   border-radius: .4vw;
   padding: 1vw;
   width: 25%;
   color: #666;
}

td { font-weight: 100; }
th { color: #aaa; }
tr:nth-child(even) { background-color: #eee; }

.setting-open {
   border-radius: 2vw;
   padding: .4vw;
   height: 14vw;
   position: fixed;
   top: 22vw;
   right: 5.6vw;
}

.help-center-img {
   height: 18vw;
   position: fixed;
   top: 4vw;
   right: 4vw;
   filter: invert();
}

.mobile-tasks-img {
   height: 18vw;
   position: fixed;
   top: 39vw;
   right: 2.5vw;
}

.market-item-exchange { height: 170vw; }
.market-exchange-content { padding-bottom: 20vw; }
.exchange-market-item {
   width: 100%;
   margin: -10vw 0;
   padding: 0 3vw;
}

.blackMarketHome {
   background-image: url("Images/Market/black-market.png");
   background-size: cover;
   background-position: center;
}

.blackMarket {
   min-height: 100%;
   border-radius: 0;
   margin: 0;
   box-shadow: inset 4vw 4vw 12vw #000,
               inset -4vw -4vw 12vw #000;
   background-image: url("Images/Market/black-market.png");
   background-size: cover;
   background-position: center;
}

.black-doughnut {
   display: flex;
   height: 18vw;
   position: absolute;
   top: 2vw;
   left: 2vw;
}

.black-accept-deny {
   left: 0;
   bottom: 0;
   right: 0;
   height: 20vw;
   width: 100%;
   border-radius: 0;
   display: grid;
   grid-template-columns: 50% 50%;
}

.black-buy {
   background-color: #0fd20e;
   transition: 0.2s;
   font-size: 8vw;
   opacity: .8;
   padding: 5vw 0;
}

.black-sell {
   background-color: #da2d13;
   transition: 0.2s;
   font-size: 8vw;
   opacity: .8;
   padding: 5vw 0;
}

.black-buy:hover { background-color: #02993e; opacity: 1; }
.black-sell:hover { background-color: #911300; opacity: 1; }

.blackMarketOffer {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #eee;
   opacity: .8;
   padding: 5vw;
}

.bmo-seller, .bmo-offer, .bmo-price { font-size: 24vw; }
