/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright January 1st 2021 by Squirrel
~~~~~~~~~~~~~~~~~
TABLE OF CONTENTS
~~~~~~~~~~~~~~~~~
Side Bar             | The bar on the side
Farmland             | The plot parent
Plots                | Where plants are grown
Buttons              | Mostly harvest and grow button
Locks                | I spent too much time on this
Vegetable Info Modal | Information about vegetables
Other                | Gulp
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url("Images/Homepage/tilled.png");
   background-size: cover;
   overflow: hidden;
   display: grid;
   grid-template-areas: "a b";
}

::selection {
   display: none;
}

::-webkit-scrollbar {
   display: none;
}

/* Remove default button styles */
button {
   padding: 8px;
   margin: 2px;
   font-family: sans-serif;
   cursor: pointer;
   transition: transform 150ms ease;
}

button:focus {
   outline: none;
}

button:active {
   transform: scale(0.99);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Farmland
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.land {
   position: relative;
   height: 95vh;
   width: 95vh;
   margin: 2vh auto;
   border: solid 5px #000;
   border-radius: 5px;
   transition: 0.5s;
   display: grid;
   grid-template-areas:
   "auto auto auto"
   "auto auto auto"
   "auto auto auto";
}

.land-for-small {
   overflow-y: scroll;
   grid-template-areas:
   "auto auto"
   "auto auto"
   "auto auto"
   "auto auto"
   "auto auto";
}

.land-for-tiny {
   overflow-y: scroll;
   grid-template-areas:
   "auto"
   "auto"
   "auto"
   "auto"
   "auto"
   "auto"
   "auto"
   "auto"
   "auto"
   "auto";
}

/* Plots */
.plot {
   background-image: url("Images/Plots/plot.png");
   background-size: cover;
   margin: 2px;
   border: solid 1.5px #000;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
   position: relative;
   min-height: 12vw;
   min-width: 12vw;
}

.open-plot {
   display: none;
}

.ahh-perspective {
   perspective: 100px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Locks */
.locked {
   height: 150px;
}

.lock-tooltip {
   position: relative;
   font-family: "Nunito", sans-serif;
}

.lock-tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -8px;
   border-width: 8px;
   border-style: outset;
   border-color: transparent lightblue transparent transparent;
}

.lock-tooltip .tooltiptext {
   padding: 20px 5px;
   background-color: #606060;
   color: #fff;
   border-radius: 6px;
   position: absolute;
   padding: 20px 5px;
   width: 125px;
   height: 75%;
   left: 102%;
   text-align: center;
   border: outset 2px lightblue;
   z-index: 1;
   opacity: 0;
   pointer-events: none;
   transition: .5s;
   transition-delay: 0.4s;
}

.lock-tooltip:hover .tooltiptext {
   opacity: 1;
   pointer-events: auto;
}

.removing-lock {
   animation: open-lock 2.5s forwards;
}

@keyframes open-lock {
   0% {
      content: url("Images/Lock/lock.png");
   }
   20% {
      content: url("Images/Lock/open-lock.png");
   }
   100% {
      content: url("Images/Lock/open-lock.png");
   }
}

/* Buttons */
.grow-button {
   position: absolute;
   z-index: 1;
   opacity: 1;
}

.harvest-button {
   opacity: 0;
   z-index: -1;
}

.ahh-perspective button {
   transition: .2s;
   border-radius: 2px;
   border: solid 2px rgb(0, 0, 0, .2);
   background-color: #ffd700;
   padding: 5px;
   color: #800080;
   text-shadow: 0 0 1.2px #800080,
                0 6px 8px #fff;
}

.ahh-perspective button:hover {
   transform: rotateX(25deg) scale(1.05);
   box-shadow: 0 2px .5px rgb(0, 0, 0, .6);
   text-shadow: 0 0 #800080,
                0 1px .2px rgb(0, 0, 0, .6);
}

.purchase-plot {
   background-color: #272727;
   border: solid 2px #808080;
   border-radius: 5px;
   color: #fff;
   transition: 0.5s;
}

.purchase-plot:hover {
   box-shadow: 0 0 10px #f5f5f5;
}

/* Button Images */
.sickle, .seed-packet {
   height: 15px;
   margin: 0 -3.5px -3.5px 2px;
}
.veg-icon {
   height: 35px;
   position: absolute;
   top: 2px;
   left: 2px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Vegetable Info Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.veg-info {
   visibility: collapse;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
}

.modal-content h4 {
   font-size: 50px;
   margin: 2px;
}

.info-icon {
   height: 50px;
   margin: 0 0 -2px 0;
}

.modal-content {
   width: 80%;
   margin: auto;
   padding: 20px;
   font-size: 20px;
   border: 1px solid #888;
   border-radius: 8px;
   background-color: #fefefe;
   text-align: center;
   font-family: "Roboto Condensed";
}

.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover {
   color: #000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Right Click Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 250px;
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 15px;
   background: #fff;
   color: #555;
   border-radius: 5px;
   box-shadow: 0 0 5px #f5f5f5;
}
#menu li {
   list-style-type: none;
   padding: 10px 25px;
   transition: .2s;
}

#menu li:hover {
   text-shadow: 0 .2px .2px #262626;
   background-color: #fafafa;
   border-radius: 5px;
}

#menu hr {
   border: 1px solid #ebebeb;
   border-bottom: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Side Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.sidebar {
   position: absolute;
   right: 0;
   background-color: #111;
   border-left: ridge 3px gold;
   padding: 12px;
   height: 100%;
   width: auto;
   color: #fff;
   transition: 0.5s;
   box-shadow: 0 0 10px #262626;
   font-family: "Nunito";
   text-align: center;
   position: relative;
}

.sidebar button {
   border-radius: 3px;
   padding:  5px;
   display: block;
   margin: 8px auto;
   width: 60%;
   box-shadow: 0 0 5px #222;
}

.sidebar button:active {
   transform: scale(1.03);
}

.open-sidebar {
   position: absolute;
   top: 25px;
   left: -40px;
   height: 80px;
   width: 80px;
   padding: 15px;
   box-sizing: border-box;
   background-color: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   border-radius: 50%;
   border: ridge 3px gold;
   transition: 0.5s;
}

.open-sidebar:hover {
   box-shadow: 0 0 8px #f5f5f5;
}

.produce p {
   visibility: hidden;
   margin: 5px;
   font-size: 120%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Introduction
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.intro-container {
   position: fixed;
   bottom: 15px;
   left: 50px;
   right: 50px;
   height: 20%;
   background-color: #f5f5f5;
   border-radius: 25px;
   font-family: Nunito;
   letter-spacing: -0.2px;
   overflow: hidden;
   z-index: 1;
   padding-left: 15px;
   display: none;
}

.intro-nxt-btn {
   position: absolute;
   right: 25px;
   bottom: 25px;
   background-color: #7962b6;
   height: 50px;
   width: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 50px;
   border-radius: 25px;
   transition: 0.2s;
}

.intro-nxt-btn:hover {
   font-size: 55px;
   box-shadow: 0 0 12px #262626,
               inset 5px 0 16px 3px rgba(255, 255, 255, 0.5);
}

.intro-character {
   height: 100%;
   display: grid;
   grid-template-columns: auto auto auto;
   position: relative;
   z-index: 1;
   transition: .8s;
   overflow: hidden;
}

.intro-img {
   height: 75%;
   margin: auto;
}

.intro-divide {
   height: 100%;
   margin: 0 50px;
}

.intro-text {
   font-size: 2.5vw;
   margin: 15px 100px 15px 15px;
}

.space-holder {
   opacity: 0;
}

.introDarkShadow {
   visibility: collapse;
   position: fixed;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   z-index: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Quests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.quest-content {
   position: fixed;
   top: 8%;
   left: 0;
   height: 80%;
   width: 0;
   background-color: #f9f9f9;
   border-radius: 10px;
   transition: 0.8s;
   overflow: scroll;
}

.inner-quest-content {
   display: none;
   font-family: Nunito;
   margin: 50px;
}

.quest-ribbon {
   position: fixed;
   top: 12%;
   left: 0;
   height: 90px;
   z-index: 0.95;
   transition: 0.8s;
}

.dark-shadow {
   visibility: collapse;
   position: fixed;
   z-index: 0;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
}

.quest-gold-separator {
   height: 150px;
   width: 25px;
   margin: 0 10px 0 -10px;
}

.quest-arrow {
   height: 175px;
   z-index: 1;
   animation: quest-arrow-nudge 3s infinite;
   display: none;
}

.plant-quest-arrow {
   position: absolute;
   right: -115%;
}

@keyframes quest-arrow-nudge {
   0% {
      margin-right: 0px;
   }
   20% {
      margin-right: -8px;
   }
   40% {
      margin-right: -2px;
   }
   55% {
      margin-right: -8px;
   }
   70% {
      margin-right: 0px;
   }
   100% {
      margin-right: 0px;
   }
}

.quest-block {
   border-radius: 10px;
   background-color: #fbf4d5;
   width: 100%;
   height: 150px;
   margin: 25px auto;
   overflow: hidden;
   display: grid;
   grid-template-columns: auto auto auto;
   box-shadow: 0 0 2px #262626;
   transition: 0.5s;
   position: relative;
}

.quest-block:hover {
   box-shadow: 0 0 18px #262626;
}

.quest-text {
   margin: 15px 25px 0 0;
   font-size: 115%;
}

#jeb-image {
   margin: 0 0 0 0;
   height: 160px;
}

#grandpa-image {
   margin: -56px 0 0 -50px;
   height: 240px;
}

#grandma-image {
   margin: -5px 0 0 8px;
   height: 150px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Market
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.market {
   visibility: collapse;
   position: absolute;
   top: 25px;
   left: 25px;
   bottom: 25px;
   right: 25px;
   padding: 20px;
   font-size: 20px;
   border: 1px solid #888;
   border-radius: 25px;
   background-image: url("Images/Market/bustling.png");
   background-size: cover;
   background-color: #262626;
   text-align: center;
   font-family: "Roboto Condensed";
   z-index: 1;
   display: grid;
   grid-template-areas:
   "a b c"
   "d e f";
   cursor: url("Images/Global Assets/big-money.png"), auto;
}


.open-market {
   display: none;
   position: absolute;
   bottom: 25px;
   left: 25px;
   height: 50px;
   width: 50px;
   background-color: #f9f9f9;
   border-radius: 25px;
   transition: 0.2s;
}

.open-market:hover {
   box-shadow: 0 0 15px #262626;
}

.market-item {
   height: 95%;
   width: 95%;
   margin: auto;
   border-radius: 25px;
   transition: 0.5s;
   font-size: 25px;
   position: relative;
}

.market-item-content {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: pre-line;
}

.buy-sell {
   position: absolute;
   left: 35%;
   bottom: 15px;
   height: 50px;
   width: 30%;
   border-radius: 25px;
   overflow: hidden;
   transition: 0.1s;
}

.buy-sell:hover {
   box-shadow: 0 0 5px #262626;
}

.market-item-buy {
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: #ff94ec;
   height: 25px;
   width: 100%;
   transition: 0.2s;
   font-size: 20px;
}

.market-item-sell {
   float: left;
   position: absolute;
   left: 0;
   background-color: #77aeff;
   height: 25px;
   width: 100%;
   transition: 0.2s;
   font-size: 20px;
}

.market-item-buy:hover {
   background-color: #f96bdf;
}

.market-item-sell:hover {
   background-color: #4f94fa;
}

.market-item:hover {
   box-shadow: 0 0 25px #262626,
               inset 0 0 5px #262626;
}

.market-item:nth-child(1) {
   background-color: #ddddb9;
}

.market-item:nth-child(2) {
   background-color: #ffcc00;
}

.market-item:nth-child(3) {
   background-color: #1f7880;
}

.market-item:nth-child(4) {
   background-color: #f0e0e0;
}

.market-item:nth-child(5) {
   background-color: #84f09e;
}

.market-item:nth-child(6) {
   background-color: #b388c6;
}

.marketShadow {
   visibility: collapse;
   position: fixed;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   z-index: 0;
}
