/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Copyright January 1st 2021 by Squirrel
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
   margin: 0;
   padding: 0;
   -webkit-user-select: none;
   user-select: none;
}
body {
   background-size: auto 100vh;
   overflow: hidden;
}

::selection { display: none;}
::-webkit-scrollbar { display: none; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Buttons
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

button {
   padding: 4vh;
   margin: 1vh;
   font-family: sans-serif;
   cursor: inherit;
   transition: transform 150ms ease;
}
button:focus { outline: none; }
button:active { transform: scale(0.99); }
summary:focus { outline: none; }

.depth-button {
   outline: none;
   margin: 2vh;
   padding: 8vh;
   border: none;
   border-radius: 5vh;
   color: #fff;
   font-size: 5vh;
   transition: .15s;
}
.depth-button:active {
   outline: none;
   transform: translateY(1vh);
}

.red { background-color: #f74040; box-shadow: 0 2vh #d61818; }
.orange { background-color: #F9A748; box-shadow: 0 2vh #DA7D12; }
.yellow { background-color: #F8F948; box-shadow: 0 2vh #EAEB12; }
.green { background-color: #3FE863; box-shadow: 0 2vh #03B428; }
.blue { background-color: #63E1FF; box-shadow: 0 2vh #16CCF8; }
.purple { background-color: #6B3FE8; box-shadow: 0 2vh #4B20C8; }

.red:active { box-shadow: 0 1vh #d61818; }
.orange:active { box-shadow: 0 1vh #DA7D12; }
.yellow:active { box-shadow: 0 1vh #EAEB12; }
.green:active { box-shadow: 0 1vh #03B428; }
.blue:active { box-shadow: 0 1vh #16CCF8; }
.purple:active { box-shadow: 0 1vh #4B20C8; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Dynamic hover
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.dynamicHover {
   background-color: #e9e9e9;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   color: #2b2b2b;
   transition: opacity .1s;
   opacity: 0;
}
.dynamicHoverDark {
   background-color: #2b2b2b;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   color: #e9e9e9;
   transition: opacity .1s;
   opacity: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Main values bar
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-values {
   position: fixed;
   top: -1vh;
   left: 25%;
   padding: 1.5vh;
   background-color: #f5f5f5;
   border-radius: 1.5vh;
   z-index: 10000;
   opacity: .8;
   transition: .2s;
}

.main-values:hover {
   top: 2vh;
   opacity: 1;
}

.main-value {
   display: inline-block;
   width: 20vh;
   text-align: center;
   font-size: 3.2vh;
   font-family: "Nunito";
   color: #222;
}

.main-values img {
   margin-bottom: -1.5vh;
   height: 5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Farmland and Plots
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.land {
   position: relative;
   height: 95vh;
   width: 95vh;
   margin: 2vh auto;
   padding: .6vh;
   background-color: rgb(0, 0, 0, .3);
   border-radius: 1vh;
   transition: 0.5s;
   display: grid;
   grid-template-areas:
   "auto auto auto"
   "auto auto auto"
   "auto auto auto";
}
.plot {
   background-image: url("/Images/Plots/plot.png");
   background-size: cover;
   margin: .35vh;
   border-radius: 1vh;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
   position: relative;
   min-height: 14vw;
   min-width: 14vw;
}
.open-plot { display: none; }
#openPlot5 { display: block; }

/* Buttons */
.btn {
   font-size: 2.8vh;
   height: 20vh;
   width: 20vh;
   transition: .3s;
   border-radius: 50%;
   border: solid .5vh rgb(100, 149, 237, .3);
   background: none;
   backdrop-filter: blur(.4vh);
   box-shadow: inset -1vh 1vh 2.5vh rgb(255, 255, 255, .25);
   font-family: "Roboto Condensed";
   padding: .2vh;
   color: #fff;
   font-weight: 600;
   letter-spacing: .06ch;
   pointer-events: auto;
   opacity: 1;
}
.btn:hover {
   transform: translateY(-1vh) scale(1.05);
   box-shadow: inset -1vh -1vh 2.5vh rgb(255, 255, 255, .25),
               0 .5vh 1vh #4b3200;
}
.veg-icon {
   height: 8vh;
   position: absolute;
   top: .5vh;
   left: .5vh;
}
.purchase-plot {
   padding: 2vh;
   margin: 0;
   background-color: #533805;
   border: solid .4vh #ba7900;
   border-radius: .4vh;
   color: #fff;
   transition: 0.5s;
}
.purchase-plot:hover { box-shadow: 0 0 2vh #f5f5f5; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Close modal buttons
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.close {
   position: absolute;
   top: 4vh;
   right: 6vh;
   border: solid #f5b803 .8vh;
   height: 10vh;
   width: 10vh;
   padding: 0;
   border-radius: 2vh;
   color: #f5b803;
   background-color: #fff;
   font-size: 6vh;
   font-family: "Nuntio", sans-serif;
   box-shadow: 0 .75vh #f29103;
   box-sizing: border-box;
   transition: .2s;
}
.close:hover {
   background-color: #f5b803;
   color: #fff;
   box-shadow: 0 .25vh #f29103;
   transform: translate(0, .5vh);
}
.close:active {
   background-color: #f5b803;
   color: #fff;
   box-shadow: 0 0 #f29103;
   transform: translate(0, .75vh);
}

.closeMarket {
   top: .5vh;
   right: .5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Defualt modal (only used for settings)
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.shadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   overflow: scroll;
   transition: 0.8s;
   box-sizing: border-box;
}
.modalContent {
   height: 100%;
   padding: 8vh 0;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 8vh;
   font-family: "Nunito";
   transition: 0.6s;
   position: relative;
   box-sizing: border-box;
}
.closeModal {
   position: absolute;
   top: 3vh;
   right: 5vh;
   transition: .25s;
   cursor: pointer;
}
.closeModal:hover { text-shadow: 0 0 .5vh #444; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Right click menu
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 40vh;
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 3vh;
   background: #fff;
   color: #555;
   border-radius: 1vh;
   box-shadow: 0 0 1vh #f5f5f5;
}
#menu li {
   list-style-type: none;
   padding: 2vh 5vh;
   font-weight: 300;
   transition: .5s;
}
#menu a {
   color: #54abd3;
}
#menu li:hover {
   font-weight: 500;
   background-color: #fafafa;
   border-radius: .5vh;
}
#menu hr {
   border: .25vh solid #ebebeb;
   border-bottom: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Quick information menu
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.qIM {
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 3vh;
   background: #fff;
   color: #555;
   border-radius: 1vh;
   box-shadow: 0 0 1vh #f5f5f5;
   padding: 5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Intro
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.quest-arrow {
   display: none;
}

.welcome {
   height: 0;
   pointer-events: none;
   opacity: 0;
}

.intro-container {
   height: 0;
   overflow: hidden;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Command panel
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.command-panel {
   position: fixed;
   bottom: 0;
   border-radius: 0 5vh 0 0;
   padding: 2vh 1vh;
   text-align: center;
   background-color: #ebbc17;
}
.command-panel img {
   display: block;
   height: 12vh;
   padding: 1.5vh;
   margin: 1vh;
   border-radius: 2.5vh 5vh;
   transition: 0.2s;
   background-color: #ffca18;
}
.command-panel img:hover, .slider:hover {
   transform: scale(1.05);
   box-shadow: 0 0 .5vh #cb9e00;
}

.big-title {
   text-align: center;
   font-family: "Capriola";
   text-transform: uppercase;
   font-size: 8vh;
   margin-bottom: 3vh;
   color: #8bf9c2;
   text-shadow: .5vh .5vh #44a89b;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Toolbar
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.toolbar {
   position: absolute;
   top: 2vh;
   right: 2vh;
   background-color: #111;
   border: ridge .8vh gold;
   border-radius: 2vh;
   height: 38.5vh;
   width: 14.5vh;
   transition: 0.5s;
   box-shadow: 0 0 2vh #262626;
   font-family: "Nunito";
}
.produce-tooltip {
   position: relative;
   width: auto;
   margin: auto;
   text-align: center;
}
.produce-image {
   height: 4vh;
   margin: 0 .5vh -.8vh .5vh;
}
.toolbar-img {
   height: 10vh;
   margin: 1.2vh 0;
}
.produce-tooltip .tooltip-text {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   width: 20vh;
   height: 12vh;
   background-color: #eee;
   text-align: center;
   border-radius: 2vh;
   padding: .5vh 0;
   box-shadow: 0 0 .5vh .5vh #eee;
   font-size: 3vh;
   color: #262626;
   top: -1vh;
   right: 95%;
   z-index: 1;
   transition: .6s;
   transition-delay: .2s;
}
.produce-tooltip .tooltip-text-produce {
   min-width: 50vh;
   height: auto;
   padding: 2vh 0;
}
.produce-tooltip .tooltip-text::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 100%;
   margin-top: -1vh;
   border-width: 1vh;
   border-style: solid;
   border-color: transparent transparent transparent #eee;
}
.produce-tooltip .tooltip-text-produce::after { top: 7vh; }
.produce-tooltip:hover .tooltip-text {
   opacity: 1;
   pointer-events: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Pick a plant
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.almanacBtn {
   position: absolute;
   bottom: .5vh;
   left: .5vh;
   background-color: transparent;
   outline: none;
   border: none;
   padding: 0;
}
.almanacBtn:active { transform: scale(1); }
.almanac {
   height: 8vh;
}
.shop-window {
   position: absolute;
   top: 2.5%;
   right: 2.5%;
   bottom: 2.5%;
   height: 0;
   width: 8vh;
   border-radius: 1vh;
   text-align: center;
   background-color: #f5f5f5;
   list-style-type: none;
   overflow-y: scroll;
   transition: all .8s ease;
}
.shop-window li {
   margin: 1.2vh;
}
.store-icon {
   height: 5vh;
   transition: .2s;
}
.store-icon:hover {
   transform: scale(1.2);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Fade text
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.fade-text {
   max-width: 40vh;
   position: fixed;
   top: -100%;
   right: -100%;
   z-index: 9999;
   pointer-events: none;
   font-family: "Nunito";
   text-align: center;
   white-space: pre-wrap;
   font-size: 3vh;
   color: #fff;
   border-radius: 1vh;
   text-shadow: 0 0 1vh #f5f5f5;
   opacity: 0;
   transform: translateY(10vh) scale(.85);
   animation: fade-text 6s forwards;
}
.vegLuck:nth-last-child(2) { margin-top: 10vh; }
.vegLuck:nth-last-child(1) { margin-top: 20vh; }
@keyframes fade-text {
   0% {
      opacity: 0;
      transform: translateY(10vh) scale(.85);
   }
   30%, 40% {
      opacity: 1;
      transform: translateY(0) scale(1.05);
   }
   90%, 100% {
      opacity: 0;
      transform: translateY(-10vh) scale(1);
   }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Weather
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.weather-short {
   position: fixed;
   height: 15vh;
   width: 15vh;
   right: 2vh;
   top: 45vh;
   background-color: rgb(59, 74, 167, .9);
   border: solid .5vh rgb(42, 50, 102, .9);
   border-radius: 2vh;
   overflow: hidden;
   overflow: scroll;
   display: grid;
   grid-template-areas:
   "a b"
   "d d"
   "c c";
   transition: .75s;
   transition-delay: .3s;
}
.weather-short:hover {
   height: 45vh;
   width: 35vh;
}
.weather-short .weather-img {
   grid-area: a;
   height: 15vh;
   width: 15vh;
   transition: all .1s, margin .8s;
   transition-delay: .3s;
}
.weather-short:hover .weather-img { margin: 1vh 2vh; }
.weather-next, .weather-last { height: 8vh; width: 8vh; margin: 2vh auto; }
.weather-name {
   grid-area: b;
   font-size: 4.5vh;
   font-family: "Nunito";
   font-weight: 700;
   color: #f5f5f5;
   text-align: center;
   padding-top: 3vh;
}
.weather-description {
   grid-area: c;
   font-size: 4vh;
   font-family: "Nunito";
   color: #f5f5f5;
   text-align: center;
}
.weather-time {
   grid-area: d;
   font-size: 3.5vh;
   font-family: "Nunito";
   color: #f5f5f5;
   text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Time left
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.time-left img {
   height: 5vh;
   margin: .5vh;
   position: sticky;
}
.time-left:hover img {
   height: 0;
   width: 0;
}
.time-left {
   position: absolute;
   right: .5vh;
   bottom: .5vh;
   border: outset .7vh rgba(225, 225, 225, 0.75);
   padding: .1vh;
   border-radius: 1.5vh;
   height: 5vh;
   width: 5vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(225, 225, 225, 0.75);
   color: #333;
   font-family: "Nunito";
   font-size: 0;
   overflow: scroll;
   opacity: .8;
   transition: .2s;
   transition: width .3s, opacity .2s;
   transform: scale(.9);
   mix-blend-mode: luminosity;
}
.time-left:hover {
   width: 12vh;
   font-size: 2.5vh;
   opacity: 1;
   transform: scale(1);
   border: outset .7vh rgba(245, 245, 245, 0.75);
   background-color: rgba(245, 245, 245, 0.75);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Other
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.darkFadeText { color: #505050; }

.aTaskIsReady {
   height: 16vh;
   position: absolute;
   top: 6vh;
   right: -20vh;
   z-index: 1000000;
   transition: .5s;
   opacity: 0;
   pointer-events: none;
}

.vegAmount { display: none; }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Weeds
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.weed {
   position: absolute;
   height: 6vh;
   width: 6vh;
   z-index: 1;
   transform: scale(0);
   transition: transform .5s;
}
.weed:hover { animation: weed-found 1s; }
@keyframes weed-found {
   0% { transform: rotate(0); }
   25% { transform: rotate(15deg); }
   50% { transform: rotate(-15deg); }
   75% { transform: rotate(15deg); }
   100% { transform: rotate(0); }
}













/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Settings
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.settings {
   cursor: url("/Images/Cursors/chisel.png"), auto;
}

.setting-button {
   border-radius: .5vh;
   display: block;
   padding: 1vh;
   margin: .5vh auto;
   width: 81vw;
   box-shadow: 0 0 1vh #222;
   background-color: #808080;
   border: none;
   font-size: 3.5vh;
   color: lightblue;
   display: inline;
   text-shadow: 0 0 4vh #000;
   font-family: "Nunito";
}
.settings h1 { font-weight: 200; }
.theme-color {
   width: 26.3vw;
   padding: 1vh;
   margin: .5vh auto;
   display: inline;
   background-color: #aaaaaa;
}
.setting-button:active { transform: scale(0.95); }
