<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body  onmousemove="getCoords(event)">
    <% if (user !== "(not signed in)") { %>
        
      <div class="info">
         <div class="workerInfo">
            <img class="infoImg workers" src="New Vegetable/worker.jpg" onmouseenter="info(this)">
            <p class=""></p>
            <p class="avalibleWorkers"></p>
            <div class="console"></div>
         </div>
         <div class="resourceInfo">
            <p class="lumber"></p>
            <p class="wood"></p>
            <p class="coins"></p>
         </div>
      </div>
      <div class="taskOccuring">
         <h2>WORKING</h2>
      </div>
      <div class="workBuildings">
         <h2>BUILDINGS</h2>
      </div>
      <div class="passiveBuildings">
         <h2>BUILDINGS</h2>
      </div>
      <div class="store">
         <h2>STORE</h2>
         <div class="store-item">
            <h3>Basic Hut</h3>
            <img class="building" src="New Vegetable/Passive Buildings/basic-hut.png">
            <button onclick="build_BasicHut()">Purchase</button>
         </div>
      </div>




















        <!-- <style media="screen">
            * {
               padding: 0;
               margin: 0;
               font-size: 0;
            }
            .land {
               /* background-color: #279ce6;
               height: 60vh;
               width: 60vh; */
               padding: 10vh;
               box-sizing: content-box;
               margin: 25vh 0 0 10vh;
               transform: rotate(45deg) skew(-15deg, -15deg);
            }
            .plot-spot {
               height: 20vh;
               width: 20vh;
               display: inline-block;
               box-sizing: margin-box;
               padding: 0;
               margin: 0;
               position: relative;
               overflow: hidden;
               border: solid red .1vh;
               background-color: blueviolet;
            }
            .plot-spot-img {
               height: 20vh; 
               width: 20vh;
               position: absolute;
               bottom: 0;
               left: 0;
               width: 30vh;
               pointer-events: none;
               /* transform: rotate(-45deg); */
               background-color: #000;
            }
            .construction-option {
               font-size: 5vh;
            }
         </style>
         <div class="land"></div>
         <div class="construction-option" onclick="placeHand = 'empty'">Demolish</div>
         <div class="construction-option" onclick="placeHand = 'grass'">Lawn</div>
         <div class="construction-option" onclick="placeHand = 'house'">House</div>
         <div class="construction-option" onclick="placeHand = 'longhouse'">Longhouse</div> -->






        <!-- <div class="messageBox">
            <%foundItems.forEach(function(item) {%>
                <div class="message">
                    <div>
                        <img class="avatar" src=<%= `Avatars/${item.avatar}.png` %>><br>
                        <h2 class="chatter"><%=item.user%></h2>
                    </div>
                    <h2 class="post"><%=item.input%></h2> 
                </div>
            <%})%>
        </div> -->
        <!-- <div class="postBox">
            <form action="chat-message" method="POST">
                <input class="message-box" type="text" name="message" placeholder="Message..." required><br>
                <button class="post-button" type="text">Post</button>
            </form>
        </div> -->
     <%} else { %>
        <div class="not-signed-in">
                 <div class="not-signed-inner">
                    <h2 style="text-align: center;">Welcome to Vegetable Dash!</h2>
                    <h4 style="text-align: center;">You are not signed in</h4><br>
                    <div class="opening">
                       <p>Do you have an account?</p><a href="/sign-in">Sign in!</a><br><br>
                       <p>Don't have an account?</p><a href="/create-account">Create an account!</a>
                    </div>
                 </div>
        </div>
     <% } %>
</body>
<script src="farmgame.js"></script>
</html>