<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Home</title>
</head>
<style media="screen">
* {
   padding: 0;
   margin: 0;
}
body {
   background-image: url("Images/Global Assets/background.png");
   background-size: 100vw 100vh;
}
</style>
<body>
   <h2>Home!</h2>
   <% if (user) { %>
   <h2>Welcome, you are signed in as <%- user.name %></h2>
   <% } %>
   <p>Already signed in? <a href="/sign-in">Play!</a></p>
   <p>Do you already have an account? <a href="/sign-in">Sign in!</a></p>
   <p>Someone else is playing? <a href="/sign-out">Sign out!</a></p>
   <p>Don't have an account? <a href="/create-account">Create an account!</a></p>
<body>
</body>
</body>
</html>
