<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <script type="text/javascript">var timerStart = Date.now();</script>
      <meta charset="utf-8">
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
      <script src="https://squirrel-314.github.io/digit/main.js" charset="utf-8"></script>
      <link rel="shortcut icon" href="Images/Global Assets/logo.svg" type="image/x-icon">
      <link rel="stylesheet" href="styles.css">
      <title>Vegetable Dash!</title>
   </head>
   <body ondragstart="return false;" onmousemove="getCoords(event)">
      <div class="cover">
         <div class="meter">
           <span class="loading-progress" style="width: 0%"><span class="load-display">0%</span></span>
         </div>
      </div>
      <!-- Land and Plots -->
      <div class="land">
         <img onclick="collectWeed(this)" class="weed" src="Images/Global Assets/weed.svg">
         <!-- Pea Plot -->
         <div class="plot" id="plot1">
            <button class="Peas btn" onclick="tend('peas')">Grow Peas!</button>
            <!-- Countdown -->
            <div class="countdown peas-countdown time-left">
               <span class="peas-time-left">00:00:00</span>
               <img src="Images/Icons/clock.svg">
            </div>
            <!-- Special -->
            <img class="quest-arrow plant-quest-arrow" src="Images/Tasks/arrow.png">
            <!-- Modal -->
            <img onclick="infoModal('Peas')" class="veg-icon" src="Images/Vegetables/pea.png">
            <div id="infoPeas" class="veg-info">
               <div class="modal-content">
                  <button onclick="infoModal('Peas')" class="close depth-button green">×</button>
                  <h4>Peas <img class="info-icon" src="Images/Vegetables/pea.png"></h4>
                  <p>Peas are a climbing vine in the legume family. <br> These pea plants take 10 seconds to grow.</p>
                  <div class="modal-market-prices">
                     <div class="modalPeasPriceBuy"></div>
                     <div class="modalPeasPriceSell"></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Corn Plot -->
         <div class="plot" id="plot2">
            <div class="lock-tooltip" id="lockedDiv2">
               <img id="lock2" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext">This plot is locked <br> Pay 150 Seeds to unlock <br> <button class="purchase-plot" onclick="unlockPlot(2)">Purchase Plot</button></span>
            </div>
            <div class="open-plot" id="openPlot2">
               <button class="Corn btn" onclick="tend('corn')">Grow Corn!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="corn-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Modal -->
               <img onclick="infoModal('Corn')" class="veg-icon" src="Images/Vegetables/corn.png">
               <div id="infoCorn" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Corn')" class="close depth-button yellow">×</button>
                     <h4>Corn <img class="info-icon" src="Images/Vegetables/corn.png"></h4>
                     <p>Corn, or maize, is a cereal grain originally grown 10,00 years ago in southern Mexico. <br> These corn plants take 25 seconds to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalCornPriceBuy">Buy For</div>
                        <div class="modalCornPriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedCorn" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedCorn'); location.reload();" class="close depth-button yellow">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">Market Exchanges!</p>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Corn Tasks!</p>
                     <p class="unlocked-text">+ Growing Corn!</p>
                     <p class="unlocked-text">+ Corn in Market!</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Strawberry Plot -->
         <div class="plot" id="plot3">
            <div class="lock-tooltip" id="lockedDiv3">
               <img id="lock3" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock3Text">This plot is locked <br> Purchase the previous plot to unlock</span>
            </div>
            <div class="open-plot" id="openPlot3">
               <button class="Strawberries btn" onclick="tend('strawberries')">Grow Strawberries!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="strawberries-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Info -->
               <img onclick="infoModal('Strawberry')" class="veg-icon" src="Images/Vegetables/strawberry.png">
               <div id="infoStrawberry" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Strawberry')" class="close depth-button red">×</button>
                     <h4>Strawberries! <img class="info-icon" src="Images/Vegetables/strawberry.png"></h4>
                     <p>Strawberries are part of the genus Fragaria, native to North America. <br> These strawberries take 2.5 minutes to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalStrawberriesPriceBuy">Buy For</div>
                        <div class="modalStrawberriesPriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedStrawberry" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedStrawberry'); location.reload();" class="close depth-button red">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">The Black Market!</p>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Strawberry Tasks!</p>
                     <p class="unlocked-text">+ Growing Strawberries!</p>
                     <p class="unlocked-text">+ Strawberries in Market!</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Eggplant Plot -->
         <div class="plot" id="plot4">
            <div class="lock-tooltip" id="lockedDiv4">
               <img id="lock4" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock4Text">This plot is locked <br> Purchase the previous plot to unlock</span>
            </div>
            <div class="open-plot" id="openPlot4">
               <button class="Eggplants btn" onclick="tend('eggplants')">Grow Eggplants!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="eggplants-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Info -->
               <img onclick="infoModal('Eggplant')" class="veg-icon" src="Images/Vegetables/eggplant.png">
               <div id="infoEggplant" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Eggplant')" class="close depth-button purple">×</button>
                     <h4>Eggplant <img class="info-icon" src="Images/Vegetables/eggplant.png"></h4>
                     <p>Eggplants are a species in the Solanaceae, or nightshade family, and are thought to be native to India. <br> These eggplants take 15 minutes to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalEggplantsPriceBuy">Buy For</div>
                        <div class="modalEggplantsPriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedEggplant" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedEggplant'); location.reload();" class="close depth-button purple">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Eggplant Tasks!</p>
                     <p class="unlocked-text">+ Growing Eggplants!</p>
                     <p class="unlocked-text">+ Eggplants in Market!</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Center Plot -->
         <div class="plot" id="plot5">
            <div class="lock-tooltip" id="lockedDiv5">
               <img id="lock5" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock5Text">This plot is locked <br> Purchase all other plots to unlock<br><br></span>
            </div>
            <div class="open-plot" id="openPlot5">
               <div class="countdown time-left">
                  <span class="center-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Center Info -->
               <img onclick="infoModal('Rainbow')" class="veg-icon" src="Images/Global Assets/rainbow-fruit.svg">
               <div id="infoRainbow" class="veg-info">
                  <div class="modal-content">
                     <span onclick="infoModal('Rainbow')" class="close">×</span>
                     <h4>Rainbow Plot! <img class="info-icon" src="Images/Global Assets/rainbow-fruit.svg"></h4>
                     <p>You can plant anything in this plot! <br> 🎉 Yay! 🎉</p>
                  </div>
               </div>
               <img onclick="if (document.getElementById('shop1').style.height === '100%') {document.getElementById('shop1').style.height = '0'} else {document.getElementById('shop1').style.height = '100%'}" class="almanac" src="Images/Global Assets/almanac.png">
               <ul class="shop-window" id="shop1">
                  <li><img onclick="tendCenter('peas', 3000, 6000, 10000, 'Peas/growing.png', 'Peas/flowering.png', 'Peas/fruiting.png')" class="store-icon" src="Images/Vegetables/pea.png"></li>
                  <li><img onclick="tendCenter('corn', 6000, 12000, 25000, 'growing.png', 'Corn/growing.png', 'Corn/fruiting.png')" class="store-icon" src="Images/Vegetables/corn.png"></li>
                  <li><img onclick="tendCenter('strawberries', 50000, 100000, 150000, 'Strawberry/growing.png', 'Strawberry/flowering.png', 'Strawberry/fruiting.png')" class="store-icon" src="Images/Vegetables/strawberry.png"></li>
                  <li><img onclick="tendCenter('eggplants', 300000, 600000, 900000, 'Eggplant/growing.png', 'Eggplant/flowering.png', 'Eggplant/fruiting.png')" class="store-icon" src="Images/Vegetables/eggplant.png"></li>
                  <li><img onclick="tendCenter('pumpkins', 600000, 1200000, 1800000, 'growing.png', 'Pumpkin/growing.png', 'Pumpkin/fruiting.png')" class="store-icon" src="Images/Vegetables/pumpkin.svg"></li>
                  <li><img onclick="tendCenter('cabbage', 1200000, 2400000, 3600000, 'growing.png', 'Cabbage/growing.png', 'Cabbage/fruiting.png')" class="store-icon" src="Images/Vegetables/cabbage.svg"></li>
                  <li><img onclick="tendCenter('dandelion', 3600000, 7200000, 10800000, 'Dandelion/flowering.png', 'Dandelion/flowering.png', 'Dandelion/fruiting.png')" class="store-icon" src="Images/Vegetables/dandelion.png"></li>
                  <li><img onclick="tendCenter('rhubarb', 9600000, 18200000, 28800000, 'growing.png', 'Rhubarb/growing.png', 'Rhubarb/fruiting.png')" class="store-icon" src="Images/Vegetables/rhubarb.png"></li>
               </ul>
            </div>
         </div>
         <!-- Pumpkin Plot -->
         <div class="plot" id="plot6">
            <div class="lock-tooltip" id="lockedDiv6">
               <img id="lock6" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock6Text">This plot is locked <br> Purchase the previous plot to unlock</span>
            </div>
            <div class="open-plot" id="openPlot6">
               <button class="Pumpkins btn" onclick="tend('pumpkins')">Grow Pumpkins!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="pumpkins-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Info -->
               <img onclick="infoModal('Pumpkins')" class="veg-icon" src="Images/Vegetables/pumpkin.svg">
               <div id="infoPumpkins" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Pumpkins')" class="close depth-button orange">×</button>
                     <h4>Pumpkins <img class="info-icon" src="Images/Vegetables/pumpkin.svg"></h4>
                     <p>Pumpkins, a round winter squash with yellow to orange smooth skin, are believed to originate in Mexico. <br> These Pumpkins take 30 minutes to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalPumpkinsPriceBuy">Buy For</div>
                        <div class="modalPumpkinsPriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedPumpkin" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedPumpkin'); location.reload();" class="close depth-button orange">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Pumpkin Tasks!</p>
                     <p class="unlocked-text">+ Growing Pumpkins!</p>
                     <p class="unlocked-text">+ Pumpkins in Market!</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Cabbage Plot -->
         <div class="plot" id="plot7">
            <div class="lock-tooltip" id="lockedDiv7">
               <img id="lock7" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock7Text">This plot is locked <br> Purchase the previous plot to unlock<br></span>
            </div>
            <div class="open-plot" id="openPlot7">
               <button class="Cabbage btn" onclick="tend('cabbage')">Grow Cabbage!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="cabbage-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Information -->
               <img onclick="infoModal('Cabbage')" class="veg-icon" src="Images/Vegetables/cabbage.svg">
               <div id="infoCabbage" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Cabbage')" class="close depth-button green">×</button>
                     <h4>Cabbage <img class="info-icon" src="Images/Vegetables/cabbage.svg"></h4>
                     <p>A leafy vegetable <br> These Cabbage plants take 1 hour to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalCabbagePriceBuy">Buy For</div>
                        <div class="modalCabbagePriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedCabbage" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedCabbage'); location.reload();" class="close depth-button green">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Cabbage Tasks!</p>
                     <p class="unlocked-text">+ Growing Cabbages!</p>
                     <p class="unlocked-text">+ Cabbages in Market!</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Dandelion Plot -->
         <div class="plot" id="plot8">
            <div class="lock-tooltip" id="lockedDiv8">
               <img id="lock8" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock8Text">This plot is locked <br> Purchase the previous plot to unlock</span>
            </div>
            <div class="open-plot" id="openPlot8">
               <button class="Dandelion btn" onclick="tend('dandelion')">Grow Dandelion!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="dandelion-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Info -->
               <img onclick="infoModal('Dandelion')" class="veg-icon" src="Images/Vegetables/dandelion.png">
               <div id="infoDandelion" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Dandelion')" class="close depth-button yellow">×</button>
                     <h4>Dandelions! <img class="info-icon" src="Images/Vegetables/dandelion.png"></h4>
                     <p>These <strong>are</strong> vegetables, because the part eaten are the seeds and leaves, not the fruit. Of the Taraxacum family, the name dandelion come from the French dent-de-lion, which means 'lion's tooth'.<br> These dandelions take 3 hours to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalDandelionPriceBuy">Buy For</div>
                        <div class="modalDandelionPriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedDandelion" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedDandelion'); location.reload();" class="close depth-button yellow">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Dandelion Tasks!</p>
                     <p class="unlocked-text">+ Growing Dandelions!</p>
                     <p class="unlocked-text">+ Dandelions in Market!</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Rhubarb Plot -->
         <div class="plot" id="plot9">
            <div class="lock-tooltip" id="lockedDiv9">
               <img id="lock9" class="locked" src="Images/Lock/lock.svg">
               <span class="tooltiptext" id="lock9Text">This plot is locked <br> Purchase the previous plot to unlock<br></span>
            </div>
            <div class="open-plot" id="openPlot9">
               <button class="Rhubarb btn" onclick="tend('rhubarb')">Grow Rhubarb!</button>
               <!-- Countdown -->
               <div class="countdown time-left">
                  <span class="rhubarb-time-left">00:00:00</span>
                  <img src="Images/Icons/clock.svg">
               </div>
               <!-- Information -->
               <img onclick="infoModal('Rhubarb')" class="veg-icon" src="Images/Vegetables/rhubarb.png">
               <div id="infoRhubarb" class="veg-info">
                  <div class="modal-content">
                     <button onclick="infoModal('Rhubarb')" class="close depth-button red">×</button>
                     <h4>Rhubarb <img class="info-icon" src="Images/Vegetables/rhubarb.png"></h4>
                     <p>Don't eat the leaves. <br> They're poisonous. <br> These rhubarb plants take 8 hours to grow.</p>
                     <div class="modal-market-prices">
                        <div class="modalRhubarbPriceBuy">Buy For</div>
                        <div class="modalRhubarbPriceSell">Sell For</div>
                     </div>
                  </div>
               </div>
               <!-- Unlocked -->
               <div id="infoUnlockedRhubarb" class="veg-info">
                  <div class="modal-content modal-plot-unlocked">
                     <button onclick="infoModal('UnlockedRhubarb'); location.reload();" class="close depth-button red">×</button>
                     <h4>New Plot Unlocked!</h4>
                     <p class="unlocked-text">+1 Market Reset!</p>
                     <p class="unlocked-text">+ Rhubarb Tasks!</p>
                     <p class="unlocked-text">+ Growing Rhubarb!</p>
                     <p class="unlocked-text">+ Rhubarb in Market!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Toolbar -->
      <div class="toolbar">
         <div class="produce-tooltip produce-tooltip-barrel">
            <img class="toolbar-img" src="Images/Icons/barrel.svg">
            <span class="tooltip-text tooltip-text-produce">
               <span class="seeds">0</span><br>
               <div class="vegAmount doughnutsAmount"><span id="doughnuts">0</span> <img class="produce-image" src="Images/Market/doughnut.png"><br></div>
               <div class="vegAmount peasAmount"><span id="peaBushels">0</span> <img class="produce-image" src="Images/Vegetables/pea.png"><br></div>
               <div class="vegAmount cornAmount"><span id="cornBushels">0</span> <img class="produce-image" src="Images/Vegetables/corn.png"><br></div>
               <div class="vegAmount strawberriesAmount"><span id="strawberryBushels">0</span> <img class="produce-image" src="Images/Vegetables/strawberry.png"><br></div>
               <div class="vegAmount eggplantsAmount"><span id="eggplantBushels">0</span> <img class="produce-image" src="Images/Vegetables/eggplant.png"><br></div>
               <div class="vegAmount pumpkinsAmount"><span id="pumpkinBushels">0</span> <img class="produce-image" src="Images/Vegetables/pumpkin.svg"><br></div>
               <div class="vegAmount cabbageAmount"><span id="cabbageBushels">0</span> <img class="produce-image" src="Images/Vegetables/cabbage.svg"><br></div>
               <div class="vegAmount dandelionAmount"><span id="dandelionBushels">0</span> <img class="produce-image" src="Images/Vegetables/dandelion.png"><br></div>
               <div class="vegAmount rhubarbAmount"><span id="rhubarbBushels">0</span> <img class="produce-image" src="Images/Vegetables/rhubarb.png"><br></div>
            </span>
         </div>
         <div class="produce-tooltip produce-tooltip-fertilizer">
            <img class="toolbar-img" style="margin: 0.5vh" onclick="fertilizeHover()" src="Images/Global Assets/fertilizer.svg">
            <span id="fertilizer" class="tooltip-text"></span>
         </div>
         <div class="produce-tooltip produce-tooltip-harvest-drag">
            <img class="toolbar-img" onclick="harvestDrag()" src="Images/Global Assets/sickle.svg">
            <span id="harvest-drag" class="tooltip-text">Hold + Drag to harvest</span>
         </div>
      </div>
      <!-- Tasks -->
      <div class="tasks">
         <div class="taskShadow" onclick="taskBar('open');"></div>
         <img class="task-ribbon" src="Images/Tasks/ribbon.svg" onclick="taskBar('close')">
         <svg
         class="aTaskIsReady"
         width="200.75131mm"
         height="266.73831mm"
         viewBox="0 0 200.75131 266.73831"
         version="1.1"
         id="svg5"
         inkscape:version="1.1 (c68e22c387, 2021-05-23)"
         sodipodi:docname="a-task-is-ready-simple.svg"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:svg="http://www.w3.org/2000/svg">
        <sodipodi:namedview
           id="namedview7"
           pagecolor="#ffffff"
           bordercolor="#666666"
           borderopacity="1.0"
           inkscape:pageshadow="2"
           inkscape:pageopacity="0.0"
           inkscape:pagecheckerboard="true"
           inkscape:document-units="mm"
           showgrid="false"
           fit-margin-top="5"
           lock-margins="true"
           fit-margin-left="5"
           fit-margin-right="5"
           fit-margin-bottom="5"
           inkscape:zoom="0.42583145"
           inkscape:cx="-126.81074"
           inkscape:cy="409.78655"
           inkscape:window-width="1920"
           inkscape:window-height="1047"
           inkscape:window-x="-9"
           inkscape:window-y="-9"
           inkscape:window-maximized="1"
           inkscape:current-layer="layer2" />
        <defs
           id="defs2">
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2853"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2834"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2735"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2707"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2703"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2699"
             is_visible="true"
             lpeversion="1" />
          <linearGradient
             inkscape:collect="always"
             id="linearGradient1071">
            <stop
               style="stop-color:#ffcc00;stop-opacity:1"
               offset="0"
               id="stop1067" />
            <stop
               style="stop-color:#ffdd55;stop-opacity:1"
               offset="1"
               id="stop1069" />
          </linearGradient>
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2599"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2037"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect2018"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect1999"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect1858"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect1723"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect994"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="skeletal"
             id="path-effect889"
             is_visible="true"
             lpeversion="1"
             pattern="M 0,4.9921382 C 0,2.2364779 2.2364779,0 4.9921382,0 c 2.7556604,0 4.9921383,2.2364779 4.9921383,4.9921382 0,2.7556604 -2.2364779,4.9921383 -4.9921383,4.9921383 C 2.2364779,9.9842765 0,7.7477986 0,4.9921382 Z"
             copytype="single_stretched"
             prop_scale="1"
             scale_y_rel="false"
             spacing="0"
             normal_offset="0"
             tang_offset="0"
             prop_units="false"
             vertical_pattern="false"
             hide_knot="false"
             fuse_tolerance="0" />
          <inkscape:path-effect
             effect="skeletal"
             id="path-effect883"
             is_visible="true"
             lpeversion="1"
             pattern="M 0,4.9921382 C 0,2.2364779 2.2364779,0 4.9921382,0 c 2.7556604,0 4.9921383,2.2364779 4.9921383,4.9921382 0,2.7556604 -2.2364779,4.9921383 -4.9921383,4.9921383 C 2.2364779,9.9842765 0,7.7477986 0,4.9921382 Z"
             copytype="single_stretched"
             prop_scale="1"
             scale_y_rel="false"
             spacing="0"
             normal_offset="0"
             tang_offset="0"
             prop_units="false"
             vertical_pattern="false"
             hide_knot="false"
             fuse_tolerance="0" />
          <inkscape:path-effect
             effect="skeletal"
             id="path-effect877"
             is_visible="true"
             lpeversion="1"
             pattern="M 0,4.9921382 C 0,2.2364779 2.2364779,0 4.9921382,0 c 2.7556604,0 4.9921383,2.2364779 4.9921383,4.9921382 0,2.7556604 -2.2364779,4.9921383 -4.9921383,4.9921383 C 2.2364779,9.9842765 0,7.7477986 0,4.9921382 Z"
             copytype="single_stretched"
             prop_scale="1"
             scale_y_rel="false"
             spacing="0"
             normal_offset="0"
             tang_offset="0"
             prop_units="false"
             vertical_pattern="false"
             hide_knot="false"
             fuse_tolerance="0" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect871"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect867"
             is_visible="true"
             lpeversion="1" />
          <inkscape:path-effect
             effect="spiro"
             id="path-effect863"
             is_visible="true"
             lpeversion="1" />
          <clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath3210">
            <path
               style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 173.55283,139.55997 c 5.11361,-2.3842 11.0906,-2.86032 16.51718,-1.31576 5.42657,1.54456 10.25697,5.09679 13.34862,9.81644 2.12283,3.24067 3.41559,6.93887 4.83284,10.54438 1.88288,4.79008 4.02562,9.50491 5.27219,14.49852 1.78766,7.16117 1.67198,14.67062 0.884,22.00937 -0.78798,7.33875 -2.23408,14.59333 -3.08074,21.92554 -0.78362,6.78628 -1.05509,13.64674 -2.40747,20.34291 -1.35237,6.69617 -3.89259,13.3468 -8.57626,18.31981 -4.18595,4.44455 -9.82665,7.27674 -15.6261,9.18532 -5.79944,1.90857 -11.83618,2.97436 -17.76443,4.43452 -7.38398,1.81871 -14.60401,4.25075 -21.96746,6.15087 -15.65776,4.04044 -32.42441,5.60476 -47.889049,0.87871 -3.461986,-1.058 -6.825694,-2.42096 -10.105027,-3.95415 -7.344689,-3.43387 -14.373735,-7.8049 -19.849444,-13.78425 -5.475709,-5.97934 -9.310931,-13.69996 -9.586947,-21.80303 -0.145175,-4.26194 0.669965,-8.62352 -0.439348,-12.74112 -0.376714,-1.3983 -0.971918,-2.73751 -1.757397,-3.95414 -0.958268,-1.60244 -1.562549,-3.41528 -1.757397,-5.27219 -0.192272,-1.83237 0.0097,-3.67957 0.103352,-5.51961 0.09369,-1.84005 0.07204,-3.72727 -0.542701,-5.46412 -0.437521,-1.23614 -1.158712,-2.34815 -1.757397,-3.51479 -2.151382,-4.19232 -2.689822,-9.05701 -2.384937,-13.75925 0.304885,-4.70223 1.408187,-9.30998 2.384937,-13.91975 5.74862,-27.1306 7.291236,-55.35231 17.134615,-81.279588 1.33592,-3.518788 2.837359,-7.011779 5.013745,-10.082593 2.176385,-3.070814 5.086097,-5.719242 8.606077,-7.052019 3.145054,-1.190818 6.578693,-1.277567 9.923238,-1.628894 1.672272,-0.175664 3.34453,-0.422302 4.954156,-0.908572 1.609625,-0.486271 3.161094,-1.220284 4.453974,-2.295376 1.19959,-0.997517 2.17198,-2.28113 3.51478,-3.075443 1.16156,-0.687101 2.52312,-0.958495 3.86755,-1.076088 1.34443,-0.117594 2.69945,-0.09275 4.04074,-0.24196 2.86122,-0.318283 5.58571,-1.422047 8.1059,-2.813635 2.5202,-1.391589 4.86588,-3.073583 7.27131,-4.655299 9.81297,-6.452632 20.90975,-11.319682 32.60608,-12.381065 11.69634,-1.061382 24.03637,1.990724 32.85694,9.744968 2.29248,2.015336 4.34354,4.342587 5.79698,7.026714 1.45344,2.684127 2.29003,5.742712 2.11131,8.789856 -0.10238,1.745482 -0.57509,3.544686 -1.7574,4.832834 -1.04313,1.136509 -2.54759,1.767448 -4.06978,2.017841 -1.5222,0.250394 -3.07826,0.15188 -4.61581,0.02662 -1.53756,-0.125262 -3.0839,-0.276606 -4.61956,-0.1299 -1.53566,0.146707 -3.08163,0.61516 -4.26881,1.600242 -0.8842,0.733681 -1.52474,1.711669 -2.16422,2.666219 -0.63948,0.95455 -1.30836,1.918926 -2.22927,2.605969 -1.2179,0.908617 -2.7964,1.252487 -4.31258,1.152069 -1.51617,-0.100418 -2.97911,-0.616898 -4.34104,-1.290695 -2.72387,-1.347594 -5.14253,-3.343504 -8.04165,-4.254862 -1.90076,-0.597517 -3.92579,-0.698047 -5.91557,-0.594699 -1.98979,0.103348 -3.96343,0.405175 -5.94686,0.594699 -9.14205,0.873556 -18.34975,-0.645544 -27.52839,-0.340889 -4.58932,0.152327 -9.20054,0.771211 -13.51899,2.332002 -4.31844,1.560791 -8.345844,4.105685 -11.235159,7.674566 -0.997884,1.232586 -1.852799,2.575193 -2.636094,3.954139 -5.650233,9.94692 -7.555833,21.67173 -13.180472,31.63314 -3.706701,6.56468 -8.943734,12.20421 -12.306717,18.95144 -1.681491,3.37361 -2.880651,7.03948 -3.038134,10.80563 -0.157482,3.76615 0.785965,7.64409 3.043075,10.66305 2.501122,3.34534 6.384867,5.39324 10.343072,6.72721 3.958204,1.33398 8.099988,2.0604 12.063734,3.37782 3.554312,1.18134 6.938952,2.8291 10.487155,4.02866 3.54821,1.19956 7.36197,1.94623 11.04095,1.24352 3.18804,-0.60894 6.08323,-2.2659 9.22633,-3.07544 2.15775,-0.55575 4.39719,-0.7033 6.59251,-1.0845 2.19532,-0.38121 4.41496,-1.03057 6.14861,-2.43029 1.49238,-1.20492 2.5329,-2.90219 3.1896,-4.70436 0.6567,-1.80216 0.95137,-3.7154 1.14696,-5.62349 0.39117,-3.81617 0.44131,-7.8192 2.25368,-11.20026 1.42976,-2.66728 3.81746,-4.66927 5.71154,-7.02958 1.77367,-2.21025 3.12329,-4.75955 3.95414,-7.46894"
               id="path3212"
               inkscape:original-d="m 173.55283,139.55997 c 15.27098,0.74909 19.17295,2.18686 29.8658,8.50068 4.02239,2.3751 3.22657,6.36807 4.83284,10.54438 1.8855,4.90229 4.28556,9.23648 5.27219,14.49852 1.90767,10.17424 0.68262,34.06281 -2.19674,43.93491 -3.55191,12.17797 -1.1607,28.83969 -10.98373,38.66272 -8.81039,8.81039 -21.8962,10.67256 -33.39053,13.61984 -5.30913,1.3613 -17.37358,5.20853 -21.96746,6.15087 -6.42632,1.31823 -40.13535,2.76474 -47.889049,0.87871 -3.514561,-0.8549 -6.854872,-2.36686 -10.105027,-3.95415 -11.132331,-5.43671 -24.748726,-24.64939 -29.436391,-35.58728 -1.459926,-3.40649 0.277458,-9.15709 -0.439348,-12.74112 -0.282872,-1.41436 -1.171599,-2.6361 -1.757397,-3.95414 -0.585801,-1.7574 -1.442652,-3.44667 -1.757397,-5.27219 -0.622567,-3.6109 0.449342,-7.42896 -0.439349,-10.98373 -0.317696,-1.27078 -1.397545,-2.25531 -1.757397,-3.51479 -2.345441,-8.20904 0.943854,-19.18431 0,-27.679 C 47.008058,133.10212 44.934648,122.36462 68.53846,91.384612 72.753609,85.85223 76.111896,78.150892 82.158282,74.25 c 8.883274,-5.731145 10.149543,-1.772235 19.331368,-4.832842 1.47689,-0.492297 2.06177,-2.516593 3.51478,-3.075443 2.49433,-0.959355 5.30229,-0.725776 7.90829,-1.318048 5.28839,-1.201907 9.6825,-6.290718 15.37721,-7.468934 5.69494,-1.178264 61.27851,-6.820606 65.46302,-2.636097 5.99707,5.997073 7.90829,5.973099 7.90829,15.81657 0,2.467618 0.25663,3.490153 -1.7574,4.832834 -1.10384,0.735902 -15.25696,2.742462 -17.57396,3.514802 -2.53721,0.84573 -2.54945,4.04282 -4.39349,5.272188 -4.55279,3.035191 -13.28243,-2.11827 -16.69527,-4.393488 -1.8201,-1.213411 -10.07298,0 -11.86243,0 -24.02103,0 -27.90163,-0.783291 -52.282539,9.665679 -0.895186,0.383651 -1.892575,3.104401 -2.636094,3.954139 -11.363309,12.98664 -7.103425,17.95978 -13.180472,31.63314 -6.47686,14.57293 -16.796163,22.44256 -12.301776,40.42012 1.101132,4.40452 20.761568,9.45379 22.406806,10.10503 7.743446,3.06511 13.270375,5.8227 21.528105,5.27218 7.74113,-0.51607 1.20412,0.13344 9.22633,-3.07544 3.93524,-1.5741 8.78254,-2.52515 12.74112,-3.51479 2.93874,-0.73469 5.13979,-18.14373 6.59024,-21.52811 1.31257,-3.06267 3.9765,-4.42703 5.71154,-7.02958 1.65169,-2.47755 1.52182,-5.84739 3.95414,-7.46894"
               inkscape:path-effect="#path-effect2599"
               sodipodi:nodetypes="cssssssssssscsssssssssssssssssscssssssssc" />
          </clipPath>
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient2654"
             x1="176.94272"
             y1="99.982361"
             x2="208.62474"
             y2="99.982361"
             gradientUnits="userSpaceOnUse" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient2656"
             x1="233.49626"
             y1="91.994453"
             x2="264.73895"
             y2="91.994453"
             gradientUnits="userSpaceOnUse" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient3505"
             gradientUnits="userSpaceOnUse"
             x1="110.05539"
             y1="105.39585"
             x2="141.29805"
             y2="105.39585" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient3507"
             gradientUnits="userSpaceOnUse"
             x1="110.05539"
             y1="105.39585"
             x2="141.29805"
             y2="105.39585" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient3509"
             gradientUnits="userSpaceOnUse"
             x1="110.05539"
             y1="105.39585"
             x2="141.29805"
             y2="105.39585" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4079"
             gradientUnits="userSpaceOnUse"
             x1="176.94272"
             y1="99.982361"
             x2="208.62474"
             y2="99.982361" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4081"
             gradientUnits="userSpaceOnUse"
             x1="176.94272"
             y1="99.982361"
             x2="208.62474"
             y2="99.982361" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4119"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.03783317,0,0,0.03783317,64.950051,190.43566)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4156"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.08966227,0,0,0.08966227,28.431305,55.906279)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4193"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.0507492,0,0,0.0507492,179.93364,77.036689)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4201"
             gradientUnits="userSpaceOnUse"
             x1="233.49626"
             y1="91.994453"
             x2="264.73895"
             y2="91.994453" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4203"
             gradientUnits="userSpaceOnUse"
             x1="233.49626"
             y1="91.994453"
             x2="264.73895"
             y2="91.994453" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4238"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.15183571,0,0,0.15183571,13.616235,60.397271)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4275"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.08372161,0,0,0.08372161,172.07677,79.418395)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4312"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.06429119,0,0,0.06429119,58.645468,192.34681)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient2656-0"
             x1="233.49626"
             y1="91.994453"
             x2="264.73895"
             y2="91.994453"
             gradientUnits="userSpaceOnUse" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4392"
             gradientUnits="userSpaceOnUse"
             x1="233.49626"
             y1="91.994453"
             x2="264.73895"
             y2="91.994453" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient4394"
             gradientUnits="userSpaceOnUse"
             x1="233.49626"
             y1="91.994453"
             x2="264.73895"
             y2="91.994453"
             gradientTransform="translate(-0.2950281,-16.475592)" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient3515"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.09726362,0,0,0.09726362,50.78859,194.72852)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient3513"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.1393222,0,0,0.1393222,158.82792,83.434608)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
          <linearGradient
             inkscape:collect="always"
             xlink:href="#linearGradient1071"
             id="linearGradient3511"
             gradientUnits="userSpaceOnUse"
             gradientTransform="matrix(0.26458333,0,0,0.26458333,-13.24997,68.541408)"
             x1="118.15553"
             y1="-72.233307"
             x2="358.41681"
             y2="-72.233307" />
        </defs>
        <g
           inkscape:groupmode="layer"
           id="layer2"
           inkscape:label="Frame 1"
           transform="translate(-13.012023,25.258008)">
          <g
             id="g2590-4"
             transform="translate(2.5058048,20.399092)"
             style="fill:url(#linearGradient3509);fill-opacity:1">
            <rect
               style="opacity:1;fill:url(#linearGradient3505);fill-opacity:1;stroke:none;stroke-width:0.993914;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-9"
               width="30"
               height="30"
               x="111.29805"
               y="186.08121"
               ry="6.0309281" />
            <rect
               style="fill:url(#linearGradient3507);fill-opacity:1;stroke:none;stroke-width:2.43458;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-1-4"
               width="30"
               height="180"
               x="110.05539"
               y="-5.289505"
               ry="6.2236648" />
          </g>
        </g>
        <g
           inkscape:groupmode="layer"
           id="layer3"
           inkscape:label="Frame 2"
           transform="translate(-13.012023,25.258008)">
          <g
             id="g2586"
             transform="translate(-64.820886,21.419096)"
             style="fill:url(#linearGradient2654);fill-opacity:1;stroke:none">
            <rect
               style="fill:url(#linearGradient4079);fill-opacity:1;stroke:none;stroke-width:0.993914;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-0"
               width="30"
               height="30"
               x="178.62474"
               y="185.0612"
               ry="6.0309281" />
            <rect
               style="fill:url(#linearGradient4081);fill-opacity:1;stroke:none;stroke-width:2.43458;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-1-8"
               width="30"
               height="180"
               x="176.94272"
               y="-15.096484"
               ry="6.2236648" />
          </g>
          <path
             id="path2705-6-3-5"
             style="fill:none;stroke:url(#linearGradient4119);stroke-width:0.357479;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 74.24785,183.33662 c 0.110209,0.56749 0.30121,1.11923 0.565426,1.63341 0.723911,1.40877 2.015208,2.51555 3.518115,3.01549 z m 0,0 -4.648896,4.08355 c 0.567484,-0.11021 1.119223,-0.30122 1.633402,-0.56543 1.408765,-0.72391 2.51556,-2.01521 3.015494,-3.51812 z m -4.648896,4.08355 4.083543,4.6489 c -0.110208,-0.56749 -0.301214,-1.11923 -0.56543,-1.63341 -0.723907,-1.40877 -2.015204,-2.51557 -3.518113,-3.01549 z m 4.083543,4.6489 4.648894,-4.08355 c -1.558428,0.16482 -3.025465,1.05219 -3.89504,2.35593 -0.350467,0.52545 -0.606984,1.11332 -0.753854,1.72762 z" />
          <path
             id="path2705-3-3"
             style="fill:none;stroke:url(#linearGradient4156);stroke-width:0.847203;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 50.466508,39.081998 c 0.261189,1.344908 0.713856,2.652493 1.34003,3.871058 1.715622,3.338687 4.775917,5.961728 8.337716,7.146537 z m 0,0 -11.017598,9.677743 c 1.34491,-0.261187 2.652493,-0.713862 3.871062,-1.340031 3.33869,-1.71562 5.961726,-4.775915 7.146536,-8.337712 z m -11.017598,9.677743 9.677743,11.017605 c -0.261185,-1.344918 -0.713855,-2.652502 -1.34003,-3.871067 -1.715619,-3.338687 -4.775914,-5.961728 -8.337713,-7.146538 z m 9.677743,11.017605 11.017601,-9.677753 c -3.693387,0.390624 -7.170169,2.49364 -9.23101,5.583406 -0.830586,1.245273 -1.438516,2.638515 -1.786591,4.094347 z" />
          <path
             id="path2705-2-8-0"
             style="fill:none;stroke:url(#linearGradient4193);stroke-width:0.47952;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 192.40565,67.514079 c 0.14784,0.761222 0.40405,1.501321 0.75846,2.191036 0.97105,1.889712 2.70319,3.374358 4.71919,4.044971 z m 0,0 -6.236,5.477644 c 0.76122,-0.147834 1.50132,-0.40405 2.19103,-0.758465 1.88972,-0.97105 3.37437,-2.703187 4.04497,-4.719179 z m -6.236,5.477644 5.47764,6.236007 c -0.14783,-0.761226 -0.40405,-1.501326 -0.75846,-2.19104 -0.97105,-1.889712 -2.70319,-3.374361 -4.71918,-4.044967 z m 5.47764,6.236007 6.23601,-5.477644 c -2.09048,0.22109 -4.05835,1.411408 -5.22479,3.160228 -0.47012,0.704832 -0.81421,1.49341 -1.01122,2.317416 z" />
        </g>
        <g
           inkscape:groupmode="layer"
           id="layer4"
           inkscape:label="Frame 3"
           transform="translate(-13.012023,25.258008)">
          <path
             id="path2705-3-3-1"
             style="fill:none;stroke:url(#linearGradient4238);stroke-width:1.43467;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 50.931044,31.906734 c 0.442302,2.277492 1.208855,4.49178 2.26923,6.55532 2.905266,5.653787 8.087624,10.095704 14.119238,12.102087 z m 0,0 -18.657398,16.388456 c 2.277494,-0.442283 4.491778,-1.208856 6.555324,-2.269233 5.6538,-2.905253 10.095695,-8.087612 12.102074,-14.119223 z M 32.273646,48.29519 48.66211,66.9526 C 48.219813,64.675099 47.453253,62.460812 46.392878,60.397269 43.487618,54.743469 38.305259,50.301563 32.273646,48.29519 Z M 48.66211,66.9526 67.319512,50.564141 c -6.254448,0.661462 -12.142092,4.222748 -15.631958,9.45503 -1.40653,2.108748 -2.436008,4.468111 -3.025444,6.933429 z" />
          <g
             id="g2582"
             transform="translate(-120.9351,24.354491)"
             style="fill:url(#linearGradient2656);fill-opacity:1;stroke:none">
            <rect
               style="fill:url(#linearGradient4201);fill-opacity:1;stroke:none;stroke-width:0.993914;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-0-3"
               width="30"
               height="30"
               x="234.73895"
               y="182.12581"
               ry="6.0309281" />
            <rect
               style="fill:url(#linearGradient4203);fill-opacity:1;stroke:none;stroke-width:2.43458;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-1-8-4"
               width="30"
               height="180"
               x="233.49626"
               y="-28.136909"
               ry="6.2236648" />
          </g>
          <path
             id="path2705-2-8-6"
             style="fill:none;stroke:url(#linearGradient4275);stroke-width:0.79107;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 192.65201,63.708822 c 0.24388,1.255799 0.66656,2.47675 1.25124,3.614581 1.60195,3.117481 4.45949,5.56672 7.7853,6.67304 z m 0,0 -10.28762,9.03654 c 1.2558,-0.243884 2.47675,-0.666566 3.61458,-1.25125 3.11749,-1.601953 5.56673,-4.459481 6.67304,-7.78529 z m -10.28762,9.03654 9.03654,10.28762 c -0.24389,-1.255804 -0.66656,-2.476755 -1.25125,-3.614587 -1.60195,-3.117481 -4.45948,-5.566726 -7.78529,-6.673033 z m 9.03654,10.28762 10.28762,-9.036539 c -3.44868,0.364735 -6.69511,2.328418 -8.61941,5.213469 -0.77555,1.162769 -1.3432,2.463697 -1.66821,3.82307 z" />
          <path
             id="path2705-6-3-4"
             style="fill:none;stroke:url(#linearGradient4312);stroke-width:0.607476;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 74.445534,180.28317 c 0.187281,0.96435 0.511858,1.90194 0.960849,2.7757 1.230166,2.39396 3.424509,4.27478 5.978452,5.12433 z m 0,0 -7.900026,6.93931 c 0.964345,-0.18728 1.901933,-0.51186 2.775695,-0.96085 2.393961,-1.23017 4.274775,-3.42452 5.124331,-5.97846 z m -7.900026,6.93931 6.939303,7.90003 c -0.187281,-0.96436 -0.511865,-1.90194 -0.960855,-2.7757 -1.230159,-2.39397 -3.424505,-4.27478 -5.978448,-5.12433 z m 6.939303,7.90003 7.900024,-6.93931 c -2.648294,0.28009 -5.141277,1.78803 -6.618974,4.00351 -0.59556,0.89291 -1.03147,1.89191 -1.28105,2.9358 z" />
        </g>
        <g
           inkscape:groupmode="layer"
           id="layer5"
           inkscape:label="Frame 4"
           transform="translate(-13.012023,25.258008)">
          <g
             id="g2582-6"
             transform="translate(-120.9351,24.354491)"
             style="fill:url(#linearGradient2656-0);fill-opacity:1;stroke:none"
             inkscape:label="g2582-6">
            <rect
               style="fill:url(#linearGradient4392);fill-opacity:1;stroke:none;stroke-width:0.993914;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-0-3-8"
               width="30"
               height="30"
               x="234.73895"
               y="182.12581"
               ry="6.0309281" />
            <rect
               style="fill:url(#linearGradient4394);fill-opacity:1;stroke:none;stroke-width:2.43458;stroke-linecap:round;stroke-linejoin:round"
               id="rect1797-1-8-4-4"
               width="30"
               height="180"
               x="233.20123"
               y="-44.612499"
               ry="6.2236648"
               inkscape:label="rect1797-1-8-4-4" />
          </g>
          <path
             id="path2705-3"
             style="fill:none;stroke:url(#linearGradient3511);stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 51.77345,18.894827 c 0.77074,3.96868 2.10651,7.82721 3.95428,11.42307 5.06261,9.8521 14.0932,17.59238 24.60367,21.08864 z m 0,0 -32.5117,28.55795 c 3.96868,-0.77073 7.82721,-2.10652 11.42307,-3.95429 9.8521,-5.0626 17.59239,-14.09319 21.08863,-24.60366 z m -32.5117,28.55795 28.55794,32.511711 C 47.04896,75.995798 45.71318,72.137268 43.86541,68.541408 38.80281,58.689307 29.77222,50.949017 19.26175,47.452777 Z M 47.81969,79.964488 80.3314,51.406537 c -10.89877,1.15267 -21.15837,7.35845 -27.23968,16.476001 -2.45097,3.67467 -4.2449,7.78596 -5.27203,12.08195 z" />
          <path
             id="path2705-2-8"
             style="fill:none;stroke:url(#linearGradient3513);stroke-width:1.31643;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 193.06744,57.292107 c 0.40585,2.08979 1.10923,4.12159 2.08221,6.01507 2.66583,5.187841 7.42109,9.263651 12.95561,11.104691 z m 0,0 -17.11976,15.037821 c 2.0898,-0.40585 4.12159,-1.10924 6.01507,-2.08222 5.18785,-2.66583 9.26367,-7.421081 11.10469,-12.955601 z m -17.11976,15.037821 15.03782,17.119759 c -0.40585,-2.089799 -1.10923,-4.121599 -2.08221,-6.015079 -2.66583,-5.18784 -7.42109,-9.26366 -12.95561,-11.10468 z m 15.03782,17.119759 17.11976,-15.037819 c -5.73899,0.60696 -11.14141,3.87475 -14.34366,8.6758 -1.29061,1.93498 -2.23524,4.09987 -2.7761,6.362019 z" />
          <path
             id="path2705-6-3"
             style="fill:none;stroke:url(#linearGradient3515);stroke-width:0.919026;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 74.69189,176.47791 c 0.28333,1.45893 0.77437,2.87737 1.45363,4.19924 1.86107,3.62174 5.18081,6.46715 9.04457,7.75241 z m 0,0 -11.95164,10.49821 c 1.45892,-0.28333 2.87736,-0.77438 4.19924,-1.45364 3.62173,-1.86107 6.46714,-5.18081 7.7524,-9.04457 z m -11.95164,10.49821 10.4982,11.95164 c -0.28333,-1.45893 -0.77438,-2.87737 -1.45364,-4.19924 -1.86106,-3.62174 -5.1808,-6.46715 -9.04456,-7.7524 z m 10.4982,11.95164 11.95164,-10.4982 c -4.0065,0.42373 -7.77804,2.70504 -10.01359,6.05675 -0.901,1.35085 -1.56047,2.8622 -1.93805,4.44145 z" />
        </g></svg>
         <div class="taskContent">
            <div class="task-block-parent">
               <div class="task-block task-block-1" onmouseover="taskHover(1)" onmouseleave="taskUnHover(1)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-1"></div>
                     <img class="task-info-c task-info-img task-info-img-1">
                     <h4 class="task-info-b task-info-giver-1"></h4>
                  </div>
                  <button class="depth-button red task-submit-depth-button task-info-button-1"></button>
               </div>
            </div>
            <div class="task-block-parent">
               <div class="task-block task-block-2" onmouseover="taskHover(2)" onmouseleave="taskUnHover(2)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-2"></div>
                     <img class="task-info-c task-info-img task-info-img-2">
                     <h4 class="task-info-b task-info-giver-2"></h4>
                  </div>
                  <button class="depth-button purple task-submit-depth-button task-info-button-2"></button>
               </div>
            </div>
            <div class="task-block-parent">
               <div class="task-block task-block-3" onmouseover="taskHover(3)" onmouseleave="taskUnHover(3)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-3"></div>
                     <img class="task-info-c task-info-img task-info-img-3">
                     <h4 class="task-info-b task-info-giver-3"></h4>
                  </div>
                  <button class="depth-button green task-submit-depth-button task-info-button-3"></button>
               </div>
            </div>
            <div class="task-block-parent">
               <div class="task-block task-block-4" onmouseover="taskHover(4)" onmouseleave="taskUnHover(4)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-4"></div>
                     <img class="task-info-c task-info-img task-info-img-4">
                     <h4 class="task-info-b task-info-giver-4"></h4>
                  </div>
                  <button class="depth-button blue task-submit-depth-button task-info-button-4"></button>
               </div>
            </div>
         </div>
      </div>
      <!-- Command Panel/Bar -->
      <div class="command-panel">
         <img onmouseover="info(this)" data-info="Market" onclick="showObj('.marketShadow'); settings.marketOpen = true;" class="commandBarImg" src="Images/Icons/market.svg">
         <img onmouseover="info(this)" data-info="Settings" onclick="showObj('.settingShadow'); settings.settingsOpen = true;" class="commandBarImg" src="Images/Icons/settings.svg">
         <label class="switch">
            <input type="checkbox" checked>
            <span class="slider" onmouseover="commandBar()"></span>
         </label>
      </div>
      <!-- Market -->
      <div class="marketShadow">
         <div class="market">
            <div class="marketVegetables">
               <div class="market-item">
                  <button onclick="hideObj('.marketShadow'); settings.marketOpen = false;" class="hide-market">&#215;</button>
                  <div class="market-item-content special-market-item">Seeds: 0</div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/pea.png"><span class="peas-market-item"></span> </div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('peas', 'Peas')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('peas', 'Peas')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/corn.png"><span class="corn-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('corn', 'Corn')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('corn', 'Corn')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/strawberry.png"><span class="strawberries-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('strawberries', 'Strawberries')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('strawberries', 'Strawberries')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/eggplant.png"><span class="eggplants-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('eggplants', 'Eggplants')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('eggplants', 'Eggplants')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/pumpkin.svg"><span class="pumpkins-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('pumpkins', 'Pumpkins')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('pumpkins', 'Pumpkins')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/cabbage.svg"><span class="cabbage-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('cabbage', 'Cabbage')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('cabbage', 'Cabbage')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/dandelion.png"><span class="dandelion-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('dandelion', 'Dandelion')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('dandelion', 'Dandelion')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content"><img class="market-veg-img" src="Images/Vegetables/rhubarb.png"><span class="rhubarb-market-item"></span></div>
                  <div class="buy-sell">
                     <span class="market-item-buy" onclick="buyProduce('rhubarb', 'Rhubarb')">Buy</span>
                     <span class="market-item-sell"  onclick="sellProduce('rhubarb', 'Rhubarb')">Sell</span>
                  </div>
               </div>
            </div>
            <div class="market-item">
               <div class="market-item-content market-exchange">
                  <div class="market-exchange-content">
                     <h1 style="font-size: 4vh; position: absolute; top: 1vh; left: 0; right: 0;">Exchange Market</h1>
                     <div class="exchange-market-item">
                        Merchant
                        <p class="exchange-merchant">Name Here</p>
                     </div>
                     <div class="exchange-market-item">
                        Offer
                        <p class="exchange-offer">x Veg</p>
                     </div>
                     <div class="exchange-market-item">
                        Demand
                        <p class="exchange-demand">n Veg </p>
                     </div>
                  </div>
               </div>
               <div class="accept-deny">
                  <span class="market-item-buy" onclick="acceptExchange();">Accept</span>
                  <span class="market-item-sell" onclick="generateExchange();">Decline</span>
               </div>
            </div>
            <div class="market-item">
               <div class="market-item-content blackMarketHome" onclick="showObj('.blackMarketShadow'); settings.blackMarketOpen = true;">
                  <span style="font-size: 10vh; font-weight: 800; font-family: 'Nunito'">Black Market</span>
               </div>
            </div>
            <div class="market-item">
               <div class="market-item-content reset-market-item">
                  You have 0 Market Resets
               </div>
               <div class="market-hover">
                  <h1>Market Resets</h1>
                  <p>Reset all market buy and sell values.</p>
                  <button onclick="resetMarketValues()" class="use-market-reset-button">Use</button>
                  <div class="more-info-tooltip">
                     <img src="Images/Global Assets/more-info.svg" id="market-reset-more-info">
                     <span class="tooltip-text">There is a 1% chance of collecting one after each trade, and a 5% chance after each harvest.</span>
                  </div>
               </div>
            </div>
            <br>
         </div>
      </div>
      <!-- Settings -->
      <div class="shadow settingShadow">
         <div class="modalContent settings">
            <span onclick="hideObj('.settingShadow'); settings.settingsOpen = false;" class="closeModal">X</span>
            <h1>Settings</h1>
            <button class="setting-button" onclick="restart()">Restart</button>
            <button class="setting-button theme-color" onclick="lightTheme()">Light</button>
            <button class="setting-button theme-color" onclick="randTheme()">Random</button>
            <button class="setting-button theme-color" onclick="darkTheme()">Dark</button>
            <button class="setting-button" onclick="togglePlay()">Music</button>
            <audio class="mozart" src="Audio/mozart.mp3"></audio>
            <br>
            <div class="import-export-tooltip">
               <img onclick="importSave();" class="save-export-img" src="Images/Global Assets/import-save.svg">
               <span class="import-export-tooltip-text">Import Save</span>
            </div>
            <div class="import-export-tooltip">
               <img onclick="exportSave(); fadeTextAppear(event, `Save Copied to Clipboard!`, 'darkFadeText', '#00bade');" class="save-export-img" src="Images/Global Assets/export-save.svg">
               <span class="import-export-tooltip-text">Export Save</span>
            </div>
            <p style="display: none;" class="stringSave"></p>
         </div>
      </div>
      <!-- Black Market -->
      <div class="shadow blackMarketShadow">
         <div class="modalContent blackMarket">
            <span onclick="hideObj('.blackMarketShadow'); settings.blackMarketOpen = false;" class="closeModal">X</span>
            <h3>Black Market</h3>
            <div class="doughnut-parent">
               <div class="more-info-tooltip more-info-tooltip-black">
                  <img onclick="feedPolice();" class="black-doughnut" src="Images/Market/doughnut.png">
                  <span class="tooltip-text">Doughnuts reset the chance that the police will catch you. Current Chance: <span class="police-chance"></span></span>
               </div>
            </div>
            <div class="blackMarketOffer">
               <div>Offer by <br> <span class="bmo-seller"></span></div>
               <div>Selling <br> <span class="bmo-offer"></span></div>
               <div>For <br> <span class="bmo-price"></span></div>
            </div>
            <div class="accept-deny black-accept-deny">
               <span class="market-item-buy black-buy" onclick="accept()">Accept</span>
               <span class="market-item-sell black-sell" onclick="deny()">Deny</span>
            </div>
         </div>
      </div>
      <!-- Festival -->
      <div class="festival">
         <span onclick="hideObj('.festival')" class="closeModal">X</span>
         <h4>The Vegetable Festival!</h4>
         <!-- Advertisment -->
         <!-- Grill -->
         <!-- Transport -->
         <!-- Jam -->
         <!-- Oven -->
         <!-- <div class="festival-plot" id="fstvl-1">
            <img class="festival-plot-image" src="Images/Festival/grill.png">
            <span class="festival-ahh-perspective">
               <button class="btn" id="grillCorn" onclick="proccess('peas', 2000, 5000)">Grill Corn! <img class="festival-gears" src="Images/Festival/gears.gif"></button>
               <button class="btn" onclick="harvest('Peas')">Collect!</button>
            </span>
         </div>
         <div class="festival-plot" id="fstvl-2">
            <img class="festival-plot-image" src="Images/Festival/jam-machine.png">
            <div class="lock-tooltip">
               <img class="festival-locked" src="Images/Festival/lock.png">
               <span class="tooltiptext">This plot is locked <br> Pay 150 Seeds to unlock <br> <button class="purchase-plot" onclick="unlockPlot(2)">Purchase Plot</button></span>
            </div>
         </div>
         <div class="festival-plot" id="fstvl-3">
            <img class="festival-plot-image" src="Images/Festival/pie-oven.png">
            <div class="lock-tooltip">
               <img class="festival-locked" src="Images/Festival/lock.png">
               <span class="tooltiptext">This plot is locked <br> Purchase the previous plot to unlock</span>
            </div>
         </div>
         <div class="festival-plot" id="fstvl-4">
            <div class="lock-tooltip">
               <img class="festival-locked" src="Images/Festival/lock.png">
               <span class="tooltiptext">This plot is locked <br> Purchase the previous plot to unlock</span>
            </div>
         </div>
         <div class="festival-plot" id="fstvl-5">
            <div class="lock-tooltip">
               <img class="festival-locked" src="Images/Festival/lock.png">
               <span class="tooltiptext"><br>This plot is locked <br> Purchase all other plots to unlock<br><br></span>
            </div>
         </div> -->
      </div>
      <!-- Other -->
      <div>
         <!-- Help -->
         <img onmouseover="info(this)" data-info="Help" class="help-center-img" onclick="showObj('.help-shadow'); settings.helpOpen = true;" src="Images/Icons/help.svg">
         <div class="shadow help-shadow">
            <div class="help">
               <button onclick="hideObj('.help-shadow'); settings.helpOpen = false;" class="close depth-button blue closeModalHelp">×</button>
               <div class="help-subjects">
                  <div class="help-subjects-item help-subjects-item-center" onclick="scrollToSection('help-center')">Center</div>
                  <div class="help-subjects-item help-subjects-item-planting" onclick="scrollToSection('help-planting')">Planting</div>
                  <div class="help-subjects-item help-subjects-item-harvesting" onclick="scrollToSection('help-harvesting')">Harvesting</div>
                  <div class="help-subjects-item help-subjects-item-plots" onclick="scrollToSection('help-plots')">Plots</div>
                  <div class="help-subjects-item help-subjects-item-seeds" onclick="scrollToSection('help-seeds')">Seeds</div>
                  <div class="help-subjects-item help-subjects-item-market" onclick="scrollToSection('help-market')">Market</div>
                  <div class="help-subjects-item help-subjects-item-market-exchanges" onclick="scrollToSection('help-market-exchanges')">Market Exchanges</div>
                  <div class="help-subjects-item" onclick="scrollToSection('help-black-market')">Black Market</div>
                  <div class="help-subjects-item help-subjects-item-market-resets" onclick="scrollToSection('help-market-resets')">Market Resets</div>
                  <div class="help-subjects-item help-subjects-item-fertilizer" onclick="scrollToSection('help-fertilizer')">Fertilizer</div>
                  <div class="help-subjects-item help-subjects-item-tasks" onclick="scrollToSection('help-tasks')">Tasks</div>
                  <div class="help-subjects-item help-subjects-item-weather" onclick="scrollToSection('help-weather')">Weather</div>
                  <div class="help-subjects-item help-subjects-item-disasters" onclick="scrollToSection('help-disasters')">Disasters</div>
                  <div class="help-subjects-item help-subjects-item-weeds" onclick="scrollToSection('help-weeds')">Weeds</div>
                  <div class="help-subjects-item help-subjects-item-jebidiah" onclick="scrollToSection('help-farmer-jebediah')">Farmer Jebediah</div>
                  <div class="help-subjects-item help-subjects-item-jenkins" onclick="scrollToSection('help-grandpa-jenkins')">Grandpa Jenkins</div>
                  <div class="help-subjects-item help-subjects-item-josephine" onclick="scrollToSection('help-grandma-josephine')">Grandma Josephine</div>
                  <div class="help-subjects-item help-subjects-item-plant-times" onclick="scrollToSection('help-plant-times')">Plant Times</div>
                  <div class="help-subjects-item help-subjects-item-shortcuts" onclick="scrollToSection('help-shortcuts')">Shortcuts</div>
                  <div class="help-subjects-item help-subjects-item-about" onclick="scrollToSection('help-about-copyright')">About & Copyright</div>
               </div>
               <div class="help-information">
                  <div id="help-center">
                     <h1>Help Center</h1>
                     <p>This is an incomplete guide of Vegetable Dash. If any old or experienced players want to make changes or add new pages, email me here: thehillsidetownship@gmail.com</p>
                  </div>
                  <div id="help-planting">
                     <h1>Planting</h1>
                     <p>Just press the button that says grow, then use a rare and powerful skill called <em>patience</em>, and wait until it says <span onclick="scrollToSection('help-harvesting'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-harvesting').addClass('help-subjects-item-active');">harvest</span>.</p>
                     <img src="Images/Help/plant-harvest.gif" style="height: 50vh">
                  </div>
                  <div id="help-harvesting">
                     <h1>Harvesting</h1>
                     <p>A button shall appear out of thin air, and written on it shall be that wonderful word: Harvest [Vegetable Name]. You want to press that button. By doing this, you shall gain 1 vegetable of that type and 1 seed. By harvesting there is a 5% chance of collecting a <span onclick="scrollToSection('help-market-resets'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-market-resets').addClass('help-subjects-item-active');">Market Reset</span>, a 10% chance of collection 2 extra vegetables, and a 20% chance of collecting 5 extra <span onclick="scrollToSection('help-seeds'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-seeds').addClass('help-subjects-item-active');">seeds</span>.</p>
                     <img src="Images/Help/plant-harvest.gif" style="height: 50vh">
                  </div>
                  <div id="help-plots">
                     <h1>Plots</h1>
                     <p>Plots are where vegetables are grown. Each plot grows a certain type of vegetable. To unlock the next plot, hover over the large yellow lock and click 'purchase plot'. This shall cost <span onclick="scrollToSection('help-seeds'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-seeds').addClass('help-subjects-item-active');">seeds</span></p>
                     <img src="Images/Help/plots.png" style="height: 50vh">
                  </div>
                  <div id="help-seeds">
                     <h1>Seeds</h1>
                     <p>In this wonderful utopia, seeds are the only currency, most carrots are purple, and the sky is always blue except the times when it is not. Most thing require seeds such as unlocking plots and exchanging in the <span onclick="scrollToSection('help-market'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-market').addClass('help-subjects-item-active');">Market</span>. You can collect them by selling produce in the market or <span onclick="scrollToSection('help-harvesting'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-harvesting').addClass('help-subjects-item-active');">harvesting</span> vegetables.</p>
                  </div>
                  <div id="help-market">
                     <h1>Market</h1>
                     <p>The market is a wonderful and bustling place filled with plenty of vegetables. It can be accessed by hovering over the bar in the bottom left corner then clicking the button with a shop icon. It show how much <span onclick="scrollToSection('help-seeds'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-seeds').addClass('help-subjects-item-active');">seeds</span> you have in the first box. The next box has a the amount of a certain type of vegetable you have, and you can sell 5 of them for an amount of <span onclick="scrollToSection('help-seeds'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-seeds').addClass('help-subjects-item-active');">seeds</span> or buy 5 for some <span onclick="scrollToSection('help-seeds'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-seeds').addClass('help-subjects-item-active');">seeds</span>. You can reset the price values with <span onclick="scrollToSection('help-market-resets'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-market-resets').addClass('help-subjects-item-active');">Market Resets</span>. Holding Shift multiplies you order by 5, while holding Ctrl multiplies it tenfold.</p>
                     <img src="Images/Help/market.png" style="height: 45vh">
                  </div>
                  <div id="help-market-exchanges">
                     <h1>Market Exchanges</h1>
                     <p>To be found in the market is a place where many traders come to show their goods, the market exchanges corner. For an amount of one vegetable, you can get a set amount of another, no seeds required.</p>
                     <img src="Images/Help/market-exchanges.png" style="height: 26vh">
                  </div>
                  <div id="help-black-market">
                     <h1>Black Market</h1>
                     <p>The black market is a wonderful and bustling place filled with plenty of illegal items. It located at an undisclosed location. For an amount of <span onclick="scrollToSection('help-seeds')">seeds</span> you can purchase illegal items such as <span onclick="scrollToSection('help-market-resets')">Market Resets</span>. But watch out! There is a 2% chance that the police will catch you and make you pay a terrible fine! To make matter worse, when you make a trade, the chance goes up by 1%.</p>
                  </div>
                  <div id="help-market-resets">
                     <h1>Market Resets</h1>
                     <p>Market resets can be found as the last item in the <span onclick="scrollToSection('help-market'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-market').addClass('help-subjects-item-active');">Market</span>. By using one all of the values in the market are reset to what they began as, not the outrageous price they have become. There is a 1% chance of collecting one after each trade, and a 5% chance after each harvest. One is gained every time you unlock a plot.</p>
                     <img src="Images/Help/market-resets.png" style="height: 50vh">
                  </div>
                  <div id="help-fertilizer">
                     <h1>Fertilizer</h1>
                     <p>Fertilizer is a useful item, that when used on a plant will make the plant instantly conclude growing and yield one extra of that vegetable. Fertilizer can be bought in the Black Market (coming soon), or earned from <span onclick="scrollToSection('help-tasks'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-tasks').addClass('help-subjects-item-active');">Tasks</span>.</p>
                     <img src="Images/Help/fertilizer.gif" style="height: 50vh">
                  </div>
                  <div id="help-tasks">
                     <h1>Tasks</h1>
                     <p>Tasks are small chores that <span onclick="scrollToSection('help-farmer-jebediah'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-jebidiah').addClass('help-subjects-item-active');">Farmer Jebediah</span>, <span onclick="scrollToSection('help-grandpa-jenkins'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-jenkins').addClass('help-subjects-item-active');">Grandpa Jenkins</span>, <span onclick="scrollToSection('help-grandma-josephine'); ; $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-josephine').addClass('help-subjects-item-active');">Grandma Josephine</span>, or special guests request that require you to do a task for them or pay some items. They give helpful rewards like <span onclick="scrollToSection('help-fertilizer'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-fertilizer').addClass('help-subjects-item-active');">Fertilizer</span> and <span onclick="scrollToSection('help-market-resets'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-market-resets').addClass('help-subjects-item-active');">Market Resets</span>.</p>
                     <img src="Images/Help/tasks.png" style="height: 50vh">
                  </div>
                  <div id="help-weather">
                     <h1>Weather</h1>
                     <p>Weather is a natural phenomenon that sometimes occurs, usuallyus  in the sky. It will effect your plants, sometimes positively and sometimes negatively. Keep a close eye on the weather in the bottom right corner! Next weather can be seen on the bottom right and last weather on the bottom left.</p>
                     <img src="Images/Help/weather.png" style="height: 50vh">
                  </div>
                  <div id="help-disasters">
                     <h1>Disasters</h1>
                     <p>Disasters occur every once in a while, a chance of them occurring happening every eight minutes. This could result in losing crops, seeds spoiling, and other undesirable happenings.</p>
                     <img src="Images/Help/disasters.png" style="height: 50vh">
                  </div>
                  <div id="help-weeds">
                     <h1>Weeds</h1>
                     <p>Weeds are small little plants that grow places you don't want them to. However, you do want these weeds, because of you gather enough and compost them you get fertilizer! Weeds will appear in random plots, and if you harvest five you will receive one fertilizer.</p>
                  </div>
                  <div id="help-farmer-jebediah">
                     <h1>Farmer Jebediah</h1>
                     <p>Previous owner of the farm, you closest adviser. He gives many important <span onclick="scrollToSection('help-tasks'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-tasks').addClass('help-subjects-item-active');">Tasks</span>.</p>
                     <img src="Images/Tasks/farmer.svg" style="height: 50vh">
                  </div>
                  <div id="help-grandpa-jenkins">
                     <h1>Grandpa Jenkins</h1>
                     <p>Guide on everything farming, bearer of the Bunny Slippers, and giver of <span onclick="scrollToSection('help-tasks'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-tasks').addClass('help-subjects-item-active');">Tasks</span>.</p>
                     <img src="Images/Tasks/jenkins.png" style="height: 50vh">
                  </div>
                  <div id="help-grandma-josephine">
                     <h1>Grandma Josephine</h1>
                     <p>Your personal economic adviser, and giver of <span onclick="scrollToSection('help-tasks'); $('.help-subjects-item-active').removeClass('help-subjects-item-active'); $('.help-subjects-item-tasks').addClass('help-subjects-item-active');">Tasks</span>.</p>
                     <img src="Images/Tasks/granny.png" style="height: 50vh">
                  </div>
                  <div id="help-plant-times">
                     <h1>Plant Times</h1>
                     A nice table that shows the growing times for all the plants.
                     <br><br><br>
                     <table>
                        <tr><th>Vegetable</th><th>Growing Time</th></tr>
                        <tr><td>Peas</td><td>10 Seconds</td></tr>
                        <tr class="tm-tb tm-tb-co"><td>Corn</td><td>25 Seconds</td></tr>
                        <tr class="tm-tb tm-tb-st"><td>Strawberries</td><td>2.5 Minutes</td></tr>
                        <tr class="tm-tb tm-tb-eg"><td>Eggplant</td><td>15 Minutes</td></tr>
                        <tr class="tm-tb tm-tb-pu"><td>Pumpkin</td><td>30 Minutes</td></tr>
                        <tr class="tm-tb tm-tb-ca"><td>Cabbage</td><td>1 Hour</td></tr>
                        <tr class="tm-tb tm-tb-da"><td>Dandelion</td><td>3 Hours</td></tr>
                        <tr class="tm-tb tm-tb-rh"><td>Rhubarb</td><td>8 Hours</td></tr>
                    </table>
                  </div>
                  <div id="help-shortcuts">
                     <h1>Shortcuts</h1>
                     <p style="font-size: 4vh; font-family: 'Nunito'">
                        <strong>Shift + T</strong> to toggle <i>Tasks</i> <br>
                        <strong>Shift + S</strong> to toggle <i>Settings</i> <br>
                        <strong>Shift + P</strong> to toggle <i>Plant Cursor</i> <br>
                        <strong>Shift + H</strong> to toggle <i>Harvest Cursor</i> <br>
                        <strong>Shift + F</strong> to toggle <i>Fertilizer Cursor</i> <br>
                        <strong>Shift + M</strong> to toggle <i>Market</i> <br>
                        <strong>Shift + A</strong> to <i>Grow/Harvest All</i> <br>
                        <strong>Shiftx2</strong> to toggle <i>Quick Vegetable Information</i> <br>
                        <strong>Shift + Click</strong> to buy <i>x5 in Market</i> <br>
                        <strong>Ctrl + Click</strong> to buy <i>x10 in Market</i> <br>
                     </p>
                  </div>
                  <div id="help-about-copyright">
                        <h1>About & Copyright</h1>
                        This game is &copy copyrighted by Squirrel. If you want to help, email me at <a href="mailto:thehillsidetownship@gmail.com">thehillsidetownship@gmail.com</a>, or send a suggestion. <br>
                        Strawberry, Eggplant, Plot, Pea and other images are courtesy of <a href="https://www.youtube.com/channel/UCW4Ba6Mu-nRZII6kg2eEGzA">Urdons</a>. <br>
                        <span>Barrel and help icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span><br>
                        <span>Seed packet icon made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span><br>
                        <span>Settings icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span><br>
                        <span>Command bar market icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
                        <span>Plant clock icon made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
                        <span>Settings cursor icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
                        <br><br>
                        <table>
                           <tr>
                              <th>Version Number</th>
                              <th>Version Name</th>
                              <th>Release Date</th>
                              <th>Possible Features</th>
                           </tr>
                           <tr>
                              <td>0.1.2 (Current)</td>
                              <td>The Backlog Update</td>
                              <td>November 1 2021</td>
                              <td>Catching up on all the stuff I've been avoiding</td>
                           </tr>
                           <tr>
                              <td>0.1.3</td>
                              <td>The Festival & Events Update</td>
                              <td>In a long time</td>
                              <td> - Music <br> - Sound Effects <br> - All the noise you could ever want</td>
                           </tr>
                           <tr>
                              <td>0.1.4</td>
                              <td>The Investments Update (Sponsored by Grandma Josephine)</td>
                              <td>Much later</td>
                              <td>I don't know yet</td>
                           </tr>
                           <tr>
                              <td>0.2.0</td>
                              <td>Vegetable World!</td>
                              <td>Next millennia</td>
                              <td>Keep you in suspense!</td>
                           </tr>
                       </table>
                       <br><br>
                       <a href="https://meetsquirrel.github.io">More about Squirrel</a> <br>
                       <a href="https://squirrel-314.github.io">Gold Rush</a> <br>
                       <a href="https://github.com/Squirrel-314/vegetable-dash">Vegetable Dash on GitHub</a> <br>
                       <a href="https://github.com/Squirrel-314?tab=repositories">Squirrel on GitHub</a> <br>
                  </div>
               </div>
            </div>
         </div>
         <!-- Weather -->
         <div class="weather-short">
            <div class="weather-img"></div>
            <h6 class="weather-name"></h6>
            <p class="weather-description"></p>
            <p class="weather-time">Time</p>
            <div onmouseover="info(this)" data-info="Last Weather" class="weather-last"></div>
            <div onmouseover="info(this)" data-info="Next Weather" class="weather-next"></div>
         </div>
         <!-- Various -->
         <div class="introDarkShadow">
            <div class="intro-container">
               <img class="intro-img" src="Images/Tasks/farmer.svg">
               <img class="intro-divide" src="Images/Tasks/gold-separator.png">
               <p class="intro-text">Greetings. I am Farmer Jebediah, and I will be showing you around the farm.</p>
               <span onclick="intro()" class="intro-nxt-btn">&#10230;</span>
            </div>
         </div>
         <div class="welcome">
            <div class="welcome-content">
               <h1>Welcome to Vegetable Dash!</h1>
               <p class="wlcm-choice">Take a short tour, or figure it out on your own: The choice is your, and keep in mind you can check the Help Center (top left corner) at any time.</p>
               <button class="welcome-btn-one" onclick="goIntro()">Take  <br> a quick <br>  tour</button>
               <button class="welcome-btn-two" onclick="hideObj('.welcome')">Start <br> straight <br> away</button>

               <div>
                  <p>Questions? Comments? Suggestions? Having trouble? Please contact <a href="mailto:thehillsidetownship@gmail.com">thehillsidetownship@gmail.com</a></p>
                  <p>Disclaimer: While the game may be called Vegetable Dash, some plants may not be botanical vegetables, such as peas and corn.</p>
               </div>
            </div>
         </div>
         <div id="menu">
            <li class="menu-links"><a href="https://meetsquirrel.github.io">Who's Squirrel?</a></li>
            <li class="menu-links"><a href="https://squirrel-314.github.io">Gold Rush!</a></li>
            <hr>
            <li class="menu-links"><a href="https://github.com/Squirrel-314/vegetable-dash">GitHub</a></li>
            <li><a href="mailto: thehillsidetownship@gmail.com">Support</a></li>
            <li>Version: 0.1.2</li>
         </div>
         <div class="qIM">
            <span class="seedsQuick">0</span><br>
            <div class="vegAmount doughnutsAmountQuick"><span id="doughnutsQuick">0</span> <img class="produce-image" src="Images/Market/doughnut.png"><br></div>
            <div class="vegAmount peasAmountQuick"><span id="peaBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/pea.png"><br></div>
            <div class="vegAmount cornAmountQuick"><span id="cornBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/corn.png"><br></div>
            <div class="vegAmount strawberriesAmountQuick"><span id="strawberryBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/strawberry.png"><br></div>
            <div class="vegAmount eggplantsAmountQuick"><span id="eggplantBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/eggplant.png"><br></div>
            <div class="vegAmount pumpkinsAmountQuick"><span id="pumpkinBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/pumpkin.svg"><br></div>
            <div class="vegAmount cabbageAmountQuick"><span id="cabbageBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/cabbage.svg"><br></div>
            <div class="vegAmount dandelionAmountQuick"><span id="dandelionBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/dandelion.png"><br></div>
            <div class="vegAmount rhubarbAmountQuick"><span id="rhubarbBushelsQuick">0</span> <img class="produce-image" src="Images/Vegetables/rhubarb.png"><br></div>
         </div>
         <div class="alert">Game Saved!</div>
         <span style="display: none;"><div class="fade-text">This text is fading</div></span>
      </div>
      <script src="https://www.w3counter.com/tracker.js?id=134512"></script>
   </body>
   <script src="https://www.w3counter.com/tracker.js?id=134512"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <% if (userFrom) { %>
   <script>
      var userDataWorking = '<%- JSON.stringify(userFrom) %>';
      var userData = JSON.parse(userDataWorking);
   </script>
   <% } %>
   <script src="inital-varibles.js" charset="utf-8"></script>
   <script src="tasks.js" charset="utf-8"></script>
   <script src="main.js" charset="utf-8"></script>
</html>
