<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Node Test</title>
</head>
<body>
   <h2>Sign Up</h2>
   <form method="POST" action="/create-account" method="post">
      <input type="text" name="name" value="" placeholder="Name" required><br><br>
      <input type="email" name="emil" value="" placeholder="Email" required><br><br>
      <input type="password" name="pscd" value="" placeholder="Password" required><br><br>
      <input type="submit" name="" value="Create Account">
   </form>
   <body>
</body>
</body>
</html>
