* {
    padding: 0;
    margin: 0;
 }

 .avatar {
    height: 12vh;
    padding: 2vh;
    background-color: #eee;
    border-radius: 50%;
    border: solid 1vh #73f173;
    transition: .2s;
 }

.avatar:hover {
    box-shadow: 0 0 1vh #73f173;
}

 .choose-avatar {
    height: 10vh;
    padding: 1vh;
    margin: 1.2vh .8vh;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid .8vh #73e2f1;
 }

 .post {
    padding: 1vh 5vh;
    font-family: "Nunito";
 }

 .post-button {
    background-color: #fff;
     border: solid .8vh #ff0000;
     color: #ff0000;
     transition: .25s;
     font-size: 5vh;
     border-radius: .5vh;
     padding: 2vh;
     width: 100%;
 }

 .post-button:hover {
    background-color: #ff0000;
    color: #fff;
}

 .chatter {
    border: solid 1vh #f173eb;
    border-radius: 1.5vh;
    width: 16vh;
    text-align: center;
    font-family: "Nunito";
 }
 
 .message {
     background-color: #fcfcfc;
     border: solid 1vh #73e2f1;
     border-radius: 1.5vh;
     padding: 3vh;
     margin: 2vh;
     display: grid;
     grid-template-columns: auto auto;
 }

 .message.dark {
    background-color: #222;
    border: solid 1vh #cd73f1;
}

.chooseAvatar {
    border: solid 1vh #f1bf73;
    border-radius: .5vh;
    transition: .2s;
}

.chooseAvatar:hover {
    background-color: #f1bf73;
}

.messageBox {
    margin: 1.5vh;
    border: solid 1vh #cd73f1;
    border-radius: 1.5vh;
    height: 75vh;
    overflow: scroll;
}

.postBox {
    margin: 1.5vh;
    padding: 2vh;
    border: solid 1vh #f1de73;
    border-radius: 1.5vh;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio]:checked + img {
    outline: 1vh solid #f00;
}

.username-box {
    background-color: #fff;
    border: solid .8vh #04c50e;
    color: #04c50e;
    transition: .25s;
    font-size: 5vh;
    border-radius: .5vh;
    display: block;
    padding: 2vh;
    width: 90vw;
}

.username-box:focus {
    outline: none;
    background-color: #04c50e;
    color: #fff;
}

.username-box:focus::placeholder { color: #fff; }
.username-box::placeholder { color: #04c50e; }

.message-box {
    background-color: #fff;
    border: solid .8vh #0084ff;
    color: #0084ff;
    transition: .25s;
    font-size: 5vh;
    border-radius: .5vh;
    display: block;
    padding: 2vh;
    width: 92%;
}

.message-box:focus {
    outline: none;
    background-color: #0084ff;
    color: #fff;
}

.message-box:focus::placeholder { color: #fff; }
.message-box::placeholder { color: #0084ff; }


















* {
    padding: 0;
    margin: 0;
}


.taskOccuring, .workBuildings, .passiveBuildings, .store {
    height: 80vh;
    width: 21vw;
    padding: 2vh;
    display: inline-block;
    background-color: beige;
    border-radius: 3vh;
    overflow: scroll;
}

.taskOccuring h2, .workBuildings h2, .passiveBuildings h2, .store h2 {
    width: 100%;
    text-align: center;
    font-family: "Nunito";
    font-size: 5vh;
    font-weight: 800;
    color: #ff9100;
    text-shadow: .5vh .5vh #ff5e00,
                 -.5vh -.5vh #ffd900;
}

.store h3 {
    width: 100%;
    text-align: center;
    font-family: "Nunito";
    font-size: 5vh;
    font-weight: 600;
    color: #008cff;
    transition: .25s;
}

.store h3:hover {
    text-shadow: .25vh .25vh #00d9ff,
    -.25vh -.25vh #002fff;
    /* text-shadow: .5vh .5vh #7700ff,
    -.5vh -.5vh #00ff95; */
}

.store-item {
    padding: 2.5vh;
    background-color: #c5b8002c;
    border-radius: 2vh;
}




.infoImg {
    height: 8vh;
    border-radius: 50%;
}

.building {
    width: 100%;
    border-radius: 2vh;
    filter: greyscale(100%) contrast(100000%);
}