* {
   padding: 0;
   margin: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}

.content {
   padding: 6vh;
   border: outset 1.5vh #9d9a23;
   border-radius: 1vh;
   max-width: 35vh;
}

.content .input {
   border: inset .5vh #214b34;
   border-radius: 50vh;
   text-align: center;
   margin: .2vh;
   transition: .2s;
}

.content .input:focus {
   outline: none;
   border: outset .5vh #236541;
}

.content .submit {
   margin: 5vh 5vh 2vh 5vh;
}
</style>
