/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright January 1st 2021 by Squirrel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
   margin: 0;
   padding: 0;
   -webkit-user-select: none;
   user-select: none;
}
body {
   /* background-image: url("D:/Desktop/adrawing.svg"); */
   background-size: cover;
   overflow: hidden;
}

::selection { display: none;}
::-webkit-scrollbar { display: none; }

/* Remove default button styles */
button {
   padding: 4vh;
   margin: 1vh;
   font-family: sans-serif;
   cursor: inherit;
   transition: transform 150ms ease;
}
button:focus { outline: none; }
button:active { transform: scale(0.99); }
summary:focus { outline: none; }

.depth-button {
   outline: none;
   margin: 2vh;
   padding: 8vh;
   border: none;
   border-radius: 5vh;
   color: #fff;
   font-size: 5vh;
   transition: .15s;
}
.depth-button:active {
   outline: none;
   transform: translateY(1vh);
}

.red { background-color: #f74040; box-shadow: 0 2vh #d61818; }
.orange { background-color: #F9A748; box-shadow: 0 2vh #DA7D12; }
.yellow { background-color: #F8F948; box-shadow: 0 2vh #EAEB12; }
.green { background-color: #3FE863; box-shadow: 0 2vh #03B428; }
.blue { background-color: #63E1FF; box-shadow: 0 2vh #16CCF8; }
.purple { background-color: #6B3FE8; box-shadow: 0 2vh #4B20C8; }

.red:active { box-shadow: 0 1vh #d61818; }
.orange:active { box-shadow: 0 1vh #DA7D12; }
.yellow:active { box-shadow: 0 1vh #EAEB12; }
.green:active { box-shadow: 0 1vh #03B428; }
.blue:active { box-shadow: 0 1vh #16CCF8; }
.purple:active { box-shadow: 0 1vh #4B20C8; }

/* Dynamic Hover */
.dynamicHover {
   background-color: #e9e9e9;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   color: #2b2b2b;
   /* transition: opacity .1s;
   opacity: 0; */
}

.dynamicHoverDark {
   background-color: #2b2b2b;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   color: #e9e9e9;
   /* transition: opacity .1s;
   opacity: 0; */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Welcome!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.welcome {
   pointer-events: none;
   opacity: 0;
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   transition: 2s;
   box-shadow: inset 0 -5vh 30vh 10vh #000;
   backdrop-filter: sepia(.8);
   font-family: "Nunito";
   color: #fff;
}
.welcome-content {
   width: 100%;
   height: 100%;
   border-radius: 5vh;
   text-align: center;
}
.welcome-content h1 {
   font-size: 8vh;
   margin: 8vh 2vh 2vh 2vh;
   font-weight: 400;
}
.welcome-content h2 {
   font-size: 6vh;
   font-weight: 200;
   margin: 0 20vh;
}
.welcome-btn-one, .welcome-btn-two {
   text-transform: uppercase;
   height: 100vh;
   width: 50vh;
   transition: .5s;
   border: none;
   top: 0;
   bottom: 0;
   position: absolute;
   padding: 6vh;
   font-size: 3vh;
   color: #eee;
}
.welcome-btn-one {
   left: 0;
   background-color: rgb(86, 12, 99, .5);
   clip-path: circle(50% at 0% 50%);
   text-align: left;

}
.welcome-btn-two {
   right: 0;
   background-color: rgb(57, 217, 118, .5);
   clip-path: circle(50% at 100% 50%);
   text-align: right;
}
.welcome-btn-one:hover {
   background-color: rgb(86, 12, 99, .8);
   font-size: 6vh;
   color: #fff;
   border: none;
}
.welcome-btn-two:hover {
   background-color: rgb(57, 217, 118, .8);
   font-size: 6vh;
   color: #fff;
   border: none;
}
.welcome-content div {
   position: absolute;
   bottom: 2vh;
   font-size: 3vh;
}
.welcome-content a { color: #3aade8; }
.wlcm-choice {
   font-size: 4vh;
   width: 40vh;
   margin: 6vh auto;
   background-color: rgba(150, 138, 80, 0.5);
   box-shadow: 0 0 5vh rgba(150, 138, 80);
   border-radius: 5vh;
   transition: .2s;
}
.wlcm-choice:hover { transform: scale(1.05); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Farmland & Plots
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.land {
   position: relative;
   height: 95vh;
   width: 95vh;
   margin: 2vh auto;
   padding: .6vh;
   background-color: rgb(0, 0, 0, .3);
   border-radius: 1vh;
   transition: 0.5s;
   display: grid;
   grid-template-areas:
   "auto auto auto"
   "auto auto auto"
   "auto auto auto";
}
.plot {
   background-image: url("Images/Plots/plot.png");
   background-size: cover;
   margin: .35vh;
   border-radius: 1vh;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
   position: relative;
   min-height: 14vw;
   min-width: 14vw;
}
.open-plot { display: none; }

/* Buttons */
.btn {
   font-size: 2.8vh;
   height: 20vh;
   width: 20vh;
   transition: .3s;
   border-radius: 50%;
   border: solid .5vh rgb(100, 149, 237, .3);
   background: none;
   backdrop-filter: blur(.4vh);
   box-shadow: inset -1vh 1vh 2.5vh rgb(255, 255, 255, .25);
   font-family: "Roboto Condensed";
   padding: .2vh;
   color: #fff;
   font-weight: 600;
   letter-spacing: .06ch;
   pointer-events: auto;
   opacity: 1;
}
.btn:hover {
   transform: translateY(-1vh) scale(1.05);
   box-shadow: inset -1vh -1vh 2.5vh rgb(255, 255, 255, .25),
               0 .5vh 1vh #4b3200;
}
.veg-icon {
   height: 8vh;
   position: absolute;
   top: .5vh;
   left: .5vh;
}
.purchase-plot {
   padding: 2vh;
   margin: 0;
   background-color: #533805;
   border: solid .4vh #ba7900;
   border-radius: .4vh;
   color: #fff;
   transition: 0.5s;
}
.purchase-plot:hover { box-shadow: 0 0 2vh #f5f5f5; }

/* Locks */
.locked { height: 18vh; }
.lock-tooltip {
   position: relative;
   font-family: "Nunito", sans-serif;
}
.lock-tooltip .tooltiptext {
   position: absolute;
   top: -25%;
   bottom: 0;
   left: 108%;
   width: 30vh;
   height: 150%;
   padding: 2.5vh;
   background-color: #ffc04b;
   color: #5e3d00;
   border-radius: 2vh;
   font-size: 2.8vh;
   text-align: center;
   border: outset 1vh #faa911;
   box-sizing: border-box;
   z-index: 1;
   opacity: 0;
   pointer-events: none;
   transition: .4s;
   transition-delay: 0.4s;
}
.lock-tooltip:hover .tooltiptext {
   opacity: 1;
   pointer-events: auto;
}
.removing-lock { content: url("Images/Lock/lock.gif"); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Modals
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Vegetable Info Modal */
.veg-info {
   pointer-events: none;
   opacity: 0;
   position: fixed;
   z-index: 1;
   padding-top: 10vh;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   transition: .6s;
}
.modal-content h4 {
   font-size: 12vh;
   margin: 1vh;
}
.info-icon {
   height: 12vh;
   margin: 0 0 -2vh 0;
}
.modal-content {
   width: 90vw;
   height: 90vh;
   margin: -5vh auto 0 auto;
   padding: 4vh 4vh 25vh 4vh;
   font-size: 6vh;
   border-radius: .8vh;
   background-color: #fefefe;
   text-align: center;
   font-family: "Roboto Condensed";
   position: relative;
   box-sizing: border-box;
   overflow: scroll;
}

.close {
   position: absolute;
   top: 4vh;
   right: 6vh;
   border: solid #f5b803 .8vh;
   height: 10vh;
   width: 10vh;
   padding: 0;
   border-radius: 2vh;
   color: #f5b803;
   background-color: #fff;
   font-size: 6vh;
   font-family: "Nuntio", sans-serif;
   box-shadow: 0 .75vh #f29103;
   box-sizing: border-box;
   transition: .2s;
}
.close:hover {
   background-color: #f5b803;
   color: #fff;
   box-shadow: 0 .25vh #f29103;
   transform: translate(0, .5vh);
}
.close:active {
   background-color: #f5b803;
   color: #fff;
   box-shadow: 0 0 #f29103;
   transform: translate(0, .75vh);
}

.closeMarket {
   top: .5vh;
   right: .5vh;
}
 
.modal-market-prices {
   position: fixed;
   right: 0;
   bottom: -4vh;
   left: 0;
   height: 18vh;
   margin: 9vh 5vw;
   border-top: solid 2vh #eee;
   border-radius: 0 0 5vh 5vh;
   display: grid;
   grid-template-columns: 50% 50%;
   background-color: #fff;
}
.modal-market-prices div:first-child { border-right: solid .5vh #8f8f8f; }
.modal-market-prices div {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 8vh;
   color: #9f9f9f;
}

/* Default Modal */
.shadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(5px);
   overflow: scroll;
   transition: 0.8s;
   box-sizing: border-box;
}
.modalContent {
   min-height: 88%;
   border-radius: 2vh;
   margin: 5vh;
   padding: 8vh 0;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 8vh;
   font-family: "Nunito";
   transition: 0.8s;
   position: relative;
   box-sizing: border-box;
}
.closeModal {
   position: absolute;
   top: 3vh;
   right: 5vh;
   transition: .25s;
   cursor: pointer;
}
.closeModal:hover { text-shadow: 0 0 .5vh #444; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
New Plot Modal (& Button)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.plot-unlocked-modal {
   pointer-events: none;
   opacity: 0;
   position: fixed;
   z-index: 1;
   padding-top: 10vh;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   transition: .6s;
}

.plot-unlocked-modal-inner {
   width: 45vw;
   height: 85vh;
   margin: -5vh auto 0 auto;
   padding: 2vh 2vh 2vh 12vh;
   font-size: 6vh;
   border-radius: .8vh;
   background-color: #fefefe;
   text-align: left;
   font-family: "Roboto Condensed";
   position: relative;
   box-sizing: border-box;
   overflow: scroll;
   box-shadow: 0 1vh #eee;
   transform: translate(0, -45vh) rotateX(90deg);
   transition: .4s;
   opacity: 0;
}

.plot-unlocked-modal:hover .plot-unlocked-modal-inner {
   transform: translate(0, 0) rotateX(0);
   opacity: 1;
}

.plot-unlocked-modal h4 {
   margin-top: 3vh;
   font-size: 7vh;
   color: #222;
   font-family: "Nunito";
}

.plot-unlocked-modal p {
   font-size: 5vh;
   color: #555;
}

.plot-unlocked-modal li {
   font-size: 4vh;
   color: #555;
   line-height: 6vh;
   list-style-type: "- ";
}

.unlockedBtn {
   float: right;
   padding: 0 .4vh 0 .4vh;
   border: none;
   margin: 2vh;
   height: 10vh;
   width: 10vh;
   border-radius: 10vh;
   color: #fff;
   background-color: #f5b803;
   font-size: 6vh;
   font-family: sans-serif;
   box-shadow: 0 .75vh #f29103;
   transition: .25s;
}
 
.unlockedBtn:hover {
   box-shadow: 0 1vh #f29103;
   transform: translate(0, -.25vh);
}
 
.unlockedBtn:active {
   box-shadow: 0 0 #f29103;
   transform: translate(0, .75vh);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Right Click Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 40vh;
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 3vh;
   background: #fff;
   color: #555;
   border-radius: 1vh;
   box-shadow: 0 0 1vh #f5f5f5;
}
#menu li {
   list-style-type: none;
   padding: 2vh 5vh;
   font-weight: 300;
   transition: .5s;
}
#menu a {
   color: #54abd3;
}
#menu li:hover {
   font-weight: 500;
   background-color: #fafafa;
   border-radius: .5vh;
}
#menu hr {
   border: .25vh solid #ebebeb;
   border-bottom: 0;
}

.qIM {
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 3vh;
   background: #fff;
   color: #555;
   border-radius: 1vh;
   box-shadow: 0 0 1vh #f5f5f5;
   padding: 5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Tour
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.introDarkShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(25, 0, 0, 0.8);
   transition: 2.5s;
}
.intro-container {
   position: fixed;
   bottom: 2vh;
   left: 2.5vh;
   right: 2.5vh;
   height: 30vh;
   background-color: #f5f5f5;
   border-radius: 5vh;
   font-family: "Nunito";
   letter-spacing: -0.04vh;
   display: grid;
   grid-template-columns: auto auto auto auto;
   transition: 2.5s;
}
.intro-img {
   height: 25vh;
   margin: 1.5vh;
   transition: .5s;
}
.intro-divide {
   height: 25vh;
   width: 5vh;
   margin: 1.5vh;
   transition: .5s;
}
.intro-text {
   font-size: 2.5vw;
   margin: 1.5vh;
   transition: .5s;
}
.intro-nxt-btn {
   margin-top: 16vh;
   margin-right: 5vh;
   background-color: #7962b6;
   height: 10vh;
   width: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 10vh;
   border-radius: 25vh;
   transition: .5s;
}
.intro-nxt-btn:hover {
   box-shadow: 0 0 3vh #262626,
               inset 1vh 0 4vh .8vh rgba(255, 255, 255, 0.5);
}
.quest-arrow {
   height: 40vh;
   z-index: 1;
   animation: quest-arrow-nudge 3s infinite;
   display: none;
}
.plant-quest-arrow {
   position: absolute;
   right: -135%;
}
@keyframes quest-arrow-nudge {
   0% { margin-right: 0; }
   20% { margin-right: -8px; }
   40% { margin-right: -2px; }
   55% { margin-right: -8px; }
   70% { margin-right: 0; }
   100% { margin-right: 0; }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Market & Black Market
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.marketShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background-color: rgba(25, 0, 0, 0.8);
   backdrop-filter: blur(.5vh);
   transition: 0.8s;
}
.market {
   position: absolute;
   top: 2.5vh;
   right: 2.5vh;
   bottom: 2.5vh;
   left: 2.5vh;
   border-radius: 5vh;
   background-image: url("Images/Market/bustling.png");
   background-size: cover;
   background-color: #262626;
   text-align: center;
   font-family: "Roboto Condensed";
   cursor: url('Images/Cursors/money.png'), auto;
   overflow: scroll;
   transition: 0.8s;
}
.marketVegetables {
   display: grid;
   grid-template-columns: 33.33333% 33.33333% 33.33333%;
}
.market-item {
   display: none;
   height: 45vh;
   width: 95%;
   margin: 2vh auto;
   border-radius: 5vh;
   transition: 0.5s;
   font-size: 5vh;
   background-color: #13baf0;
   position: relative;
   opacity: 0.95;
   position: relative;
   overflow: hidden;
}
.market-item-content {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: pre-line;
   transition: 0.2s;
}
.buy-sell {
   position: absolute;
   left: 35%;
   bottom: 3vh;
   height: 10vh;
   width: 30%;
   border-radius: 2vh;
   overflow: hidden;
   transition: 0.2s;
}
.accept-deny {
   position: absolute;
   left: 25%;
   bottom: 3vh;
   height: 10vh;
   width: 50%;
   border-radius: 5vh;
   overflow: hidden;
   transition: 0.2s;
}
.buy-sell:hover { box-shadow: 0 0 .5vh #262626; }
.market-item-buy {
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: #ff94ec;
   height: 5vh;
   width: 100%;
   transition: 0.2s;
   font-size: 4vh;
}
.market-item-sell {
   float: bottom;
   position: absolute;
   left: 0;
   background-color: #77aeff;
   height: 5vh;
   width: 100%;
   transition: 0.2s;
   font-size: 4vh;
}
.market-item-buy:hover { background-color: #f96bdf; }
.market-item-sell:hover { background-color: #4f94fa; }
.market-item:hover {
   opacity: 0.98;
   box-shadow: 0 0 5vh #262626,
               inset 0 0 1vh #262626;
}
.market-hover {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   transition: all 0.5s;
   transform: translateY(100%);
}
.market-hover h1 {
   text-transform: uppercase;
   font-size: 8vh;
}
.market-hover p {
   font-size: 4vh;
   padding: 0 6vh;
   display: inline;
}
.market-item:hover .market-hover {
   background-color: rgba(0, 0, 0, 0.6);
   transform: translateY(0);
}
.use-market-reset-button {
   padding: 2vh;
   font-size: 3vh;
   border-radius: 1vh;
   border: solid .4vh rgb(0, 0, 0, .2);
   background-color: #ffd700;
   font-family: "Roboto Condensed";
   color: #343cb9;
   font-weight: 600;
   position: absolute;
   bottom: 4vh;
   right: 4vh;
}
.market-veg-img {
   height: 10vh;
   position: absolute;
   top: 4vh;
   left: 4vh;
}
.more-info-tooltip {
   position: absolute;
   right: 15vh;
   bottom: 2.5vh;
}
.more-info-tooltip img { height: 9vh; margin-bottom: 1vh; }
.more-info-tooltip .tooltip-text {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   min-height: 10vh;
   width: 300%;
   background-color: #eee;
   text-align: center;
   border-radius: 2vh;
   box-sizing: border-box;
   padding: 1vh;
   box-shadow: 0 0 2vh #ddd;
   font-size: 3vh;
   color: #262626;
   left: -100%;
   bottom: 110%;
   transition: .8s;
   transition-delay: .2s;
}
.more-info-tooltip .tooltip-text::after {
   content: "";
   position: absolute;
   left: 44%;
   top: 105%;
   margin-top: -2vh;
   border-width: 2vh;
   border-style: solid;
   border-color: #eee transparent transparent transparent;
}
.more-info-tooltip:hover .tooltip-text {
   opacity: 1;
   pointer-events: auto;
}
#market-reset-more-info { filter: invert(); }

.market-item:nth-child(1) { background-color: #ddddb9; }
.market-item:nth-child(2) { background-color: #ffcc00; }
.market-item:nth-child(3) { background-color: #1f7880; }
.market-item:nth-child(4) { background-color: #f0e0e0; }
.market-item:nth-child(5) { background-color: #84f09e; }
.market-item:nth-child(6) { background-color: #b388c6; }
.market-item:nth-child(7) { background-color: #613f2a; }
.market-item:nth-child(8) { background-color: #d96072; }
.market-item:nth-child(9) { background-color: #b1078e; }

/* Black Market & Market Exchanges */
.blackMarketShadow { overflow: hidden; }
.market-exchange-content {
   padding-bottom: 5vh;
   display: grid;
   grid-template-columns: 33.33333% 33.33333% 33.33333%;
}
.exchange-market-item { width: 30vw; }
.blackMarketHome {
   background-image: url("Images/Market/black-market.png");
   background-size: cover;
   background-position: center;
}
.blackMarket {
   min-height: 100%;
   border-radius: 0;
   margin: 0;
   box-shadow: inset 2vh 2vh 6vh #000,
               inset -2vh -2vh 6vh #000;
   background-image: url("Images/Market/black-market.png");
   background-size: cover;
   background-position: center;
}
.black-doughnut { height: 12vh; }
.doughnut-parent {
   position: absolute;
   top: 5vh;
   left: 25vh;
   height: 12vh;
   width: 12vh;
}
.more-info-tooltip-black {
   position: relative;
   padding: 1vh;
   display: inline-block;
}
.more-info-tooltip-black .tooltip-text {
   width: 25vh;
   height: 26vh;
   left: -50%;
   top: 92%;
   z-index: 1000;
}
.more-info-tooltip-black .tooltip-text::after {
   left: 44%;
   top: -6%;
   border-color: transparent transparent #eee transparent;
}
.black-accept-deny {
   left: 0;
   bottom: 0;
   height: 20vh;
   width: 100%;
   border-radius: 0;
}
.black-buy {
   opacity: .8;
   background-color: #0fd20e;
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s;
}
.black-sell {
   opacity: .8;
   background-color: #da2d13;
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s;
}
.black-buy:hover { background-color: #02993e; opacity: 1; }
.black-sell:hover { background-color: #911300; opacity: 1; }
.blackMarketOffer {
   position: absolute;
   bottom: 20vh;
   width: 100%;
   height: 60vh;
   background-color: #eee;
   opacity: .8;
   display: grid;
   grid-template-columns: 33.33333% 33.33333% 33.33333%;
}
.bmo-seller, .bmo-offer, .bmo-price { font-size: 12vh; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Command Panel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.command-panel {
   position: fixed;
   bottom: 0;
   border-radius: 0 5vh 0 0;
   height: 15vh;
   padding: 2vh 10vh 2vh 2vh;
   text-align: center;
   background-color: #ebbc17;
}
.command-panel img {
   display: none;
   height: 12vh;
   padding: 1.5vh;
   border-radius: 2.5vh 5vh;
   transition: 0.2s;
   background-color: #ffca18;
}
.command-panel img:hover, .slider:hover {
   transform: scale(1.05);
   box-shadow: 0 0 .5vh #cb9e00;
}
.switch {
   position: absolute;
   top: 2.5vh;
   right: 2vh;
   display: inline-block;
   width: 7vh;
   height: 15vh;
}
.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}
.slider {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border: solid #cb9e00 .2vh;
   background-color: #ffca18;
   transition: .3s;
   border-radius: 5vh;
}
.slider:before {
   content: "";
   position: absolute;
   height: 5vh;
   width: 5vh;
   left: .8vh;
   top: .8vh;
   background-color: #f5f5f5;
   transition: .3s;
   border-radius: 50%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Alert
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.alert-box {
   pointer-events: none;
   z-index: 1000000000;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   font-size: 2vh; 
   display: flex;
   flex-direction: column;
   justify-content: flex-end; 
}

.alert {
   display: none;
   min-height: 18vh;
   width: 40vh;
   font-size: 2vh;
   color: #f5f5f5;
   padding: 2.5vh;
   margin: 1vh;
   text-transform: uppercase;
   transition: .5s;
   box-sizing: border-box;
   font-family: "Nunito";
   text-align: center;
   background-color: #16cbf8d0;
   border-radius: 2.5vh;
}
.alert-cominin {
   animation: alertCominIn 1.5s forwards;
}
.alertAnimation {
   opacity: 1;
   transform: scale(1) rotate(0);
   pointer-events: none;
   animation: alert-animation 1.5s forwards;
}
@keyframes alert-animation {
   0% { transform: translate(0, 0) scale(1); opacity: 1; }
   100% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
}
@keyframes alertCominIn {
   0% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
   100% {transform: translate(0, 0) scale(1); opacity: 1;  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Toolbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.toolbar {
   position: absolute;
   top: 2vh;
   right: 2vh;
   background-color: #111;
   border: ridge .8vh gold;
   border-radius: 2vh;
   height: 38.5vh;
   width: 14.5vh;
   transition: 0.5s;
   box-shadow: 0 0 2vh #262626;
   font-family: "Nunito";
}
.produce-tooltip {
   position: relative;
   width: auto;
   margin: auto;
   text-align: center;
}
.produce-image {
   height: 4vh;
   margin: 0 .5vh -.8vh .5vh;
}
.toolbar-img {
   height: 10vh;
   margin: 1.2vh 0;
}
.produce-tooltip .tooltip-text {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   width: 20vh;
   height: 12vh;
   background-color: #eee;
   text-align: center;
   border-radius: 2vh;
   padding: .5vh 0;
   box-shadow: 0 0 2vh #ddd;
   font-size: 3vh;
   color: #262626;
   top: -1vh;
   right: 95%;
   z-index: 1;
   transition: .8s;
   transition-delay: .2s;
}
.produce-tooltip .tooltip-text-produce {
   min-width: 50vh;
   height: auto;
   padding: 2vh 0;
}
.produce-tooltip .tooltip-text::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 100%;
   margin-top: -1vh;
   border-width: 1vh;
   border-style: solid;
   border-color: transparent transparent transparent #eee;
}
.produce-tooltip .tooltip-text-produce::after { top: 7vh; }
.produce-tooltip:hover .tooltip-text {
   opacity: 1;
   pointer-events: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Settings
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.settings {
   cursor: url('Images/Cursors/chisel.png'), auto;
}

.setting-button {
   border-radius: .5vh;
   display: block;
   padding: 1vh;
   margin: .5vh auto;
   width: 81vw;
   box-shadow: 0 0 1vh #222;
   background-color: #808080;
   border: none;
   font-size: 3.5vh;
   color: lightblue;
   display: inline;
   text-shadow: 0 0 4vh #000;
   font-family: "Nunito";
}
.settings h1 { font-weight: 200; }
.theme-color {
   width: 26.3vw;
   padding: 1vh;
   margin: .5vh auto;
   display: inline;
   background-color: #aaaaaa;
}
.setting-button:active { transform: scale(0.95); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Help
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.help-shadow {
   position: fixed;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(.5vh);
   background-color: rgb(0, 0, 0, .5)
}
.help {
   height: 95vh;
   width: 95vw;
   background-color: #f5f5f5;
   border-radius: 5vh;
   display: grid;
   grid-template-columns: 30% 70%;
   overflow: hidden;
}
.help-subjects { overflow: scroll; }
.help-subjects-item {
   background-color: #f97590;
   font-family: sans-serif;
   width: 60%;
   font-size: 4vh;
   padding: 4vh 2vh;
   margin-bottom: .2vh;
   color: #fff;
   transition: .2s;
}
.help-subjects-item:first-child { background-color: #03fca5; }
.help-subjects-item-active { filter: hue-rotate(180deg); }
.help-subjects-item:last-child {
   background-color: #6ee8ff;
   margin: 0;
}
.help-subjects-item:hover {
   transform: scale(1.2) translateX(5vh);
   box-shadow: 0 0 2vh #000;
   border-radius: .5vh;
}
.help-information {
   padding: 2vh 20vh 0 5vh;
   overflow: hidden;
   scroll-behavior: smooth;
}
.help-information div {
   height: 85vh;
   width: 100%;
   position: relative;
   margin-bottom: 10vh;
   overflow: auto;
}
.help-information h1 {
   font-family: "Nunito";
   text-align: center;
   font-size: 8vh;
}
.help-information p {
   font-size: 3.5vh;
}
.help img {
   position: absolute;
   bottom: 0;
   right: 0;
}
.help-information span {
   color: #ccc;
   font-family: "Nunito";
   text-decoration: underline;
}
.help-center-img {
   height: 8vh;
   position: fixed;
   top: 2vh;
   left: 2vh;
   transition: .25s;
}
.help-center-img:hover { transform: scale(1.05); }
.help a {
   color: lightblue;
   text-decoration: none;
   position: relative;
}
.help .no-link:after { display: none; }
.help a:after {
   content: "";
   display: block;
   height: .2vh;
   left: 50%;
   position: absolute;
   background: lightblue;
   transition: all .2s;
   width: 0;
}
.help a:hover:after {
   width: 100%;
   left: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Tasks
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.task-ribbon {
   position: relative;
   top: 6vh;
   right: -100%;
   height: 16vh;
}
.tasks {
   position: fixed;
   top: 8vh;
   left: -80vh;
   height: 85vh;
   width: 80vh;
   background-color: #f9f9f9;
   border-top-right-radius: 2vh;
   border-bottom-right-radius: 2vh;
   z-index: .9;
   transition: .8s;
   z-index: 1;
}
.taskShadow {
   display: none;
   z-index: .9;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}
.taskContent {
   margin-top: -15vh;
   overflow: scroll;
   display: grid;
   position: relative;
   grid-template-columns: 50% 50%;
   font-family: "Nunito";
}
.task-block {
   width: 92%;
   height: 37vh;
   margin: 2vh auto;
   text-align: center;
   box-sizing: border-box;
   position: relative;
   padding: 6vh 2vh;
   font-size: 2.2vh;
   background-image: url("Images/Tasks/sticky-note.png");
   background-size: cover;
   overflow: scroll;
   transition: 0.5s;
}
.task-info-a { grid-area: a; }
.task-info-a { grid-area: b; }
.task-info-a { grid-area: c; }
.task-info {
   display: grid;
   grid-template-areas:
               "a b"
               "c c";
}
.task-info-img {
   height: 10vh;
   margin: auto;
}
.task-submit-depth-button {
   position: absolute;
   bottom: 4vh;
   left: 2vh;
   margin: .2vh;
   padding: 1vh 2vh;
   border-radius: 1vh;
   font-size: 2vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Festival
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.festival {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: scroll;
   transition: 0.8s;
   box-sizing: border-box;
   padding: 8vh 0;
   background-image: url("Images/Festival/background.png");
   background-size: 100vw 100vh;
   background-color: #31d3f0;
   text-align: center;
   font-size: 8vh;
   font-family: "Nunito";
   color: #fff;
}
.festival-land { width: 100%; }
.festival-land button {
   background-image: url("Images/Festival/shiny-metal.jpg");
   background-size: contain;
}
.festival-plot-image {
   position: absolute;
   width: 25vh;
}
.festival-plot {
   transition: 2s;
   position: absolute;
   max-height: 50vh;
   max-width: 50vh;
}
.festival-locked { height: 20vh; }
.festival-ahh-perspective {
   perspective: 100vh;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.festival-ahh-perspective button { width: 90%; margin-top: 20vh; }
.festival-gears { height: 4vh; margin: -1vh 1vh; }

#fstvl-1 { top: 20vh; left: 12vw; }
#fstvl-2 { top: 16vh; left: 34vw; }
#fstvl-3 { top: 27vh; left: 63vw; }
#fstvl-4 { top: 22vh; left: 79vw; }
#fstvl-5 { top: 51vh; left: 07vw; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Other
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Plot 5 */
.almanac {
   height: 8vh;
   position: absolute;
   bottom: .5vh;
   left: .5vh;
}
.shop-window {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   height: 0;
   width: 8vh;
   text-align: center;
   background-color: rgb(0, 0, 0, .8);
   list-style-type: none;
   overflow-y: scroll;
   transition: all 1.2s ease;
}
.shop-window li { margin: 1.2vh }
.store-icon {
   height: 5vh;
   transition: .5s;
}
.store-icon:hover { transform: scale(1.2); }

/*  Fade text */
.fade-text {
   max-width: 40vh;
   position: fixed;
   top: -100%;
   right: -100%;
   z-index: 9999;
   pointer-events: none;
   font-family: "Nunito";
   text-align: center;
   white-space: pre-wrap;
   font-size: 3vh;
   color: #fff;
   border-radius: 1vh;
   text-shadow: 0 0 1vh #f5f5f5;
   opacity: 0;
   transform: translateY(10vh) scale(.85);
   animation: fade-text 6s forwards;
}
.vegLuck:nth-last-child(2) { margin-top: 10vh; }
.vegLuck:nth-last-child(1) { margin-top: 20vh; }
@keyframes fade-text {
   0% {
      opacity: 0;
      transform: translateY(10vh) scale(.85);
   }
   30%, 40% {
      opacity: 1;
      transform: translateY(0) scale(1.05);
   }
   90%, 100% {
      opacity: 0;
      transform: translateY(-10vh) scale(1);
   }
}

/* Weather */
.weather-short {
   position: fixed;
   height: 15vh;
   width: 15vh;
   right: 2vh;
   top: 45vh;
   background-color: rgb(59, 74, 167, .9);
   border: solid .5vh rgb(42, 50, 102, .9);
   border-radius: 2vh;
   overflow: hidden;
   overflow: scroll;
   display: grid;
   grid-template-areas:
   "a b"
   "d d"
   "c c";
   transition: 1s;
   transition-delay: .2s;
}
.weather-short:hover {
   height: 45vh;
   width: 35vh;
}
.weather-short .weather-img {
   grid-area: a;
   height: 15vh;
   width: 15vh;
   transition: all .1s, margin .8s;
}
.weather-short:hover .weather-img { margin: 1vh 2vh; }
.weather-next, .weather-last { height: 8vh; width: 8vh; margin: 2vh auto; }
.weather-name {
   grid-area: b;
   font-size: 4.5vh;
   font-family: "Nunito";
   font-weight: 700;
   color: #f5f5f5;
   text-align: center;
   padding-top: 3vh;
}
.weather-description {
   grid-area: c;
   font-size: 4vh;
   font-family: "Nunito";
   color: #f5f5f5;
   text-align: center;
}
.weather-time {
   grid-area: d;
   font-size: 3.5vh;
   font-family: "Nunito";
   color: #f5f5f5;
   text-align: center;
}

/* Time Left */
.time-left img {
   height: 5vh;
   margin: .5vh;
   position: sticky;
}
.time-left:hover img {
   height: 0;
   width: 0;
}
.time-left {
   position: absolute;
   right: .5vh;
   bottom: .5vh;
   border: outset .7vh rgba(225, 225, 225, 0.75);
   padding: .1vh;
   border-radius: 1.5vh;
   height: 5vh;
   width: 5vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(225, 225, 225, 0.75);
   color: #333;
   font-family: "Nunito";
   font-size: 0;
   overflow: scroll;
   opacity: .8;
   transition: .2s;
   transition: width .3s, opacity .2s;
   transform: scale(.9);
   mix-blend-mode: luminosity;
}
.time-left:hover {
   width: 12vh;
   font-size: 2.5vh;
   opacity: 1;
   transform: scale(1);
   border: outset .7vh rgba(245, 245, 245, 0.75);
   background-color: rgba(245, 245, 245, 0.75);
}

/* Help */
#help-about-copyright {
   font-size: 3vh;
   font-weight: 300;
   overflow-y: scroll;
}
table {
   border-collapse: collapse;
   width: 100%;
   font-size: 2.5vh;
   table-layout: fixed;
}
td, th {
   border: .2vh solid #eee;
   border-radius: .2vh;
   padding: .5vh;
   width: 25%;
   color: #666;
}
td { font-weight: 100; }
th { color: #aaa; }
tr:nth-child(even) { background-color: #eee; }
.tm-tb { opacity: 0; }

/* Weeds */
.weed {
   position: absolute;
   height: 6vh;
   width: 6vh;
   z-index: 1;
   transform: scale(0);
   transition: transform .5s;
}
.weed:hover { animation: weed-found 1s; }
@keyframes weed-found {
   0% { transform: rotate(0); }
   25% { transform: rotate(15deg); }
   50% { transform: rotate(-15deg); }
   75% { transform: rotate(15deg); }
   100% { transform: rotate(0); }
}

/* Other */
.vegAmount { display: none; }

.cover {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   justify-content: center;
   text-align: center;
   background-image: url("Images/Background/background.png") !important;
   background-size: cover;
}

.meter {
   margin-top: 45vh;
  box-sizing: content-box;
  height: 10vh;
  width: 90%;
  background: #555;
  border-radius: 10vh;
  padding: 0vh;
  overflow: hidden;
  text-align: center;
}
.meter > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5vh;
  font-weight: 600;
  color: #fff;
  font-family: "Roboto Condensed";
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(center bottom);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
                    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: load 2s linear infinite;
  overflow: hidden;
}

@keyframes load {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}

.red-load > span {background-image: linear-gradient(#f0a3a3, #f42323); }
.orange-load > span { background-image: linear-gradient(#f1a165, #f36d0a); }
.yellow-load > span { background-image: linear-gradient(#f0f165, #f4d90a); }
.green-load > span {background-image: linear-gradient(#a3f0b3, #23f47b); }
.blue-load > span {background-image: linear-gradient(#f0a3a3, #f42323); }
.purple-load > span {background-image: linear-gradient(#f0a3a3, #f42323); }

.save-export-img {
   height: 20vh;
}

.darkFadeText { color: #505050; }

.aTaskIsReady {
   height: 10vh;
   position: absolute;
   top: 8vh;
   right: -55vh;
   z-index: 1000000;
   transition: .5s;
   opacity: 0;
   pointer-events: none;
}

#layer2 { opacity: 0; animation: shownhide1 2s infinite; }
#layer3 { opacity: 0; animation: shownhide2 2s infinite; }
#layer4 { opacity: 0; animation: shownhide3 2s infinite; }
#layer5 { opacity: 0; animation: shownhide4 2s infinite; }

@keyframes shownhide1 { 0% { opacity: .5; } 7% { opacity: 1; } 14% { opacity: .5; } 21% { opacity: 0; } 28% { opacity: 0; } 35% { opacity: 0; } 42% { opacity: 0; } 49% { opacity: 0; } 56% { opacity: 0; } 63% { opacity: 0; } 70% { opacity: 0; } 77% { opacity: 0; } 84% { opacity: .5; } 91% { opacity: 1; } 100% { opacity: .5; } }
@keyframes shownhide2 { 0% { opacity: 0; } 7% { opacity: 0; } 14% { opacity: .5; } 21% { opacity: 1; } 28% { opacity: .5; } 35% { opacity: 0; } 42% { opacity: 0; } 49% { opacity: 0; } 56% { opacity: 0; } 63% { opacity: 0; } 70% { opacity: 0; } 77% { opacity: 1; } 84% { opacity: 0; } 91% { opacity: 0; } 100% { opacity: 0; } }
@keyframes shownhide3 { 0% { opacity: 0; } 7% { opacity: 0; } 14% { opacity: 0; } 21% { opacity: 0; } 28% { opacity: .5; } 35% { opacity: 1; } 42% { opacity: .5; } 49% { opacity: 0; } 56% { opacity: .5; } 63% { opacity: 1; } 70% { opacity: .5; } 77% { opacity: 0; } 84% { opacity: 0; } 91% { opacity: 0; } 100% { opacity: 0; } }
@keyframes shownhide4 { 0% { opacity: 0; } 7% { opacity: 0; } 14% { opacity: 0; } 21% { opacity: 0; } 28% { opacity: 0; } 35% { opacity: 0; } 42% { opacity: .5; } 49% { opacity: 1; } 56% { opacity: .5; } 63% { opacity: 0; } 70% { opacity: 0; } 77% { opacity: 0; } 84% { opacity: 0; } 91% { opacity: 0; } 100% { opacity: 0; } }




div.dark-code, div.light-code {
   padding: 2vh 4vh;
   border-radius: 2.5vh;
   max-height: 45vh;
   max-width: 40vw;
   overflow: auto;
   font-family: "Nunito";
   font-size: 4vh;
   font-weight: 600;
   transition: .5s;
   /* animation: justLeave 1s forwards; */
}


div.dark-code {
   background-color: #222;
   color: #fefefe;
}

div.light-code {
   background-color: #fefefe;
   color: #222;
}

div.dark-code span { text-decoration: none; }
div.light-code span { text-decoration: none; }

div.dark-code .num { color: #56fc7a; }
div.dark-code .css-selector { color: #56e8fc; }
div.dark-code .js-varible { color: #56e8fc; }
div.dark-code .js-declaration { color: #d556fc; }
div.dark-code .js-math { color: #fc5656; }
div.dark-code .js-function { color: #fc5656; }
div.dark-code .css-element { color: #fc5656; }
div.dark-code .css-class { color: #d556fc; }
div.dark-code .css-id { color: #fcf956;}
div.dark-code .js-loopForIf { color: #fcf956; }


div.light-code .num { color: #2dd150; }
div.light-code .css-selector { color: #34c3d6; }
div.light-code .js-varible { color: #34c3d6; }
div.light-code .js-declaration { color: #a92bd0; }
div.light-code .js-math { color: #c92020; }
div.light-code .js-function { color: #c92020; }
div.light-code .css-element { color: #c92020; }
div.light-code .css-class { color: #a92bd0; }
div.light-code .css-id { color: #eeeb37;}
div.light-code .js-loopForIf { color: #eeeb37; }

div.dark-code:hover {
   /* animation: comeAndGo 1s .5s forwards; */
   top: 45vh;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   width: 100vw;
   height: 55vh;
   /* transform: scale(1.5) translate(0, 25vh); */
}

.codeSampleHolder {
   width: 100vw;
   padding: 2vh;
   position: relative;
}

.codeTest {
   position: absolute;
   top: 0;
   left: 0;
   border: solid .8vh #29c4f3;
   z-index: 1;
}

.codeTest:nth-child(1) {
   left: 25vh;
   border: solid .8vh #28f55c;
   z-index: 0;
}

.codeTest:nth-child(2) {
   left: 50vh;
   border: solid .8vh #f5f228;
   z-index: -1;
}

.codeTest:nth-child(3) {
   left: 75vh;
   border: solid .8vh #f52f28;
   z-index: -2;
}

.codeTest:nth-child(4) {
   left: 100vh;
   border: solid .8vh #cc28f5;
   z-index: -3;
}

@keyframes comeAndGo {
   0% { transform: scale(1) translate(0, 0); }
   5% { transform: scale(1) translate(0, 25vh); }
   100% { transform: scale(1.5) translate(0, 25vh); }
}

@keyframes justLeave {
   0% { transform: scale(1.5) translate(0, 25vh); }
   5% { transform: scale(1) translate(0, 25vh); }
   100% { transform: scale(1) translate(0, 0); }
}

/* div.dark-code:hover {
   animation: comeAndGo 2s infinite;
}

@keyframes comeAndGo {
   0% { transform: scale(1) translate(0, 0); }
   15% { transform: scale(1) translate(0, 0); }
   30% { transform: scale(.9) translate(0, 5vh); }
   40% { transform: scale(.8) translate(0, 2.5vh); }
   50% { transform: scale(.75) translate(0, 0); }
   60% { transform: scale(.8) translate(0, -2.5vh); }
   85% { transform: scale(.9) translate(0, -5vh); }
   100% { transform: scale(1) translate(0, 0); }
} */
