/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Alert
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.alert-box {
   pointer-events: none;
   z-index: 1000000000;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   font-size: 2vh; 
   display: flex;
   flex-direction: column;
   justify-content: flex-end; 
}

.alert {
   display: none;
   min-height: 18vh;
   width: 40vh;
   font-size: 2.75vh;
   color: #222;
   padding: 2.5vh;
   margin: 1vh;
   transition: .5s;
   box-sizing: border-box;
   font-family: "Nunito";
   text-align: center;
   background-color: #fff;
   box-shadow: 0 0 .2vh #bbb;
   border-radius: 2vh;
}
.alert-cominin {
   animation: alertCominIn .75s forwards;
}
.alertAnimation {
   opacity: 1;
   transform: scale(1) rotate(0);
   pointer-events: none;
   animation: alert-animation .75s forwards;
}
@keyframes alert-animation {
   0% { transform: translate(0, 0) scale(1); opacity: 1; }
   100% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
}
@keyframes alertCominIn {
   0% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
   100% {transform: translate(0, 0) scale(1); opacity: 1;  }
}