/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Color theme
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

::-webkit-scrollbar {
   display: none;
}

/* Light root */
:root {
   --txt-color: #222;
   --bg-color: #fff;
   --msg-bg-color: #f6f6f6;
   --msg-othr-bg: #FFFCF4;
   --msg-your-bg: #E1FFF3;
   --img-bg: #f4a460;
}

/* Dark root */
/* :root {
   --txt-color: #f8f8f8;
   --bg-color: #222;
   --msg-bg-color: #111;
   --msg-othr-bg: #523C00;
   --msg-your-bg: #004328;
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Actuall Chatbox
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.chatbox {
   position: fixed;
   bottom: 0;
   right: 0;
   height: 10vh;
   width: 10vh;
   background-color: var(--bg-color);
   font-size: 4vh;
   font-family: "Nunito";
   color: var(--txt-color);
   box-shadow: 0 0 .3vh #00000020;
   border-radius: 2vh 0 0 0;
   overflow: hidden;
   transition: .2s;
}
 
.chatbox.open {
   height: 100vh;
   width: 30vw;
   overflow: auto;
   border-radius: 0;
}

.chat-menu-icon {
   float: right;
   margin: 2vh 1vh;
   /* background: linear-gradient(to bottom right, #FFF45A, #FF9C5A); */
   /* background: linear-gradient(to bottom right, #5AFFF3, #5AC7FF); */
   /* background: linear-gradient(to bottom right, #5aff86, #5ae9ff); */
   /* background: linear-gradient(to bottom right, #94ff5a, #68ff5a); */
   /* background: linear-gradient(to bottom right, #a25aff, #e15aff); */
   background: linear-gradient(to bottom right, #ffa45a, #ff705a);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
   font-size: 6vh;
   line-height: 1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Menu: switchchat
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.menu-switchchat {
   position: absolute;
   top: 0;
   right: 30vw;
   height: 80vh;
   width: 29vw;
   padding: 10vh 2vh;
   background-color: #fefefe;
   overflow: auto;
   transition: .2s;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Menubar
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.chatbox .chat-menubar {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   height: 10vh;
   width: 100%;
   background-color: var(--msg-bg-color);
   z-index: 2;
}

/* Toggle Image */
.chat-close-img {
   margin: 1vh;
   height: 8vh;
}
 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Other
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.template-parent { display: none; }

.chatbox .messages {
   margin: 0 0 10vh 0;
}
  
.chatbox .message {
   position: relative;
   padding: 3vh;
   max-width: 35vw;
}
  
.message .image {
   position: absolute;
   top: -2.2vh;
   left: -1.2vh;
   height: 8vh;
   width: 8vh;
   border-radius: 100%;
   background-color: var(--img-bg);
   border: solid 2vh var(--bg-color);
}
  
.chatbox .image-right {
   position: absolute;
   top: -2.2vh;
   right: -1.2vh;
   height: 8vh;
   width: 8vh;
   border-radius: 100%;
   background-color: var(--img-bg);
   border: solid 2vh var(--bg-color);
}
  
.chatbox .shape {
   shape-outside: circle(50%);
   width: 12vh;
   height: 9vh;
   float: left;
}
  
.chatbox .shape-right {
   shape-outside: circle(50%);
   width: 12vh;
   height: 9vh;
   float: right;
}
  
.chatbox .message .little-chat-box {
   font-size: 2.5vh;
   background-color: var(--msg-othr-bg);
   border-radius: 2vh;
   padding: 1.5vh;
}
  
.chatbox .message-right .little-chat-box {
   font-size: 2.5vh;
   background-color: var(--msg-your-bg);
   border-radius: 2vh;
   padding: 1.5vh;
}
  
.chatbox .chat-title {
   text-align: center;
   padding-bottom: .5vh;
   margin: .5vh;
}

.chatbox .time {
   font-size: 2vh;
   color: #6A6C6E;
}

/*
D7FFEF
BAFFE4
*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Post message
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#post-chat-msg {
   position: fixed;
   bottom: 0;
}

.chatbox .input {
   width: 30vw;
   padding: 3vh;
   font-size: 3vh;
   color: var(--txt-color);
   background-color: var(--msg-bg-color);
   border: none;
   box-sizing: border-box;
}
  
.chatbox .input:focus {
   outline: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Edit Messages
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.chat-edit-img {
   position: absolute;
   bottom: 4vh;
   right: 4vh;
   height: 3vh;
   transition: .15s;
}

.chat-edit-img:hover {
   transform: scale(1.25) translate(0, -.5vh);
}

.chat-edit-message {
   width: calc(100% - 3vh); /* 3vh is the width of the message */
   min-height: 0;
   max-height: 0;
   overflow: hidden;
   background-color: #fcfcfc;
   border-radius: 1vh;
   transition: .2s;
}

.chat-edit-message.open {
   padding: 1.5vh;
   min-height: 12vh;
   max-height: 40vh;
}

.change-msg {
   margin: 0;
}

.remove-msg {
   padding: 0;
}

.edit-message-input {
   width: 100%;
   padding: 1.5vh;
   font-size: 2.5vh;
   background-color: #f6f6f6;
   border: none;
   border-radius: 1vh;
   font-family: "Nunito", sans-serif;
   resize: none;
   box-sizing: border-box;
   margin-bottom: -3vh;
}
  
.edit-message-input:focus { outline: none; }

.edit-msg {
   width: 100%;
   display: grid;
   grid-template-columns: auto auto;
}

.edit-msg button {
   padding: 1.5vh;
   border: none;
   border-radius: 1vh;
   transition: .2s;
}

.edit-msg button:hover { background-color: #ddd; }

.edit-msg .save-msg {
   width: 100%;
   font-size: 2.5vh;
   background-color: #f6f6f6;
}

.edit-msg .delete-msg span {
   color: #f8f8f8;
   font-size: 8vh;
}

.edit-msg .delete-msg {
   margin: -3vh 0 0 2vh;
   height: calc(100% - 1vh);
   background-color: #e25050;
}

.edit-msg .delete-msg:hover { background-color: #c22d2d; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Dynamic hover
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.dynamicHover {
   background-color: #fff;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   color: #2b2b2b;
   transition: opacity .1s;
   opacity: 0;
   box-shadow: 0 0 .2vh #eee;
}