* {
   padding: 0;
   margin: 0;
   text-overflow: ellispis;
   box-sizing: border-box;
}

body {
   background-color: #22222222;
   backdrop-filter: blur(.5vh);
}

.content {
   margin: 20vh auto;
   width: 30vw;
   height: 60vh;
   padding: 4vh 6vh;
   text-align: center;
   background-color: #fff;
   border-radius: 3vh;
   box-shadow: 0 0 .2vh #888;
}

.content h2 {
   margin: 1vh 0 3vh 0;
   font-family: sans-serif;
   font-size: 4vh;
   color: #222;
}