* {
   padding: 0;
   margin: 0;
   text-overflow: ellispis;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
   background-size: 100vw 130vh;
   background-position: center;
}

.content {
   padding: 6vh;
   border: outset 1.5vh #9d9a23;
   border-radius: 1vh;
   max-width: 35vh;
}

.input-text {
   width: 20vw;
   padding: 2vh;
   margin: .5vh 0;
   outline: none;
   border: none;
   box-sizing: border-box;
   background-color: #fff;
   font-size: 3vh;
   border-radius: 2vh;
   box-shadow: inset 0 0 .5vh #00000020;
}

.input-submit {
   width: 20vw;
   padding: 2vh;
   margin: .5vh auto;
   border: outset .6vh #eee;
   background-color: #e8e8e8;
   font-size: 3vh;
   border-radius: 1vh;
   transition: .1s;
}

.input-submit:active {
   border: inset .6vh #eee;
}