* {
   padding: 0;
   margin: 0;
}

body {
   background-image: url("/Images/New/userpage-bg.jpg");
   /* Other
   https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=1800
   https://www.freepik.com/free-vector/white-abstract-background_11852424.htm#query=background&position=9&from_view=keyword
   */
   background-size: cover;
}

.content {
   margin: 4vh;
   height: 92vh;
   display: grid;
   grid-template-areas:
   "a b b"
   "a b b"
   "a c c";
   background-color: #00000015;
   border-radius: 2vh;
   font-family: "Nunito", sans-serif;
}

.basic-info, .more-about, .activity {
   margin: 4vh;
   padding: 2vh 4vh;
   background-color: #fff;
   box-shadow: 0 0 .2vh #ddd;
   border-radius: 2vh;
}


.basic-info {
   margin-right: 0;
   grid-area: a;
   text-align: center;
   font-size: 150%;
}
.more-about { grid-area: b; margin-bottom: 0; }
.activity { grid-area: c; }

.button-1 {
   margin: 1vh;
   padding: 1.5vh 4vh;
   color: #fff;
   font-size: 3vh;
   font-family: "Nunito", sans-serif;
   background: linear-gradient(to right, #5BFF40, #40FF85);
   border: none;
   border-radius: 5vh;
}

.button-2 {
   margin: 1vh;
   padding: 1.5vh 4vh;
   color: #fff;
   font-size: 3vh;
   font-family: "Nunito", sans-serif;
   background: linear-gradient(to right, #F140FF, #FF4083);
   border: none;
   border-radius: 5vh;
}