/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Introduction Styles
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.introDarkShadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(25, 0, 0, 0.4);
   z-index: 105;
   transition: .5s;
}

.intro-container {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 32vh;
   background-color: #f5f5f5;
   font-family: "Nunito";
   display: grid;
   grid-template-columns: auto auto auto;
   transition: .5s;
}

.intro-img {
   height: 25vh;
   margin: 1.5vh;
   transition: .5s;
}

.intro-divide {
   height: 25vh;
   width: 5vh;
   margin: 1.5vh;
   transition: .5s;
}

.intro-text {
   font-size: 2.5vw;
   margin: 1.5vh;
   transition: .5s;
}

.intro-nxt-btn {
   position: absolute;
   bottom: 2vh;
   right: 2vh;
   height: 15vh;
   width: 15vh;
   text-align: center;
   background-color: #7962b6;
   color: #fff;
   font-size: 10vh;
   border-radius: 50%;
   transition: .5s;
}

.intro-nxt-btn:hover {
   box-shadow: 0 0 .5vh #7962b6,
               inset 1vh 0 4vh .8vh #ffffff4d;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Welcome
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.welcome {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   box-shadow: inset 0 -5vh 30vh 10vh #000000bb;
   backdrop-filter: sepia(.8);
   font-family: "Nunito";
   color: #fff;
   z-index: 105;
   transition: .2s;
}

.welcome-content {
   width: 100%;
   height: 100%;
   text-align: center;
}

.welcome-content h1 {
   color: #00cc66;
   text-shadow: .2vh .2vh #009d4f,
                .4vh .4vh #009d4f;
   font-size: 8vh;
   margin: 8vh 2vh 2vh 2vh;
   font-weight: 700;
}

.welcome-btn-one, .welcome-btn-two {
   height: 30vh;
   width: 45vh;
   padding: 4vh 2vh;
   text-transform: uppercase;
   border: none;
   bottom: 40vh;
   position: absolute;
   padding: 6vh;
   font-size: 3vh;
   color: #eee;
   font-family: "Nunito";
   line-height: 110%;
   border-radius: var(--border-radius);
   transition: .5s;
}

.welcome-btn-one {
   left: 20vh;
   background-color: #00cc66;
   box-shadow: 0 1vh #009d4f;
   text-align: left;
}

.welcome-btn-two {
   right: 20vh;
   background-color: #ed5d5d;
   box-shadow: 0 1vh #b94949;
   text-align: right;
}

.welcome-btn-one:hover {
   background-color: #01ba5e;
   font-size: 6vh;
   color: #fff;
   border: none;
}

.welcome-btn-two:hover {
   background-color: #d65656;
   font-size: 6vh;
   color: #fff;
   border: none;
}

.welcome-content div {
   position: absolute;
   width: 100%;
   bottom: 2vh;
   font-size: 3vh;
   text-align: center;
}

.welcome-content a { color: #3aade8; }

.wlcm-choice {
   font-size: 4vh;
   width: 50vh;
   margin: 6vh auto;
   padding: 4vh;
   line-height: 6vh;
   color: #222;
   background-color: #f8f8f8;
   border-radius: var(--border-radius);
   transition: .2s;
}

.wlcm-choice:hover { transform: scale(1.025); }
