/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Copyright November 4th 2021 by Editor Rust
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
   margin: 0;
   padding: 0;
   -webkit-user-select: none;
   user-select: none;
}
body {
   background-size: cover;
   overflow: hidden;
}

::selection { display: none;}
::-webkit-scrollbar { display: none; }


.farmtools {
   position: absolute;
   padding: 1vh;
   right: 2vh;
   bottom: 2vh;
   background-color: var(--background-blurbox-color);
   backdrop-filter: blur(5vh);
   border-radius: var(--border-radius);
   box-shadow: 0 0 .5em #22222244;
   z-index: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Central Command
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.cntrl-cmnd {
   position: absolute;
   top: 0;
   left: 0;
   width: 13vh;
   height: 100%;
   background-color: var(--background-blurbox-color);
   backdrop-filter: blur(5vh);
}

.cntrl-cmnd img {
   display: block;
   height: 8vh;
   padding: 1.5vh;
   margin: 1vh;
   transition: .2s;
}

#settings-icon {
   position: absolute;
   bottom: 0;
   transform: rotate(90deg);
}

#settings-icon:hover {
   transform: rotate(0deg) scale(1.05);
}

.cntrl-cmnd img:hover, .slider:hover {
   transform: scale(1.05);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Buttons
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

button {
   padding: 4vh;
   margin: 1vh;
   font-family: sans-serif;
   cursor: inherit;
   transition: .2s;
}
button:focus { outline: none; }
button:active { transform: scale(0.99); }
summary:focus { outline: none; }

.depth-button {
   outline: none;
   margin: 2vh;
   padding: 8vh;
   border: none;
   border-radius: var(--border-radius);
   color: #fff;
   font-size: 5vh;
   transition: .2s;
}
.depth-button:active {
   outline: none;
   transform: translateY(1vh);
}

.red { background-color: #f74040; box-shadow: 0 2vh #d61818; }
.orange { background-color: #F9A748; box-shadow: 0 2vh #DA7D12; }
.yellow { background-color: #F8F948; box-shadow: 0 2vh #EAEB12; }
.green { background-color: #3FE863; box-shadow: 0 2vh #03B428; }
.blue { background-color: #63E1FF; box-shadow: 0 2vh #16CCF8; }
.purple { background-color: #6B3FE8; box-shadow: 0 2vh #4B20C8; }

.red:active { box-shadow: 0 1vh #d61818; }
.orange:active { box-shadow: 0 1vh #DA7D12; }
.yellow:active { box-shadow: 0 1vh #EAEB12; }
.green:active { box-shadow: 0 1vh #03B428; }
.blue:active { box-shadow: 0 1vh #16CCF8; }
.purple:active { box-shadow: 0 1vh #4B20C8; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Dynamic hover
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.dynamicHover {
   z-index: 100;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   transition: opacity .1s;
   opacity: 0;
   background-color: var(--theme-color);
   color: var(--text-color);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Main values bar
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-values {
   position: fixed;
   top: -1vh;
   left: 30vw;
   width: 40vw;
   padding: 1.5vh;
   background-color: var(--theme-color);
   border-radius: 0 0 var(--border-radius) var(--border-radius);
   text-align: center;
   z-index: 1100;
   opacity: .8;
   transition: .2s;
}

.main-values:hover {
   top: 2vh;
   opacity: 1;
   border-radius: var(--border-radius);
}

.main-value {
   display: inline-block;
   width: 20vh;
   text-align: center;
   font-size: 3.2vh;
   font-family: "Nunito";
   color: var(--text-color);
}

.main-values img {
   margin: 0 0 -1.5vh .5vh;
   height: 5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Farmland and Plots
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.land {
   position: relative;
   height: 95vh;
   width: 95vh;
   margin: 2vh auto;
   padding: .6vh;
   background-color: rgb(0, 0, 0, .3);
   border-radius: var(--border-radius);
   transition: .5s;
   display: grid;
   grid-template-areas:
   "auto auto auto"
   "auto auto auto"
   "auto auto auto";
}
.plot {
   background-image: url("../Images/Plots/plot.png");
   background-size: cover;
   margin: .35vh;
   border-radius: var(--border-radius);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .2s;
   position: relative;
}
.open-plot { display: none; }
#openPlot5 { display: block; }

/* Buttons */
.btn {
   font-size: 2.8vh;
   height: 20vh;
   width: 20vh;
   transition: .2s;
   border-radius: 50%;
   border: solid .5vh rgb(100, 149, 237, .3);
   background: none;
   backdrop-filter: blur(.4vh);
   box-shadow: inset -1vh 1vh 2.5vh rgb(255, 255, 255, .25);
   font-family: "Roboto Condensed";
   padding: .2vh;
   color: #fff;
   font-weight: 600;
   letter-spacing: .06ch;
   pointer-events: auto;
   opacity: 1;
}
.btn:hover {
   transform: translateY(-1vh) scale(1.05);
   box-shadow: inset -1vh -1vh 2.5vh rgb(255, 255, 255, .25),
               0 .5vh 1vh #4b3200;
}
.veg-icon {
   height: 8vh;
   position: absolute;
   top: .5vh;
   left: .5vh;
   transition: .1s;
}

.veg-icon:hover {
   filter: drop-shadow(0 0 .2vh #36280088);
   transform: scale(1.1);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Close modal buttons
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.close {
   position: absolute;
   top: 0;
   right: 0;
   margin: .3em;
   border: solid #f5b803 .8vh;
   height: 1.35em;
   width: 1.35em;
   padding: 0;
   border-radius: 50%;
   color: #f5b803;
   background-color: #fff;
   font-size: 6vh;
   font-family: "Nuntio", sans-serif;
   box-sizing: border-box;
   transition: .2s;
}
.close:hover {
   background-color: #f5b803;
   color: #fff;
   transform: scale(1.1);
}
.close:active {
   background-color: #f5b803;
   color: #fff;
   transform: scale(1);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Defualt modal (only used for settings)
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.shadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   transition: .3s;
}

.modalContent {
   height: 100%;
   padding: 8vh 0;
   text-align: center;
   font-size: 8vh;
   font-family: "Nunito";
   transition: .3s;
   position: relative;
   box-sizing: border-box;
   overflow: scroll;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Context Menu
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 40vh;
   position: fixed;
   z-index: 100;
   display: none;
   background: #fff;
   border-radius: var(--border-radius);
}

#menu li {
   list-style-type: none;
   margin: .5vh;
   padding: 1.5vh 4vh;
   font-family: Nunito;
   font-size: 3.2vh;
   border-radius: var(--border-radius);
   transition: .2s;
}

#menu li:hover {
   padding-left: 5.5vh;
   background-color: #fafafa;
}

#menu hr {
   border: 0.15vh solid #ebebeb;
   border-bottom: 0;
}

#menu a {
   font-size: 3.2vh;
   text-decoration: none;
   color: #54abd3;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Quick information menu
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.qIM {
   position: fixed;
   z-index: 90;
   display: none;
   font-family: "Nunito";
   font-size: 3vh;
   background-color: var(--theme-color);
   color: var(--text-color);
   border-radius: var(--border-radius);
   padding: 4vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Intro
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.quest-arrow {
   display: none;
}

.welcome {
   height: 0;
   pointer-events: none;
   opacity: 0;
}

.intro-container {
   height: 0;
   overflow: hidden;
}

.big-title {
   text-align: center;
   font-family: "Capriola";
   text-transform: uppercase;
   font-size: 8vh;
   margin-bottom: 3vh;
   color: #8bf9c2;
   text-shadow: .5vh .5vh #44a89b;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Toolbar
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.toolbar {
   position: absolute;
   top: 2vh;
   right: 2vh;
   background-color: var(--background-blurbox-color);
   backdrop-filter: blur(5vh);
   border-radius: var(--border-radius);
   box-shadow: 0 0 .5em #22222244;
   padding: 1vh 3vh;
   transition: .2s;
   font-family: "Nunito";
}
.produce-tooltip {
   position: relative;
   width: auto;
   margin: auto;
   text-align: center;
}
.produce-image {
   height: 4vh;
   margin: 0 .5vh -.8vh .5vh;
}
.toolbar-img {
   height: 10vh;
   margin: 1.2vh 0;
}
.produce-tooltip .tooltip-text {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   width: 20vh;
   min-height: 12vh;
   background-color: var(--theme-color);
   text-align: center;
   border-radius: var(--border-radius);
   padding: .5vh 0;
   font-size: 3vh;
   color: var(--text-color);
   top: -1vh;
   right: 120%;
   z-index: 1;
   transition: .3s;
   transition-delay: .2s;
}
.produce-tooltip .tooltip-text-produce {
   min-width: 50vh;
   height: auto;
   padding: 2vh 0;
}
.produce-tooltip .tooltip-text::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 100%;
   margin-top: -1vh;
   border-width: 1vh;
   border-style: solid;
   border-color: transparent transparent transparent var(--theme-color);
}
.produce-tooltip .tooltip-text-produce::after { top: 7vh; }
.produce-tooltip:hover .tooltip-text {
   opacity: 1;
   pointer-events: auto;
}

.farmtool-img {
   height: 8vh;
   width: 8vh;
   margin: .75vh;
   filter: drop-shadow(0 0 .2vh #36280088);
   transition: .15s;
}

.farmtool-img:hover {
   filter: drop-shadow(0 0 .4vh #362800);
   transform: scale(1.1);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Pick a plant
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.almanacBtn {
   position: absolute;
   bottom: .5vh;
   left: .5vh;
   background-color: transparent;
   outline: none;
   border: none;
   padding: 0;
   transition: .2s;
}

.almanac {
   height: 8vh;
}

.almanac:hover {
   filter: drop-shadow(0 0 .2vh #362800);
   transform: scale(1.1);
}

.shop-window {
   position: absolute;
   top: 2.5%;
   right: 2.5%;
   bottom: 2.5%;
   height: 0;
   width: 8vh;
   text-align: center;
   background-color: var(--background-blurbox-color);
   backdrop-filter: blur(5vh);
   border-radius: var(--border-radius);
   list-style-type: none;
   overflow-y: scroll;
   transition: all .8s ease;
   z-index: 4;
}
.shop-window li {
   margin: 1.2vh;
}
.store-icon {
   height: 5vh;
   transition: .2s;
}
.store-icon:hover {
   transform: scale(1.2);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Weather
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.weather-short {
   position: fixed;
   height: 15vh;
   width: 15vh;
   right: 2vh;
   top: 19vh;
   background-color: rgb(59, 74, 167, .9);
   border: solid .5vh rgb(42, 50, 102, .9);
   border-radius: var(--border-radius);
   overflow: hidden;
   overflow: scroll;
   display: grid;
   grid-template-areas:
   "a b"
   "d d"
   "c c";
   transition: .6s;
   transition-delay: .3s;
}
.weather-short:hover {
   height: 45vh;
   width: 35vh;
}
.weather-short .weather-img {
   grid-area: a;
   height: 15vh;
   width: 15vh;
   transition: all .1s, margin .8s;
   transition-delay: .3s;
}
.weather-short:hover .weather-img { margin: 1vh 2vh; }
.weather-next, .weather-last { height: 8vh; width: 8vh; margin: 2vh auto; }
.weather-name {
   grid-area: b;
   font-size: 4.5vh;
   font-family: "Nunito";
   font-weight: 700;
   color: #f5f5f5;
   text-align: center;
   padding-top: 3vh;
}
.weather-description {
   grid-area: c;
   font-size: 4vh;
   font-family: "Nunito";
   color: #f5f5f5;
   text-align: center;
}
.weather-time {
   grid-area: d;
   font-size: 3.5vh;
   font-family: "Nunito";
   color: #f5f5f5;
   text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Time left
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.time-left img {
   height: 5vh;
   margin: .5vh;
   position: sticky;
   opacity: .7;
}
.plot:hover .time-left img {
   height: 0;
   width: 0;
}
.time-left {
   position: absolute;
   right: .5vh;
   bottom: .5vh;
   border: outset .7vh var(--background-blurbox-color);
   padding: .1vh;
   border-radius: var(--border-radius);
   height: 5vh;
   width: 5vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--background-blurbox-color);
   color: var(--text-color);
   font-family: "Nunito";
   font-size: 0;
   overflow: scroll;
   transition: .2s;
   transition: width .3s;
   transform: scale(.9);
   backdrop-filter: blur(5vh);
}
.plot:hover .time-left {
   width: 12vh;
   font-size: 2.5vh;
   transform: scale(1);
   border: outset .7vh var(--background-blurbox-color);
   background-color: var(--background-blurbox-color);
   z-index: 4;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Other
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.darkFadeText { color: #505050; }

.vegAmount { display: none; }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Weeds
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.weed {
   position: absolute;
   height: 6vh;
   width: 6vh;
   z-index: 1;
   transform: scale(0);
   transition: transform .5s;
}
.weed:hover { animation: weed-found 1s; }
@keyframes weed-found {
   0% { transform: rotate(0); }
   25% { transform: rotate(15deg); }
   50% { transform: rotate(-15deg); }
   75% { transform: rotate(15deg); }
   100% { transform: rotate(0); }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Settings
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.settings {
   background-color: var(--theme-color);
   color: var(--text-color);
   font-size: 2em;
}

.setting-button {
   border-radius: var(--border-radius);
   padding: 3vh 6vh;
   margin: .5vh auto;
   width: 35vw;
   border: none;
   font-size: 3vh;
   display: inline;
   font-family: "Nunito";
}
.settings h1 { font-weight: 200; }
.theme-clr {
   width: 30vw;
   background-color: #dfdfdf;
}
.setting-button:active { transform: scale(0.95); }

.import-export {
   display: grid;
   grid-template-columns: 50% 50%;
   margin: 15vh 0;
}

.import-export img {
   height: 20vh;
}

.version-info {
   margin: 0 10vh;
   text-align: left;
}