/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Market
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.market {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: url("../Images/Market/bustling.png");
   background-size: cover;
   background-color: #262626;
   text-align: center;
   font-family: "Roboto Condensed";
   cursor: url("../Images/Cursors/money.png"), auto;
   overflow: scroll;
   transition: 0.8s;
}

.market-item {
   display: none;
   height: 45vh;
   width: 95%;
   margin: 2vh auto;
   border-radius: var(--border-radius);
   transition: 0.2s;
   font-size: 5vh;
   position: relative;
   background-color: #f5f5f5;
   overflow: hidden;
}

.marketVegetables .market-item {
   height: 45vh;
   width: 40vh;
   margin: 2vh .5vh;
   background-color: #f5f5f540;
   background-size: 40vh 45vh;
   background-image: url("../Images/Market/market-stall.png");
}

.marketVegetables .market-item-content {
   height: 12vh;
   width: 28vh;
   margin: 14vh auto 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: pre-line;
   color: #fff;
}

.market-item-content {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: pre-line;
   transition: 0.2s;
}

.accept-deny {
   position: absolute;
   left: 25%;
   bottom: 3vh;
   height: 10vh;
   width: 50%;
   border-radius: var(--border-radius);
   overflow: hidden;
   transition: 0.2s;
}

.buy-sell:hover { box-shadow: 0 0 .5vh #262626; }

.marketVegetables .market-item-buy, .marketVegetables .market-item-sell {
   position: absolute;
   bottom: 3.5vh;
   height: 11vh;
   width: 11vh;
   padding-top: 3vh;
   box-sizing: border-box;
   font-size: 4vh;
   border-radius: var(--border-radius);
   transition: 0.2s;
}

.market-item-buy {
   left: 5vh;
   background-color: #ACF39D;
}

.market-item-sell {
   right: 5vh;
   background-color: #F76B62;
}

.market-item-buy:hover { background-color: #8EE27C; }
.market-item-sell:hover { background-color: #F24236; }

.accept-deny .buy-sell {
   position: absolute;
   left: 35%;
   bottom: 3vh;
   height: 10vh;
   width: 30%;
   border-radius: var(--border-radius);
   overflow: hidden;
   transition: 0.2s;
}

.accept-deny .market-item-buy {
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: #3e75ff;
   height: 5vh;
   width: 100%;
   transition: 0.2s;
   font-size: 4vh;
}

.accept-deny .market-item-sell {
   float: bottom;
   position: absolute;
   left: 0;
   background-color: #F76B62;
   height: 5vh;
   width: 100%;
   transition: 0.2s;
   font-size: 4vh;
}

.reset-market-item {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #222;
}
.market-hover h1 {
   text-transform: uppercase;
   font-size: 8vh;
}

.market-hover p {
   font-size: 4vh;
   padding: 0 6vh;
   display: inline;
}

.use-market-reset-button {
   padding: 2vh;
   font-size: 3vh;
   border-radius: var(--border-radius);
   border: solid .4vh rgb(0, 0, 0, .2);
   background-color: #ffd700;
   font-family: "Roboto Condensed";
   color: #343cb9;
   font-weight: 600;
   width: 20vh;
   position: absolute;
   bottom: 1vh;
   right: 1vh;
}

.market-veg-img {
   height: 8vh;
   position: absolute;
   top: 1.5vh;
   left: 16vh;
}

.market-disclaimer {
   margin: 7vh 0 2vh 0;
   color: #fff;
   font-size: 6vh;
   text-shadow: 0 0 2vh #22222288;
}

.market-reset-about-text {
   font-size: 70%;
   color: #444;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Black Market
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.BM-parent {
   display: grid;
   grid-template-columns: 20% 80%;
   margin: 0 2vh;
   height: 90%;
   width: calc(100% - 4vh);
   background-color: #fff;
   border-radius: var(--border-radius);
}

.BM-menu {
   position: relative;
   margin: 1vh;
   background-color: #fdfdfd;
   border-radius: var(--border-radius);
}

.BM-menu-item {
   padding: 1vh;
   margin: 1vh;
   font-size: 4vh;
   font-weight: 400;
   background-color: #f6f6f6;
   border-radius: var(--border-radius);
}
.BM-menu-item:nth-child(1) {
   background-color: #ededed;
}

.BM-offerbox {
   position: relative;
   margin: 1vh 1vh 1vh 0;
   background-color: #fdfdfd;
   border-radius: var(--border-radius);
}

.BM-offerbox-info {
   display: grid;
   grid-template-columns: 33.33333% 33.33333% 33.33333%;
}

.BM-choice {
   position: absolute;
   display: grid;
   grid-template-columns: 50% 50%;
   bottom: 0;
   width: 100%;
}

.BM-menu-bottom {
   position: absolute;
   bottom: 0vh;
}

.BM-accept {
   margin: 1vh;
   padding: 1vh;
   background-color: #25fd5f;
   border-top: solid 0 #fdfdfd;
   border-bottom: solid 1vh #1ddc50;
   border-radius: var(--border-radius);
   transition: 0.1s;
}

.BM-accept:hover {
   border-top: solid 1vh #fdfdfd;
   border-bottom: solid 0 #1ddc50;
}

.BM-decline {
   margin: 1vh 1vh 1vh 0;
   padding: 1vh;
   background-color: #fc2525;
   border-top: solid 0 #fdfdfd;
   border-bottom: solid 1vh #d11e1e;
   border-radius: var(--border-radius);
   transition: 0.1s;
}

.BM-decline:hover {
   border-top: solid 1vh #fdfdfd;
   border-bottom: solid 0 #d11e1e;
}

.blackMarketHome {
   background-image: url("../Images/Market/black-market.png");
   background-size: cover;
   background-position: center;
}

.blackMarket {
   min-height: 100%;
   margin: 0;
   box-shadow: inset 2vh 2vh 6vh #000,
               inset -2vh -2vh 6vh #000;
   background-image: url("../Images/Market/black-market.png");
   background-size: cover;
   background-position: center;
   background-color: var(--theme-color);
}

.BM-doughnuts {
   position: relative;
   text-align: center;
   font-size: 2.8vh;
   transition: .2s;
}

.BM-doughnuts:hover {
   transform: scale(1.1);
   box-shadow: 0 0 .5vh #22222244;
}

.black-doughnut {
   height: 8vh;
}

.bmo-seller, .bmo-offer, .bmo-price { font-size: 10vh; }

.doughnuts-in-bm {
   font-size: 3vh;
   padding: 3vh .5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Market Exchanges
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.market-exchange-content {
   padding-bottom: 5vh;
   display: grid;
   grid-template-columns: 33.33333% 33.33333% 33.33333%;
}
.exchange-market-item { width: 30vw; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Shop
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.buy-plots-seeds {
   display: none;
   margin: 2vh;
   padding: 2vh;
   background-color: #fff;
   border-radius: var(--border-radius);
   box-shadow: 0 0 .4vh #bbb;
}

.buy-plots-seeds img {
   display: block;
   height: 40vh;
   background-color: #f5f5f5;
   border-radius: var(--border-radius);
}

.buy-plots-seeds button {
   margin: 2vh 0 0 0;
   background-color: #f5f5f5;
   color: #222;
   border: none;
   width: 100%;
   border-radius: var(--border-radius);
   box-sizing: border-box;
}
